1. Análise de Consistência de Dados: Identificar e corrigir inconsistências nos valores de "Área" e "Status de Emprego" (e.g., diferenças de maiúsculas/minúsculas).
2. Limpeza de Dados Faltantes: Detectar e tratar os valores ausentes na coluna "Idade" e "Área".
3. Distribuição de Idade: Analisar a distribuição da idade dos funcionários por departamento.
4. Salário por Departamento: Calcular a média, mediana e desvio padrão dos salários por departamento.
5. Análise de Outliers: Identificar salários que estão fora do padrão (outliers) para cada departamento.
6. Correlação Idade-Salário: Analisar a correlação entre idade e salário dos funcionários.
7. Tempo de Casa: Calcular o tempo de contratação dos funcionários e categorizá-los em grupos (e.g., 1-3 anos, 4-6 anos, etc.).
8. Análise de Rotatividade: Identificar padrões entre os funcionários que estão ativos versus os que não estão.
9. Análise de Desempenho por Data de Contratação: Verificar se existe uma correlação entre o ano de contratação e o nível de salário.
10. Histograma de Salário: Criar um histograma de salários para visualizar a distribuição geral.
11. Análise de Frequência: Quantificar a frequência dos nomes dos funcionários para identificar nomes comuns.
12. Agrupamento de Departamentos: Analisar o impacto do departamento na variação salarial e na distribuição de idade.
13. Normalização de Dados: Normalizar o salário e idade para comparações entre diferentes departamentos.
14. Proporção de Gêneros: Analisar a proporção de gêneros entre os funcionários, caso houvesse uma coluna de gênero.
15. Correção de Formato de Data: Uniformizar o formato das datas de contratação.
16. Impacto de Status no Salário: Comparar salários médios entre funcionários ativos e não ativos.
17. Data de Contratação e Demografia: Relacionar a data de contratação com a idade dos funcionários na época da contratação.
18. Distribuição de Status de Emprego: Analisar a distribuição do status de emprego (ativo vs. não ativo).
19. Criação de Coluna de Idade de Contratação: Criar uma coluna que calcule a idade do funcionário na época da contratação e analisar os dados.
20. Análise de Promoções: Analisar possíveis promoções dentro da empresa ao comparar datas de contratação e aumentos salariais, se houvesse uma coluna histórica de salários.
21. Análise de Desempenho Temporal: Verificar se o tempo de casa influencia o salário ou a permanência no emprego.
22. Filtragem por Data de Contratação: Identificar funcionários contratados em períodos específicos (e.g., antes de 2019, entre 2019-2020).
23. Análise de Status de Emprego e Tempo de Casa: Verificar a relação entre tempo de casa e status de emprego (ativo vs. não ativo).
24. Identificação de Funcionários Veteranos: Encontrar os funcionários com maior tempo de casa e analisar seu impacto na empresa.
25. Análise de Tendências de Contratação: Identificar padrões de contratação ao longo do tempo, como sazonalidade.
26. Salário Máximo e Mínimo por Departamento: Determinar os salários mais altos e mais baixos dentro de cada departamento.
27. Classificação de Funcionários por Salário: Criar rankings de funcionários por salário dentro de cada departamento.
28. Projeção de Aposentadoria: Estimar o número de funcionários que podem se aposentar em breve com base na idade.
29. Segmentação de Funcionários por Faixa Salarial: Agrupar funcionários em faixas salariais (e.g., 2000-3000, 3001-4000) e analisar a distribuição.
30. Análise de Equidade Salarial: Verificar se há desigualdade salarial dentro de departamentos específicos.
31. Comparação de Salários por Período de Contratação: Comparar os salários de funcionários contratados em diferentes anos para identificar tendências de aumento salarial.
32. Criação de Coluna de Faixa Etária: Agrupar os funcionários em faixas etárias (e.g., 20-30 anos, 31-40 anos) e analisar diferenças entre elas.
33. Relação Entre Área e Tempo de Contratação: Identificar se alguns departamentos tendem a manter seus funcionários por mais tempo do que outros.
34. Previsão de Turnover: Usar dados históricos para prever quais funcionários têm maior probabilidade de deixar a empresa.
35. Análise de Homogeneidade Salarial: Verificar a homogeneidade dos salários dentro de cada departamento.
36. Detecção de Funcionários Com Anomalias: Identificar funcionários com salários e idades que destoam significativamente dos outros no mesmo departamento.
37. Comparação de Salários por Região: Se houvesse uma coluna de localização, comparar os salários entre diferentes regiões.
38. Criação de Métricas Personalizadas: Desenvolver novas métricas como "salário ajustado pela idade" ou "tempo de casa ajustado pela idade".
39. Análise de Recrutamento Recente: Focar na análise dos funcionários contratados nos últimos 12 meses para ver tendências.
40. Distribuição de Funcionários por Departamento: Quantificar o número de funcionários por departamento e comparar com a média salarial.
41. Análise de Rotatividade por Departamento: Verificar se há departamentos com alta rotatividade de funcionários.
42. Comparação de Salários por Gênero: Se houvesse uma coluna de gênero, comparar os salários médios entre homens e mulheres.
43. Correlação Entre Status de Emprego e Desempenho Salarial: Avaliar se há diferença significativa de salários entre diferentes status de emprego.
44. Análise de Impacto de Promoções: Se houvesse dados de promoções, analisar o impacto das promoções no salário ao longo do tempo.
45. Projeção de Custos Salariais: Calcular o custo projetado para a empresa em termos de salários nos próximos anos.
46. Análise de Desempenho por Escolaridade: Se houvesse uma coluna de escolaridade, analisar o impacto da escolaridade no salário.
47. Comparação Entre Funcionários com Benefícios: Se houvesse dados de benefícios, comparar o salário entre funcionários que recebem ou não benefícios.
48. Análise de Desempenho por Formação Acadêmica: Se houvesse uma coluna de formação, analisar como diferentes formações afetam o salário e tempo de casa.
49. Previsão de Salários Futuros: Usar regressão linear ou outros modelos para prever o crescimento salarial futuro.
50. Identificação de Padrões de Promoção Interna: Analisar os padrões de promoção dentro da empresa ao longo dos anos.

In [99]:
from pyspark.sql import DataFrame, SparkSession
from pyspark.sql.functions import col, round, avg, min, max, stddev, regexp_replace
from pyspark.sql.types import DoubleType
from unidecode import unidecode

## Utils

In [82]:
from pyspark.sql.functions import initcap

def clean_column_names(df):

    if isinstance(df, DataFrame):
      for col in df.columns:
        df = df.withColumnRenamed(col, unidecode(col.lower().replace(' ', '_')))
    else:
      for col in df.columns:
        df.rename(columns={col:unidecode(col.lower().replace(' ', '_'))}, inplace=True)

    return df

    
def translate_first_letter_uppercase_df(df, subset=[]):
    if not subset:
        subset = df.columns
    
    for column in subset:
        df = df.withColumn(column, initcap(column))
    
    return df

In [83]:
# Create a PySpark session
spark = SparkSession.builder.appName("Atividade_04_pyspark").getOrCreate()

In [84]:
dir_dataset = '/home/jovyan/code/dataset/'
dataset = 'base_suja.csv'

df = spark.read.csv(dir_dataset + dataset, header=True, inferSchema=True)
df = clean_column_names(df)
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- idade: integer (nullable = true)
 |-- area: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- data_de_contratacao: string (nullable = true)
 |-- status_de_emprego: string (nullable = true)

### 1. Análise de Consistência de Dados: Identificar e corrigir inconsistências nos valores de "Área" e "Status de Emprego" (e.g., diferenças de maiúsculas/minúsculas).

In [85]:
df = translate_first_letter_uppercase_df(df,subset=['area','status_de_emprego'])
df.show()

+---+--------------+-----+----------+-------+-------------------+-----------------+
| id|          nome|idade|      area|salario|data_de_contratacao|status_de_emprego|
+---+--------------+-----+----------+-------+-------------------+-----------------+
|  1|    João Silva|   29|Financeiro|   5500|         01/02/2020|            Ativo|
|  2|   Maria Souza|   30|        Rh|   4800|         15-03-2019|            Ativo|
|  3|Carlos Pereira| NULL| Finaceiro|   6200|         2020/04/01|            Ativo|
|  4|     Ana Clara|   27| Marketing|   4800|         12/06/2018|            Ativo|
|  5|  Fabio Santos|   31|      NULL|   5500|         20-11-2017|            Ativo|
|  6|   Sandra Lima|   28|        Rh|   NULL|         05-05-2020|            Ativo|
|  7|    José Alves|   34| Marketing|   5400|         2018/02/01|          Inativo|
|  8| Luciana Costa|   30|Financeiro|R$ 5200|         01.01.2019|            Ativo|
|  9| Paulo Ricardo| NULL| Finaceiro|   6100|         12/12/2020|          Inativo|
| 10| Fernanda Dias|   29|        Rh|   4800|               NULL|            Ativo|
|  1|    João Silva|   29|Financeiro|   5500|         01/02/2020|            Ativo|
+---+--------------+-----+----------+-------+-------------------+-----------------+

## 2. Limpeza de Dados Faltantes: Detectar e tratar os valores ausentes na coluna "Idade" e "Área".

In [86]:
df.na.drop(how='any', subset=[]) ## list com nomes das colunas
df = df.na.drop(how='any') # any | all | thresh 
df.show()

+---+-------------+-----+----------+-------+-------------------+-----------------+
| id|         nome|idade|      area|salario|data_de_contratacao|status_de_emprego|
+---+-------------+-----+----------+-------+-------------------+-----------------+
|  1|   João Silva|   29|Financeiro|   5500|         01/02/2020|            Ativo|
|  2|  Maria Souza|   30|        Rh|   4800|         15-03-2019|            Ativo|
|  4|    Ana Clara|   27| Marketing|   4800|         12/06/2018|            Ativo|
|  7|   José Alves|   34| Marketing|   5400|         2018/02/01|          Inativo|
|  8|Luciana Costa|   30|Financeiro|R$ 5200|         01.01.2019|            Ativo|
|  1|   João Silva|   29|Financeiro|   5500|         01/02/2020|            Ativo|
+---+-------------+-----+----------+-------+-------------------+-----------------+

### 3. Distribuição de Idade: Analisar a distribuição da idade dos funcionários por departamento.3. Distribuição de Idade: Analisar a distribuição da idade dos funcionários por departamento.

In [102]:

df_age_departament = df.select('idade','area')
departaments = df_age_departament.select('area').distinct().collect()
departaments = [row['area'] for row in departaments]

df_age_departament.select('idade').summary() \
    .withColumn('idade', round(col('idade'), 2)) \
        .show() # alternativo para describe()

for departament in departaments:
    print(f'Analise de distribuição do {departament}')
    df_age_departament.filter(df_age_departament.area == departament)\
        .select('idade')\
        .summary()\
        .withColumn('idade', round(col('idade')))\
        .show()

+-------+-----+
|summary|idade|
+-------+-----+
|  count|  6.0|
|   mean|29.83|
| stddev| 2.32|
|    min| 27.0|
|    25%| 29.0|
|    50%| 29.0|
|    75%| 30.0|
|    max| 34.0|
+-------+-----+

Analise de distribuição do Rh
+-------+-----+
|summary|idade|
+-------+-----+
|  count|  1.0|
|   mean| 30.0|
| stddev| NULL|
|    min| 30.0|
|    25%| 30.0|
|    50%| 30.0|
|    75%| 30.0|
|    max| 30.0|
+-------+-----+

Analise de distribuição do Financeiro
+-------+-----+
|summary|idade|
+-------+-----+
|  count|  3.0|
|   mean| 29.0|
| stddev|  1.0|
|    min| 29.0|
|    25%| 29.0|
|    50%| 29.0|
|    75%| 30.0|
|    max| 30.0|
+-------+-----+

Analise de distribuição do Marketing
+-------+-----+
|summary|idade|
+-------+-----+
|  count|  2.0|
|   mean| 31.0|
| stddev|  5.0|
|    min| 27.0|
|    25%| 27.0|
|    50%| 27.0|
|    75%| 34.0|
|    max| 34.0|
+-------+-----+

### 4. Salário por Departamento: Calcular a média, mediana e desvio padrão dos salários por departamento.

In [100]:


df_salary_departament = df.select('salario', 'area')
df_salary_departament.show()
df_salary_departament.printSchema()

df_salary_departament = df_salary_departament.withColumn('salario', regexp_replace(col('salario'),"R\\$","" ))\
    .withColumn('salario',col('salario').cast(DoubleType()))

for departament in departaments:
    print(f'Estasticas dos departamentos: {departament}')    
    df_stats = df_salary_departament \
        .groupBy('area') \
        .agg(
            round(avg('salario')).alias('media_salario'),
            min('salario').alias('salario_minimo'),
            max('salario').alias('salario_maximo'),
            round(stddev('salario')).alias('desvio_padrao_salario')
        ).filter(col('area') == departament) \
        .show()

+-------+----------+
|salario|      area|
+-------+----------+
|   5500|Financeiro|
|   4800|        Rh|
|   4800| Marketing|
|   5400| Marketing|
|R$ 5200|Financeiro|
|   5500|Financeiro|
+-------+----------+

root
 |-- salario: string (nullable = true)
 |-- area: string (nullable = true)

Estasticas dos departamentos: Rh
+----+-------------+--------------+--------------+---------------------+
|area|media_salario|salario_minimo|salario_maximo|desvio_padrao_salario|
+----+-------------+--------------+--------------+---------------------+
|  Rh|       4800.0|        4800.0|        4800.0|                 NULL|
+----+-------------+--------------+--------------+---------------------+

Estasticas dos departamentos: Financeiro
+----------+-------------+--------------+--------------+---------------------+
|      area|media_salario|salario_minimo|salario_maximo|desvio_padrao_salario|
+----------+-------------+--------------+--------------+---------------------+
|Financeiro|       5400.0|        5200.0|        5500.0|                173.0|
+----------+-------------+--------------+--------------+---------------------+

Estasticas dos departamentos: Marketing
+---------+-------------+--------------+--------------+---------------------+
|     area|media_salario|salario_minimo|salario_maximo|desvio_padrao_salario|
+---------+-------------+--------------+--------------+---------------------+
|Marketing|       5100.0|        4800.0|        5400.0|                424.0|
+---------+-------------+--------------+--------------+---------------------+

## 5. Análise de Outliers: Identificar salários que estão fora do padrão (outliers) para cada departamento.

## Referencias

- https://colab.research.google.com/drive/10EufW2wlVEy3NJZtkDa6h6cyhWjP2TfD?usp=sharing#scrollTo=2jrxJJzHcHX2 (Professor: Adriano Gomes) 

- https://www.analyticsvidhya.com/blog/2022/05/data-preprocessing-using-pyspark-handling-missing-values/ (limpeza de dados)
- https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.initcap.html

## 4. Elabore Análises com filtros e agrupamentos aprendidos em PySpark na aula de ontem

In [89]:
# shape da matriz
print((df.count(), len(df.columns)))

(6, 7)

In [90]:
df.sample(False,0.1).show(1) #(probabilidade vazio, chance de ser sorteado novamente)

+---+----+-----+----+-------+-------------------+-----------------+
| id|nome|idade|area|salario|data_de_contratacao|status_de_emprego|
+---+----+-----+----+-------+-------------------+-----------------+
+---+----+-----+----+-------+-------------------+-----------------+

In [91]:
df_tmp = df.rdd.map(lambda row:row).zipWithIndex().toDF()

df_tmp.first() # primeira linha

Row(_1=Row(id=1, nome='João Silva', idade=29, area='Financeiro', salario='5500', data_de_contratacao='01/02/2020', status_de_emprego='Ativo'), _2=0)

In [92]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- idade: integer (nullable = true)
 |-- area: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- data_de_contratacao: string (nullable = true)
 |-- status_de_emprego: string (nullable = true)

In [93]:
# Display the summary statistics of the data
df.describe().show()

+-------+------------------+-----------+------------------+----------+------------------+-------------------+-----------------+
|summary|                id|       nome|             idade|      area|           salario|data_de_contratacao|status_de_emprego|
+-------+------------------+-----------+------------------+----------+------------------+-------------------+-----------------+
|  count|                 6|          6|                 6|         6|                 6|                  6|                6|
|   mean|3.8333333333333335|       NULL|29.833333333333332|      NULL|            5200.0|               NULL|             NULL|
| stddev| 3.060501048303474|       NULL|2.3166067138525404|      NULL|367.42346141747674|               NULL|             NULL|
|    min|                 1|  Ana Clara|                27|Financeiro|              4800|         01.01.2019|            Ativo|
|    max|                 8|Maria Souza|                34|        Rh|           R$ 5200|         2018/02/01|          Inativo|
+-------+------------------+-----------+------------------+----------+------------------+-------------------+-----------------+

In [94]:
df.show(5)

+---+-------------+-----+----------+-------+-------------------+-----------------+
| id|         nome|idade|      area|salario|data_de_contratacao|status_de_emprego|
+---+-------------+-----+----------+-------+-------------------+-----------------+
|  1|   João Silva|   29|Financeiro|   5500|         01/02/2020|            Ativo|
|  2|  Maria Souza|   30|        Rh|   4800|         15-03-2019|            Ativo|
|  4|    Ana Clara|   27| Marketing|   4800|         12/06/2018|            Ativo|
|  7|   José Alves|   34| Marketing|   5400|         2018/02/01|          Inativo|
|  8|Luciana Costa|   30|Financeiro|R$ 5200|         01.01.2019|            Ativo|
+---+-------------+-----+----------+-------+-------------------+-----------------+
only showing top 5 rows

In [95]:
df.orderBy(col('idade').desc()).show(5)

+---+-------------+-----+----------+-------+-------------------+-----------------+
| id|         nome|idade|      area|salario|data_de_contratacao|status_de_emprego|
+---+-------------+-----+----------+-------+-------------------+-----------------+
|  7|   José Alves|   34| Marketing|   5400|         2018/02/01|          Inativo|
|  2|  Maria Souza|   30|        Rh|   4800|         15-03-2019|            Ativo|
|  8|Luciana Costa|   30|Financeiro|R$ 5200|         01.01.2019|            Ativo|
|  1|   João Silva|   29|Financeiro|   5500|         01/02/2020|            Ativo|
|  1|   João Silva|   29|Financeiro|   5500|         01/02/2020|            Ativo|
+---+-------------+-----+----------+-------+-------------------+-----------------+
only showing top 5 rows

In [96]:
# Ìndice PySpark
'''
Em PySpark não temos suporte direto à índices, pois os dados
não estão alocados em disco, mas podemos fazer ajustes técnicos (gambiarra)
como veremos mais pra frente.
'''

df.select(df.columns[0]).show(5)
df.select(col('idade')).show(5)

+---+
| id|
+---+
|  1|
|  2|
|  4|
|  7|
|  8|
+---+
only showing top 5 rows

+-----+
|idade|
+-----+
|   29|
|   30|
|   27|
|   34|
|   30|
+-----+
only showing top 5 rows

In [97]:
df.filter(col('idade') > 30).show(5) # pelo rotulo (cabecalho)

+---+----------+-----+---------+-------+-------------------+-----------------+
| id|      nome|idade|     area|salario|data_de_contratacao|status_de_emprego|
+---+----------+-----+---------+-------+-------------------+-----------------+
|  7|José Alves|   34|Marketing|   5400|         2018/02/01|          Inativo|
+---+----------+-----+---------+-------+-------------------+-----------------+

In [98]:
rows = df.collect() # retorna uma lista de das linhas (big dataset -> out of memory)
# len(rows)

select_rows = [rows[x] for x in [0,3,5]]
print(select_rows)
print(type(select_rows))
print('-'*80)

df_select_rows = spark.createDataFrame(select_rows, df.schema)
df_select_rows

[Row(id=1, nome='João Silva', idade=29, area='Financeiro', salario='5500', data_de_contratacao='01/02/2020', status_de_emprego='Ativo'), Row(id=7, nome='José Alves', idade=34, area='Marketing', salario='5400', data_de_contratacao='2018/02/01', status_de_emprego='Inativo'), Row(id=1, nome='João Silva', idade=29, area='Financeiro', salario='5500', data_de_contratacao='01/02/2020', status_de_emprego='Ativo')]
<class 'list'>
--------------------------------------------------------------------------------

DataFrame[id: int, nome: string, idade: int, area: string, salario: string, data_de_contratacao: string, status_de_emprego: string]

## Referencias
- https://medium.com/@dipan.saha/pyspark-made-easy-day-2-execute-pyspark-on-google-colabs-f3e57da946a