## 1 Realizar deploy da base dados em anexo em um bucket/GCP via colab

In [37]:
# imports
import os
import io
import pandas as pd
import mysql.connector
from mysql.connector import Error
from google.cloud import storage
from pyspark.sql import DataFrame, SparkSession
from unidecode import unidecode

from sqlalchemy import Column, Integer, Float, String, Boolean, DateTime, Text
from sqlalchemy.orm import declarative_base

In [2]:
def clean_column_names(df):

    if isinstance(df, DataFrame):
        for col in df.columns:
            df = df.withColumnRenamed(col, unidecode(col.lower().replace(' ', '_')))
    else:
        for col in df.columns:
            df.rename(columns={col:unidecode(col.lower().replace(' ', '_'))}, inplace=True)

    return df

In [3]:
# credencias GCP
credentials_path = "/home/jovyan/code/.devcontainer/soulcode-iam-key.json"
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [4]:
# constantes
BUCKET_NAME =  'soulcode-analytics-data-bootcamp'
NAME_FILE = '../dataset/balanco_petro.xlsx'
DEST_BLOB_NAME = 'raw_data/balanco_petro.csv'
# DEST_BLOB_NAME_PROCESSED = 'clean_data/lista-de-dados-processed.csv'

In [ ]:
# Conectar-se ao GCP e fazer upload de arquivo

def upload_blob(bucket_name, source_file_name, destination_blob_name):
    """Uploads a file to the bucket."""
    # The ID of your GCS bucket
    # bucket_name = "your-bucket-name"
    # The path to your file to upload
    # source_file_name = "local/path/to/file"
    # The ID of your GCS object
    # destination_blob_name = "storage-object-name"

    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)

    # Optional: set a generation-match precondition to avoid potential race conditions
    # and data corruptions. The request to upload is aborted if the object's
    # generation number does not match your precondition. For a destination
    # object that does not yet exist, set the if_generation_match precondition to 0.
    # If the destination object already exists in your bucket, set instead a
    # generation-match precondition using its generation number.
    generation_match_precondition = 0

    blob.upload_from_filename(source_file_name, if_generation_match=generation_match_precondition)

    print(
        f"File {source_file_name} uploaded to {destination_blob_name}."
    )

df = pd.read_excel(NAME_FILE)
df.to_csv("/tmp/converted.csv", index=False)
upload_blob(BUCKET_NAME, "/tmp/converted.csv" , DEST_BLOB_NAME)

## Consumir a base armazenada no bucket via colab e Realizar ETL ou ELT com pandas e/ou pyspark

In [ ]:
def download_blob_into_memory(bucket_name, blob_name):
    """Downloads a blob into memory."""
    # The ID of your GCS bucket
    # bucket_name = "your-bucket-name"

    # The ID of your GCS object
    # blob_name = "storage-object-name"

    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)

    # Construct a client side representation of a blob.
    # Note `Bucket.blob` differs from `Bucket.get_blob` as it doesn't retrieve
    # any content from Google Cloud Storage. As we don't need additional data,
    # using `Bucket.blob` is preferred here.
    blob = bucket.blob(blob_name)
    contents = blob.download_as_bytes()

    print(
        "Downloaded storage object {} from bucket {} as the following bytes object: {}.".format(
            blob_name, bucket_name, contents.decode("utf-8")
        )
    )
    return contents

data = download_blob_into_memory(BUCKET_NAME, DEST_BLOB_NAME)

df = pd.read_csv(io.BytesIO(data))

In [7]:
df.columns

Index(['XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data',
       'Balanço Patrimonial - PETROBRAS', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60'],
      dtype='object')

In [6]:
df.head()

,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",Balanço Patrimonial - PETROBRAS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,31/03/2009,30/06/2009,30/09/2009,31/12/2009,31/03/2010,30/06/2010,30/09/2010,31/12/2010,31/03/2011,30/06/2011,...,31/12/2021,31/03/2022,30/06/2022,30/09/2022,31/12/2022,31/03/2023,30/06/2023,30/09/2023,31/12/2023,31/03/2024
1,Ativo Total,305265344.512,333789528.064,345607274.496,365998080,382029856.768,507697037.312,519970029.568,544945274.88,554583457.792,...,972950994.944,998662012.928,1004753977.344,947574013.952,976708960.256,978576998.4,990459002.88,1025495990.272,1050887979.008,1067292033.024
2,Ativo Circulante,57621536.768,75719057.408,76674015.232,74459103.232,71980236.8,111415033.856,106685161.472,120036376.576,119493476.352,...,168247001.088,199511998.464,224784990.208,159327010.816,163051995.136,157193994.24,136816001.024,147311001.6,157079011.328,165964005.376
3,Caixa e Equivalentes de Caixa,10072162.304,30088286.208,28795713.536,26951325.696,24209866.752,47291932.672,30323259.392,43344818.176,34672615.424,...,58410000.384,81601003.52,85310996.48,23650000.896,41722998.784,52276998.144,49882001.408,60642000.896,61612998.656,57689001.984
4,Aplicações Financeiras,0,0,0,0,0,0,26017296.384,20015771.648,24969263.104,...,3630000.128,5967000.064,14956999.68,13038000.128,14469999.616,14629000.192,11102999.552,6504999.936,13649999.872,24071999.488

In [7]:
df = df.transpose()
# df.to_csv("/tmp/transpose.csv", index=False)
# upload_blob(BUCKET_NAME, "/tmp/transpose.csv" , 'clean_data/transpose.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",31/03/2009,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
Balanço Patrimonial - PETROBRAS,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
Unnamed: 2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
Unnamed: 3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
Unnamed: 4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data to Unnamed: 60
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       61 non-null     object
 1   1       61 non-null     object
 2   2       61 non-null     object
 3   3       61 non-null     object
 4   4       61 non-null     object
 5   5       61 non-null     object
 6   6       61 non-null     object
 7   7       61 non-null     object
 8   8       61 non-null     object
 9   9       61 non-null     object
 10  10      61 non-null     object
 11  11      61 non-null     object
 12  12      61 non-null     object
 13  13      61 non-null     object
 14  14      61 non-null     object
 15  15      61 non-null     object
 16  16      61 non-null     object
 17  17      61 non-null     object
 18  18      61 non-null     object
 19  19      61 non-null     object
 20  20      61 non-null     object
 21  21      61 non-null     object
 22  22      61 non-null     object
 23  23      61 non-null     object
 24  24      61 non-null     object
 25  25      61 non-null     object
 26  26      61 non-null     object
 27  27      61 non-null     object
 28  28      61 non-null     object
 29  29      61 non-null     object
 30  30      61 non-null     object
 31  31      61 non-null     object
 32  32      61 non-null     object
 33  33      61 non-null     object
 34  34      61 non-null     object
 35  35      61 non-null     object
 36  36      61 non-null     object
 37  37      61 non-null     object
 38  38      61 non-null     object
 39  39      61 non-null     object
 40  40      61 non-null     object
 41  41      61 non-null     object
 42  42      61 non-null     object
 43  43      61 non-null     object
 44  44      61 non-null     object
 45  45      61 non-null     object
 46  46      61 non-null     object
 47  47      61 non-null     object
 48  48      61 non-null     object
 49  49      61 non-null     object
 50  50      61 non-null     object
 51  51      61 non-null     object
 52  52      61 non-null     object
 53  53      61 non-null     object
 54  54      61 non-null     object
 55  55      61 non-null     object
dtypes: object(56)
memory usage: 29.2+ KB

In [9]:
df.columns

RangeIndex(start=0, stop=56, step=1)

In [10]:
index = [ x for x in range(len(df))]
len(index)

61

In [11]:
df.index = index
df

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,31/03/2009,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
1,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,31/03/2023,978576998.4,157193994.24,52276998.144,14629000.192,23497000.96,40483000.32,0,6102000.128,0,...,402083980.288,205431996.416,3102000.128,0,166717997.056,0,0,0,26831998.976,0
57,30/06/2023,990459002.88,136816001.024,49882001.408,11102999.552,21041000.448,39240998.912,0,6352999.936,0,...,370682983.552,205431996.416,3102000.128,0,135016988.672,0,0,0,27132000.256,0
58,30/09/2023,1025495990.272,147311001.6,60642000.896,6504999.936,25501999.104,39509999.616,0,5965000.192,0,...,386006988.544,205431996.416,2131000.064,0,146422005.76,0,0,0,32021999.616,0
59,31/12/2023,1050887979.008,157079011.328,61612998.656,13649999.872,29702000.64,37184000,0,5703000.064,0,...,380441005.824,205431996.416,-538000,0,159171002.368,0,0,0,16376000.512,0
60,31/03/2024,1067292033.024,165964005.376,57689001.984,24071999.488,25184000,40848998.4,0,7701000.192,0,...,407635978.24,205431996.416,-1684999.936,0,182872997.888,0,0,0,21016000.512,0

In [12]:
columns = df.iloc[0].to_list()
df.columns = columns
df.rename(columns={df.columns[0]: "Data"}, inplace=True)
df

,Data,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
0,31/03/2009,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
1,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,31/03/2023,978576998.4,157193994.24,52276998.144,14629000.192,23497000.96,40483000.32,0,6102000.128,0,...,402083980.288,205431996.416,3102000.128,0,166717997.056,0,0,0,26831998.976,0
57,30/06/2023,990459002.88,136816001.024,49882001.408,11102999.552,21041000.448,39240998.912,0,6352999.936,0,...,370682983.552,205431996.416,3102000.128,0,135016988.672,0,0,0,27132000.256,0
58,30/09/2023,1025495990.272,147311001.6,60642000.896,6504999.936,25501999.104,39509999.616,0,5965000.192,0,...,386006988.544,205431996.416,2131000.064,0,146422005.76,0,0,0,32021999.616,0
59,31/12/2023,1050887979.008,157079011.328,61612998.656,13649999.872,29702000.64,37184000,0,5703000.064,0,...,380441005.824,205431996.416,-538000,0,159171002.368,0,0,0,16376000.512,0
60,31/03/2024,1067292033.024,165964005.376,57689001.984,24071999.488,25184000,40848998.4,0,7701000.192,0,...,407635978.24,205431996.416,-1684999.936,0,182872997.888,0,0,0,21016000.512,0

In [13]:
df = df.drop(0, axis=0)

In [14]:
df.head()

,Data,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
1,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0
5,30/06/2010,382029856.768,71980236.8,24209866.752,0,15961581.568,19680464.896,0,0,0,...,176974135.296,85108547.584,0,0,79252692.992,12494328.832,118554,0,0,0

In [15]:
df.tail()

,Data,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
56,31/03/2023,978576998.4,157193994.24,52276998.144,14629000.192,23497000.96,40483000.32,0,6102000.128,0,...,402083980.288,205431996.416,3102000.128,0,166717997.056,0,0,0,26831998.976,0
57,30/06/2023,990459002.88,136816001.024,49882001.408,11102999.552,21041000.448,39240998.912,0,6352999.936,0,...,370682983.552,205431996.416,3102000.128,0,135016988.672,0,0,0,27132000.256,0
58,30/09/2023,1025495990.272,147311001.6,60642000.896,6504999.936,25501999.104,39509999.616,0,5965000.192,0,...,386006988.544,205431996.416,2131000.064,0,146422005.76,0,0,0,32021999.616,0
59,31/12/2023,1050887979.008,157079011.328,61612998.656,13649999.872,29702000.64,37184000,0,5703000.064,0,...,380441005.824,205431996.416,-538000,0,159171002.368,0,0,0,16376000.512,0
60,31/03/2024,1067292033.024,165964005.376,57689001.984,24071999.488,25184000,40848998.4,0,7701000.192,0,...,407635978.24,205431996.416,-1684999.936,0,182872997.888,0,0,0,21016000.512,0

In [16]:
df.shape

(60, 56)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 1 to 60
Data columns (total 56 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Data                                                          60 non-null     object
 1   Ativo Total                                                   60 non-null     object
 2   Ativo Circulante                                              60 non-null     object
 3   Caixa e Equivalentes de Caixa                                 60 non-null     object
 4   Aplicações Financeiras                                        60 non-null     object
 5   Contas a Receber                                              60 non-null     object
 6   Estoques                                                      60 non-null     object
 7   Ativos Biológicos                                             60 non-null     object
 8   Tributos a Recuperar                                          60 non-null     object
 9   Despesas Antecipadas                                          60 non-null     object
 10  Outros Ativos Circulantes                                     60 non-null     object
 11  Ativo Realizável a Longo Prazo                                60 non-null     object
 12  Aplicações Financeiras Avaliadas a Valor Justo                60 non-null     object
 13  Aplicações Financeiras Avaliadas ao Custo Amortizado          60 non-null     object
 14  Contas a Receber                                              60 non-null     object
 15  Estoques                                                      60 non-null     object
 16  Ativos Biológicos                                             60 non-null     object
 17  Tributos Diferidos                                            60 non-null     object
 18  Despesas Antecipadas                                          60 non-null     object
 19  Créditos com Partes Relacionadas                              60 non-null     object
 20  Outros Ativos Não Circulantes                                 60 non-null     object
 21  Investimentos                                                 60 non-null     object
 22  Imobilizado                                                   60 non-null     object
 23  Intangível                                                    60 non-null     object
 24  Diferido                                                      60 non-null     object
 25  Passivo Total                                                 60 non-null     object
 26  Passivo Circulante                                            60 non-null     object
 27  Obrigações Sociais e Trabalhistas                             60 non-null     object
 28  Fornecedores                                                  60 non-null     object
 29  Obrigações Fiscais                                            60 non-null     object
 30  Empréstimos e Financiamentos                                  60 non-null     object
 31  Passivos com Partes Relacionadas                              60 non-null     object
 32  Dividendos e JCP a Pagar                                      60 non-null     object
 33  Outros                                                        60 non-null     object
 34  Provisões                                                     60 non-null     object
 35  Passivos sobre Ativos Não-Correntes a Venda e Descontinuados  60 non-null     object
 36  Passivo Não Circulante                                        60 non-null     object
 37  Empréstimos e Financiamentos                                  60 non-null     object
 38  Passivos com Partes Relacionadas                              60 non-null     object
 39  Outros                                                        60 non-null     object
 40  Tributos Diferidos                                            60 non-null     object
 41  Adiantamento para Futuro Aumento Capital                      60 non-null     object
 42  Provisões                                                     60 non-null     object
 43  Passivos sobre Ativos Não-Correntes a Venda e Descontinuados  60 non-null     object
 44  Lucros e Receitas a Apropriar                                 60 non-null     object
 45  Participação dos Acionistas Não Controladores                 60 non-null     object
 46  Patrimônio Líquido                                            60 non-null     object
 47  Capital Social Realizado                                      60 non-null     object
 48  Reservas de Capital                                           60 non-null     object
 49  Reservas de Reavaliação                                       60 non-null     object
 50  Reservas de Lucros                                            60 non-null     object
 51  Lucros/Prejuízos Acumulados                                   60 non-null     object
 52  Ajustes de Avaliação Patrimonial                              60 non-null     object
 53  Ajustes Acumulados de Conversão                               60 non-null     object
 54  Outros Resultados Abrangentes                                 60 non-null     object
 55  Adiantamento para Futuro Aumento Capital                      60 non-null     object
dtypes: object(56)
memory usage: 26.7+ KB

In [18]:
# verificando colunas com valores nulos
df.isnull().sum()

Data                                                            0
Ativo Total                                                     0
Ativo Circulante                                                0
Caixa e Equivalentes de Caixa                                   0
Aplicações Financeiras                                          0
Contas a Receber                                                0
Estoques                                                        0
Ativos Biológicos                                               0
Tributos a Recuperar                                            0
Despesas Antecipadas                                            0
Outros Ativos Circulantes                                       0
Ativo Realizável a Longo Prazo                                  0
Aplicações Financeiras Avaliadas a Valor Justo                  0
Aplicações Financeiras Avaliadas ao Custo Amortizado            0
Contas a Receber                                                0
Estoques                                                        0
Ativos Biológicos                                               0
Tributos Diferidos                                              0
Despesas Antecipadas                                            0
Créditos com Partes Relacionadas                                0
Outros Ativos Não Circulantes                                   0
Investimentos                                                   0
Imobilizado                                                     0
Intangível                                                      0
Diferido                                                        0
Passivo Total                                                   0
Passivo Circulante                                              0
Obrigações Sociais e Trabalhistas                               0
Fornecedores                                                    0
Obrigações Fiscais                                              0
Empréstimos e Financiamentos                                    0
Passivos com Partes Relacionadas                                0
Dividendos e JCP a Pagar                                        0
Outros                                                          0
Provisões                                                       0
Passivos sobre Ativos Não-Correntes a Venda e Descontinuados    0
Passivo Não Circulante                                          0
Empréstimos e Financiamentos                                    0
Passivos com Partes Relacionadas                                0
Outros                                                          0
Tributos Diferidos                                              0
Adiantamento para Futuro Aumento Capital                        0
Provisões                                                       0
Passivos sobre Ativos Não-Correntes a Venda e Descontinuados    0
Lucros e Receitas a Apropriar                                   0
Participação dos Acionistas Não Controladores                   0
Patrimônio Líquido                                              0
Capital Social Realizado                                        0
Reservas de Capital                                             0
Reservas de Reavaliação                                         0
Reservas de Lucros                                              0
Lucros/Prejuízos Acumulados                                     0
Ajustes de Avaliação Patrimonial                                0
Ajustes Acumulados de Conversão                                 0
Outros Resultados Abrangentes                                   0
Adiantamento para Futuro Aumento Capital                        0
dtype: int64

In [19]:
# verificar valores zerados
df.eq(0).sum()

Data                                                            0
Ativo Total                                                     0
Ativo Circulante                                                0
Caixa e Equivalentes de Caixa                                   0
Aplicações Financeiras                                          0
Contas a Receber                                                0
Estoques                                                        0
Ativos Biológicos                                               0
Tributos a Recuperar                                            0
Despesas Antecipadas                                            0
Outros Ativos Circulantes                                       0
Ativo Realizável a Longo Prazo                                  0
Aplicações Financeiras Avaliadas a Valor Justo                  0
Aplicações Financeiras Avaliadas ao Custo Amortizado            0
Contas a Receber                                                0
Estoques                                                        0
Ativos Biológicos                                               0
Tributos Diferidos                                              0
Despesas Antecipadas                                            0
Créditos com Partes Relacionadas                                0
Outros Ativos Não Circulantes                                   0
Investimentos                                                   0
Imobilizado                                                     0
Intangível                                                      0
Diferido                                                        0
Passivo Total                                                   0
Passivo Circulante                                              0
Obrigações Sociais e Trabalhistas                               0
Fornecedores                                                    0
Obrigações Fiscais                                              0
Empréstimos e Financiamentos                                    0
Passivos com Partes Relacionadas                                0
Dividendos e JCP a Pagar                                        0
Outros                                                          0
Provisões                                                       0
Passivos sobre Ativos Não-Correntes a Venda e Descontinuados    0
Passivo Não Circulante                                          0
Empréstimos e Financiamentos                                    0
Passivos com Partes Relacionadas                                0
Outros                                                          0
Tributos Diferidos                                              0
Adiantamento para Futuro Aumento Capital                        0
Provisões                                                       0
Passivos sobre Ativos Não-Correntes a Venda e Descontinuados    0
Lucros e Receitas a Apropriar                                   0
Participação dos Acionistas Não Controladores                   0
Patrimônio Líquido                                              0
Capital Social Realizado                                        0
Reservas de Capital                                             0
Reservas de Reavaliação                                         0
Reservas de Lucros                                              0
Lucros/Prejuízos Acumulados                                     0
Ajustes de Avaliação Patrimonial                                0
Ajustes Acumulados de Conversão                                 0
Outros Resultados Abrangentes                                   0
Adiantamento para Futuro Aumento Capital                        0
dtype: int64

In [22]:
# eliminar colunas que todos os valores estão zerado
cols_to_drop = df.eq(0).all(axis=0)
cols_to_drop

Data                                                            False
Ativo Total                                                     False
Ativo Circulante                                                False
Caixa e Equivalentes de Caixa                                   False
Aplicações Financeiras                                          False
Contas a Receber                                                False
Estoques                                                        False
Ativos Biológicos                                               False
Tributos a Recuperar                                            False
Despesas Antecipadas                                            False
Outros Ativos Circulantes                                       False
Ativo Realizável a Longo Prazo                                  False
Aplicações Financeiras Avaliadas a Valor Justo                  False
Aplicações Financeiras Avaliadas ao Custo Amortizado            False
Contas a Receber                                                False
Estoques                                                        False
Ativos Biológicos                                               False
Tributos Diferidos                                              False
Despesas Antecipadas                                            False
Créditos com Partes Relacionadas                                False
Outros Ativos Não Circulantes                                   False
Investimentos                                                   False
Imobilizado                                                     False
Intangível                                                      False
Diferido                                                        False
Passivo Total                                                   False
Passivo Circulante                                              False
Obrigações Sociais e Trabalhistas                               False
Fornecedores                                                    False
Obrigações Fiscais                                              False
Empréstimos e Financiamentos                                    False
Passivos com Partes Relacionadas                                False
Dividendos e JCP a Pagar                                        False
Outros                                                          False
Provisões                                                       False
Passivos sobre Ativos Não-Correntes a Venda e Descontinuados    False
Passivo Não Circulante                                          False
Empréstimos e Financiamentos                                    False
Passivos com Partes Relacionadas                                False
Outros                                                          False
Tributos Diferidos                                              False
Adiantamento para Futuro Aumento Capital                        False
Provisões                                                       False
Passivos sobre Ativos Não-Correntes a Venda e Descontinuados    False
Lucros e Receitas a Apropriar                                   False
Participação dos Acionistas Não Controladores                   False
Patrimônio Líquido                                              False
Capital Social Realizado                                        False
Reservas de Capital                                             False
Reservas de Reavaliação                                         False
Reservas de Lucros                                              False
Lucros/Prejuízos Acumulados                                     False
Ajustes de Avaliação Patrimonial                                False
Ajustes Acumulados de Conversão                                 False
Outros Resultados Abrangentes                                   False
Adiantamento para Futuro Aumento Capital                        False
dtype: bool

In [23]:
df.columns

Index(['Data', 'Ativo Total', 'Ativo Circulante',
       'Caixa e Equivalentes de Caixa', 'Aplicações Financeiras',
       'Contas a Receber', 'Estoques', 'Ativos Biológicos',
       'Tributos a Recuperar', 'Despesas Antecipadas',
       'Outros Ativos Circulantes', 'Ativo Realizável a Longo Prazo',
       'Aplicações Financeiras Avaliadas a Valor Justo',
       'Aplicações Financeiras Avaliadas ao Custo Amortizado',
       'Contas a Receber', 'Estoques', 'Ativos Biológicos',
       'Tributos Diferidos', 'Despesas Antecipadas',
       'Créditos com Partes Relacionadas', 'Outros Ativos Não Circulantes',
       'Investimentos', 'Imobilizado', 'Intangível', 'Diferido',
       'Passivo Total', 'Passivo Circulante',
       'Obrigações Sociais e Trabalhistas', 'Fornecedores',
       'Obrigações Fiscais', 'Empréstimos e Financiamentos',
       'Passivos com Partes Relacionadas', 'Dividendos e JCP a Pagar',
       'Outros', 'Provisões',
       'Passivos sobre Ativos Não-Correntes a Venda e Descontinuados',
       'Passivo Não Circulante', 'Empréstimos e Financiamentos',
       'Passivos com Partes Relacionadas', 'Outros', 'Tributos Diferidos',
       'Adiantamento para Futuro Aumento Capital', 'Provisões',
       'Passivos sobre Ativos Não-Correntes a Venda e Descontinuados',
       'Lucros e Receitas a Apropriar',
       'Participação dos Acionistas Não Controladores', 'Patrimônio Líquido',
       'Capital Social Realizado', 'Reservas de Capital',
       'Reservas de Reavaliação', 'Reservas de Lucros',
       'Lucros/Prejuízos Acumulados', 'Ajustes de Avaliação Patrimonial',
       'Ajustes Acumulados de Conversão', 'Outros Resultados Abrangentes',
       'Adiantamento para Futuro Aumento Capital'],
      dtype='object')

In [24]:
df.drop(df.columns[cols_to_drop], axis=1, inplace=True)

In [25]:
df

,Data,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
1,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0
5,30/06/2010,382029856.768,71980236.8,24209866.752,0,15961581.568,19680464.896,0,0,0,...,176974135.296,85108547.584,0,0,79252692.992,12494328.832,118554,0,0,0
6,30/09/2010,507697037.312,111415033.856,47291932.672,0,18407325.696,21359228.928,0,0,0,...,297360982.016,200160870.4,164696,0,77830742.016,19251855.36,-47178,0,0,0
7,31/12/2010,519970029.568,106685161.472,30323259.392,26017296.384,17333975.04,19815675.904,0,8934797.312,1006419.008,...,306765188.864,205357105.152,-6257,0,101323726.848,0,287084,-196479.008,0,0
8,31/03/2011,544945274.88,120036376.576,43344818.176,20015771.648,17777672.192,23868891.136,0,10178227.2,1282752,...,314781563.904,205357105.152,1847,0,101323726.848,8376065.024,177879.008,-455044.992,0,0
9,30/06/2011,554583457.792,119493476.352,34672615.424,24969263.104,18762930.176,25751416.832,0,11322895.36,1218744.064,...,322711576.064,205379731.456,48674,0,101301100.544,16710102.016,144754,-872763.008,0,0
10,30/09/2011,582124896.256,120493400.064,33659195.392,21410791.424,20466372.608,27397234.688,0,12568754.176,1449747.968,...,328404782.08,205379731.456,101923,0,101301100.544,20445116.416,250479.008,926436.992,0,0
11,31/12/2011,599149969.408,121163677.696,35747241.984,16808468.48,21974700.032,28446924.8,0,12845667.328,1328418.048,...,329838880.768,205379731.456,562643.008,0,122624131.072,0,345700,926684.992,0,0
12,31/03/2012,615818461.184,126373535.744,39904493.568,18002804.736,21436549.12,29396160.512,0,12179723.264,1569534.976,...,336256430.848,205392150.528,558944,0,122611712,6607815.168,1085805.952,0,0,0
13,30/06/2012,628027752.448,116320632.832,26318336,19668449.28,22587244.544,30159056.896,0,11884001.28,1673936,...,336775921.28,205392150.528,644488,0,122611712,5247747.072,2879834.112,0,0,0
14,30/09/2012,646683164.672,125807689.728,30187315.2,22673561.6,23291283.456,30355707.904,0,12614975.488,2128644.992,...,342457459.456,205392150.528,625113.984,0,122611712,10765923.328,3062563.072,0,0,0
15,31/12/2012,677716295.68,118101811.2,27628003.328,21315725.312,22680508.416,29735948.288,0,11386585.088,1692487.936,...,343079689.728,205392150.528,630288,0,134928834.56,0,50510,2077908.992,0,0
16,31/03/2013,695313170.432,116893310.976,27235076.096,19301607.424,22441979.904,31801612.288,0,10736507.904,2067555.968,...,335437289.472,205392150.528,641468.032,0,134928834.56,7541654.016,-14768188.416,1701367.04,0,0
17,30/06/2013,749027655.68,144710008.832,51249524.736,21782052.864,22130065.408,31097264.128,0,13482127.36,2270287.104,...,338265109.632,205410910.208,677844.992,0,134910066.688,13745233.92,-20425189.376,3946262.016,0,0
18,30/09/2013,758432792.576,137242591.232,39349919.744,18545838.08,21519276.032,33570383.872,0,15246380.032,2212820.992,...,341312217.856,205410910.208,658003.968,0,134910066.688,17142515.712,-20738656.256,3929412.096,0,0
19,31/12/2013,752966631.424,123350376.448,37171822.592,9100565.504,22652362.752,33323520,0,11645731.84,1386798.976,...,347939893.248,205410910.208,736884.992,0,149035712.512,0,-12439536.64,5195931.136,0,0
20,31/03/2014,802014625.792,159665094.656,68466528.256,10025962.496,24040519.68,35259678.72,0,11609575.424,0,...,354490623.872,205410910.208,641481.984,0,149035712.512,5395468.8,-5992972.8,0,0,0
21,30/06/2014,800369999.872,144270000.128,58140000.256,8236000.256,23412000.768,37407997.952,0,8344000,0,...,360700016.384,205431996.416,656000,0,149015003.136,10357000.192,-4760000,0,0,0
22,30/09/2014,815741009.92,142950006.784,49623998.464,20674000.896,21549000.704,32437000.192,0,8602999.808,0,...,341325010.496,205431996.416,656000,0,149015003.136,5021000.192,0,0,-18798999.552,0
23,31/12/2014,793374949.376,135023009.792,44238999.552,24763000.832,21166999.552,30456999.936,0,10122999.808,0,...,308847970.176,205431996.416,-646000,0,149015003.136,-21577000.96,0,0,-23375998.976,0
24,31/03/2015,831948062.72,137564995.584,34450001.92,33827999.744,20736999.424,32031000.576,0,9674000.384,0,...,303758005.12,205431996.416,-646000,0,127437996.032,5333000.192,0,0,-33799000.064,0
25,30/06/2015,859298988.032,160379994.112,81166000.128,10478000.128,20049999.872,33770999.808,0,9927000.064,0,...,307219992.576,205431996.416,-646000,0,127437996.032,5865999.872,0,0,-30869999.616,0
26,30/09/2015,931561996.288,176380002.304,99869999.104,4378999.808,21155000.32,32585000.96,0,10172000.256,0,...,289439002.624,205431996.416,-645000,0,127437996.032,2110000,0,0,-44896002.048,0
27,31/12/2015,900134993.92,169580986.368,97845002.24,3047000.064,22659000.32,29056999.424,0,10732000.256,0,...,254731002.368,205431996.416,21000,0,92612001.792,0,0,0,-43334000.64,0
28,31/03/2016,859159986.176,146243010.56,77778001.92,2728999.936,18865000.448,29098000.384,0,10611999.744,0,...,262666016,205431996.416,37000,0,92612001.792,-1243000.064,0,0,-34172000.256,0
29,30/06/2016,818332041.216,132624998.4,62940000.256,2430000.128,17047000.064,28508000.256,0,9285000.192,0,...,271394996.224,205431996.416,37000,0,92612001.792,-869000,0,0,-25816999.936,0
30,30/09/2016,803206004.736,144752984.064,70059999.232,2542000.128,16952999.936,27626999.808,0,8709000.192,0,...,259535008.256,205431996.416,45000,0,92612001.792,-17323999.232,0,0,-21230000.128,0
31,31/12/2016,804945002.496,145907007.488,69107998.72,2556000,15543000.064,27622000.64,0,8152999.936,0,...,250230008.32,205431996.416,1035000,0,77799997.44,0,0,0,-34037000.192,0
32,31/03/2017,788046020.608,134058000.384,60873998.336,2908999.936,14042000.384,26172000.256,0,8167000.064,0,...,257820003.84,205431996.416,1034000,0,77799997.44,4450999.808,0,0,-30897000.448,0
33,30/06/2017,808054030.336,142435008.512,77969997.824,3316999.936,14476999.68,26620999.68,0,8360999.936,0,...,258635002.624,205431996.416,1046000,0,77799997.44,4769999.872,0,0,-30413000.704,0
34,30/09/2017,803870015.488,143941992.448,74430996.48,5744000,16524999.68,25851000.832,0,7898999.808,0,...,261764008.192,205431996.416,1036000,0,77799997.44,5038000.128,0,0,-27541999.616,0
35,31/12/2017,831515000.832,155908997.12,74494001.152,6237000.192,16446000.128,28081000.448,0,8062000.128,0,...,263984992.768,205431996.416,2456999.936,0,77364002.816,0,0,0,-21268000.768,0
36,31/03/2018,824153014.272,145411997.696,66361999.36,3904999.936,15630999.552,29361000.448,0,8334000.128,0,...,271963003.904,205431996.416,2456999.936,0,83339001.856,0,0,0,-19264999.424,0
37,30/06/2018,850281955.328,144255008.768,65536000,4060000,19384999.936,35534000.128,0,9006000.128,0,...,282139006.464,205431996.416,2456999.936,0,92760997.888,0,0,0,-18510999.552,0
38,30/09/2018,866755936.256,150200991.744,56803000.32,4164000,25660000.256,38864998.4,0,9441000.448,0,...,290365009.92,205431996.416,2456999.936,0,98726002.688,0,0,0,-16250000.384,0
39,31/12/2018,860472999.936,143606005.76,53853999.104,4198000.128,22264000.512,34822000.64,0,7882999.808,0,...,277225011.2,205431996.416,2457999.872,0,95363997.696,0,0,0,-26029000.704,0
40,31/03/2019,949086978.048,130604998.656,36475998.208,4369999.872,19335999.488,32962000.896,0,8298999.808,0,...,282658996.224,205431996.416,2457999.872,0,99398000.64,0,0,0,-24629000.192,0
41,30/06/2019,965248024.576,181333000.192,64051998.72,2456000,15509000.192,34237999.104,0,9025999.872,0,...,303619000.32,205431996.416,2457999.872,0,116955996.16,0,0,0,-21226999.808,0
42,30/09/2019,924465037.312,147600998.4,54882000.896,5426999.808,17494999.04,31583000.576,0,10787999.744,0,...,306251987.712,205431996.416,2455000.064,0,123432001.536,0,0,0,-25066999.808,0
43,31/12/2019,926011031.552,112100999.168,29713999.872,3580000,15164000.256,33009000.448,0,14286999.552,0,...,295541007.616,205431996.416,2448999.936,0,124828999.68,0,0,0,-37169000.448,0
44,31/03/2020,971644993.536,163561996.288,80382001.152,3345999.872,15866000.384,31235999.744,0,13150000.128,0,...,231828998.656,205431996.416,2448999.936,0,76303998.976,0,0,0,-52356001.792,0
45,30/06/2020,1015142023.168,201926000.64,106597998.592,2952000,14316000.256,27594000.384,0,29788000.256,0,...,242765989.632,205431996.416,2448999.936,0,73589997.568,0,0,0,-38705000.448,0
46,30/09/2020,965430018.048,151643996.16,71635001.344,3782000.128,12904999.936,29789999.104,0,23851999.232,0,...,247735987.712,205431996.416,2448999.936,0,72031002.624,0,0,0,-32176001.024,0
47,31/12/2020,987418984.448,142323007.488,60856000.512,3424000,24583999.488,29500000.256,0,13482999.808,0,...,308410018.56,205431996.416,2448999.936,0,127512002.56,0,0,0,-26983000.064,0
48,31/03/2021,998283018.24,153971998.72,68154998.784,3299000.064,13432000.512,39729999.872,0,8552000,0,...,313395006.464,205431996.416,-1267000.064,0,128679002.112,0,0,0,-19448999.936,0
49,30/06/2021,941446987.776,151539007.488,49125998.592,3012999.936,22381000.704,36038000.64,0,9674999.808,0,...,356052028.416,205431996.416,-1267000.064,0,165672992.768,0,0,0,-13786000.384,0
50,30/09/2021,974689009.664,166334005.248,59393998.848,2920000,25560000.512,39577001.984,0,7997000.192,0,...,369076986.88,205431996.416,-1254000,0,165110005.76,0,0,0,-211000,0
51,31/12/2021,972950994.944,168247001.088,58410000.384,3630000.128,35538001.92,40485998.592,0,7511000.064,0,...,387328980.224,205431996.416,3096999.936,0,164243996.672,0,0,0,14556000.256,0
52,31/03/2022,998662012.928,199511998.464,81601003.52,5967000.064,26848999.424,48350998.528,0,6175000.064,0,...,434193992.96,205431996.416,3096999.936,0,208804986.88,0,0,0,16860000.256,0
53,30/06/2022,1004753977.344,224784990.208,85310996.48,14956999.68,26442999.808,49821999.104,0,6675999.744,0,...,410544994.56,205431996.416,3102000.128,0,177255006.208,0,0,0,24756000.768,0
54,30/09/2022,947574013.952,159327010.816,23650000.896,13038000.128,22026000.384,52825001.984,0,7762999.808,0,...,372497981.44,205431996.416,3102000.128,0,133451997.184,0,0,0,30512001.024,0
55,31/12/2022,976708960.256,163051995.136,41722998.784,14469999.616,26141999.104,45803999.232,0,6818999.808,0,...,362593976.832,205431996.416,3102000.128,0,128562003.968,0,0,0,25497999.36,0
56,31/03/2023,978576998.4,157193994.24,52276998.144,14629000.192,23497000.96,40483000.32,0,6102000.128,0,...,402083980.288,205431996.416,3102000.128,0,166717997.056,0,0,0,26831998.976,0
57,30/06/2023,990459002.88,136816001.024,49882001.408,11102999.552,21041000.448,39240998.912,0,6352999.936,0,...,370682983.552,205431996.416,3102000.128,0,135016988.672,0,0,0,27132000.256,0
58,30/09/2023,1025495990.272,147311001.6,60642000.896,6504999.936,25501999.104,39509999.616,0,5965000.192,0,...,386006988.544,205431996.416,2131000.064,0,146422005.76,0,0,0,32021999.616,0
59,31/12/2023,1050887979.008,157079011.328,61612998.656,13649999.872,29702000.64,37184000,0,5703000.064,0,...,380441005.824,205431996.416,-538000,0,159171002.368,0,0,0,16376000.512,0
60,31/03/2024,1067292033.024,165964005.376,57689001.984,24071999.488,25184000,40848998.4,0,7701000.192,0,...,407635978.24,205431996.416,-1684999.936,0,182872997.888,0,0,0,21016000.512,0

## Inserir os dados do DataFrame via colab no banco de dados MySQL.

In [26]:
HOST = '34.16.33.165'
DB = 'petrobras'
USER = 'soulcode'
PASSWORD = 'Soulcode@!12pass'

In [86]:
def connect_mysql(servidor, basededados, usuario, senha):
    try:
        conn = mysql.connector.connect(
            host=servidor,
            database=basededados,
            user=usuario,
            password=senha
        )
        if conn.is_connected():
            print("Conexão bem-sucedida ao banco de dados MySQL")
            return conn
    except Error as e:
        print(f"Erro ao conectar ao MySQL: {e}")
        return None
        
# Função para criar o banco de dados
def create_db(conexao, basededados):
    try:
        cursor = conexao.cursor()
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {basededados}")
        conexao.commit()
        print(f"Banco de dados {basededados} criado ou já existente.")
    except Error as e:
        print(f"Erro ao criar banco de dados: {e}")



def create_table(conexao,sql):
    try:
        cursor = conexao.cursor()
        cursor.execute(sql)
        conexao.commit()
        print("Tabela criada ou já existente.")
    except Error as e:
        print(f"Erro ao criar tabela: {e}")
        
# Função para inserir dados do DataFrame na tabela
def insert_data_df(df, conexao):
    cursor = conexao.cursor()
    for _, row in df.iterrows():
        values = ', '.join(f"'{str(val)}'" for val in row)
        insert_query = f"INSERT INTO petro_data ({', '.join(df.columns)}) VALUES ({values})"
        try:
            cursor.execute(insert_query)
        except Error as e:
            print(f"Erro ao inserir dados: {e}")
    conexao.commit()
    print("Dados inseridos com sucesso.")

# Mapeamento de tipos do Pandas para MySQL
def mapear_tipo_para_mysql(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_string_dtype(dtype):
        return 'VARCHAR(255)'  # Definir tamanho adequado
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    else:
        return 'TEXT'  # Padrão para outros tipos

# Gerar declaração de criação de tabela para MySQL
def gerar_sql_criacao_tabela(df, nome_tabela):
    colunas_sql = []
    for coluna in df.columns:
        tipo_mysql = mapear_tipo_para_mysql(df[coluna].dtype)
        colunas_sql.append(f"`{coluna}` {tipo_mysql}")

    colunas_sql_str = ",\n  ".join(colunas_sql)
    sql_criacao_tabela = f"CREATE TABLE IF NOT EXISTS `{nome_tabela}` (\n  {colunas_sql_str}\n);"
    return sql_criacao_tabela

# Exemplo de uso
nome_tabela = 'petro_data'
sql = gerar_sql_criacao_tabela(df, nome_tabela)
print(sql)

CREATE TABLE IF NOT EXISTS `petro_data` (
  `data` VARCHAR(255),
  `ativo_total` VARCHAR(255),
  `ativo_circulante` VARCHAR(255),
  `caixa_e_equivalentes_de_caixa` VARCHAR(255),
  `aplicacoes_financeiras` VARCHAR(255),
  `tributos_a_recuperar` VARCHAR(255),
  `outros_ativos_circulantes` VARCHAR(255),
  `ativo_realizavel_a_longo_prazo` VARCHAR(255),
  `aplicacoes_financeiras_avaliadas_a_valor_justo` VARCHAR(255),
  `aplicacoes_financeiras_avaliadas_ao_custo_amortizado` VARCHAR(255),
  `creditos_com_partes_relacionadas` VARCHAR(255),
  `outros_ativos_nao_circulantes` VARCHAR(255),
  `investimentos` VARCHAR(255),
  `imobilizado` VARCHAR(255),
  `intangivel` VARCHAR(255),
  `diferido` VARCHAR(255),
  `passivo_total` VARCHAR(255),
  `passivo_circulante` VARCHAR(255),
  `obrigacoes_sociais_e_trabalhistas` VARCHAR(255),
  `fornecedores` VARCHAR(255),
  `obrigacoes_fiscais` VARCHAR(255),
  `dividendos_e_jcp_a_pagar` VARCHAR(255),
  `passivo_nao_circulante` VARCHAR(255),
  `lucros_e_receitas_a_apropriar` VARCHAR(255),
  `participacao_dos_acionistas_nao_controladores` VARCHAR(255),
  `patrimonio_liquido` VARCHAR(255),
  `capital_social_realizado` VARCHAR(255),
  `reservas_de_capital` VARCHAR(255),
  `reservas_de_reavaliacao` VARCHAR(255),
  `reservas_de_lucros` VARCHAR(255),
  `lucros/prejuizos_acumulados` VARCHAR(255),
  `ajustes_de_avaliacao_patrimonial` VARCHAR(255),
  `ajustes_acumulados_de_conversao` VARCHAR(255),
  `outros_resultados_abrangentes` VARCHAR(255)
);

In [77]:
conexion = connect_mysql(HOST,DB,USER,PASSWORD)
conexion

Conexão bem-sucedida ao banco de dados MySQL

In [54]:
create_db(conexion,DB)

Banco de dados petrobras criado ou já existente.

In [ ]:
df = clean_column_names(df)
cols = df.columns
duplicated_cols = cols[cols.duplicated()]
df.drop(df[duplicated_cols], axis=1, inplace=True)
df

In [80]:
create_table(conexion,sql)

Tabela criada ou já existente.

In [85]:
insert_data_df(df, conexion)

Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Erro ao inserir dados: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/prejuizos_acumulados, ajustes_de_avaliacao_patrimonial, ajustes_acumulados_de_c' at line 1
Dados inseridos com sucesso.

In [50]:
#TODO2: utilizar sqlalchemy(Encontrei problemas ao gerar conexao com a mmysql GCP -> aprender

Base = declarative_base()

def mapear_tipo_para_sqlalchemy(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return Integer
    elif pd.api.types.is_float_dtype(dtype):
        return Float
    elif pd.api.types.is_bool_dtype(dtype):
        return Boolean
    elif pd.api.types.is_string_dtype(dtype):
        return String(255)  # Definir tamanho adequado
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return DateTime
    else:
        return Text 



def gerar_classe_sqlalchemy(df, nome_classe):
    # Definir dinamicamente uma nova classe para o SQLAlchemy
    attrs = {
        '__tablename__': nome_classe.lower(),
        'id': Column(Integer, primary_key=True, autoincrement=True)
    }

    # Para cada coluna no DataFrame, mapear o tipo de dados
    for col in df.columns:
        dtype = df[col].dtype
        tipo_sqlalchemy = mapear_tipo_para_sqlalchemy(dtype)
        print(f"Coluna: {col}, Tipo SQLAlchemy: {tipo_sqlalchemy}")
        
        # Adicionar dinamicamente a coluna à classe
        attrs[col] = Column(tipo_sqlalchemy)pymysql

    # Criar uma classe SQLAlchemy dinamicamente
    return type(nome_classe, (Base,), attrs)

/tmp/ipykernel_126/3606643353.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

## Referencias

- https://cloud.google.com/python/docs/setup (environment)
-