## 1 Realizar deploy da base dados em anexo em um bucket/GCP via colab

In [1]:
# imports
import os
import io
import pandas as pd
import mysql.connector
from mysql.connector import Error
from google.cloud import storage
from pyspark.sql import DataFrame, SparkSession
from unidecode import unidecode

from sqlalchemy import Column, Integer, Float, String, Boolean, DateTime, Text
from sqlalchemy.orm import declarative_base

In [2]:
def clean_column_names(df):

    if isinstance(df, DataFrame):
        for col in df.columns:
            df = df.withColumnRenamed(col, unidecode(col.lower().replace(' ', '_')))
    else:
        for col in df.columns:
            df.rename(columns={col:unidecode(col.lower().replace(' ', '_'))}, inplace=True)

    return df

In [3]:
# credencias GCP
credentials_path = "/home/jovyan/code/.devcontainer/soulcode-iam-key.json"
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [4]:
# constantes
BUCKET_NAME =  'soulcode-analytics-data-bootcamp'
NAME_FILE = '../dataset/balanco_petro.xlsx'
DEST_BLOB_NAME = 'raw_data/balanco_petro.csv'
# DEST_BLOB_NAME_PROCESSED = 'clean_data/lista-de-dados-processed.csv'

In [5]:
# Conectar-se ao GCP e fazer upload de arquivo

def upload_blob(bucket_name, source_file_name, destination_blob_name):
    """Uploads a file to the bucket."""
    # The ID of your GCS bucket
    # bucket_name = "your-bucket-name"
    # The path to your file to upload
    # source_file_name = "local/path/to/file"
    # The ID of your GCS object
    # destination_blob_name = "storage-object-name"

    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)

    # Optional: set a generation-match precondition to avoid potential race conditions
    # and data corruptions. The request to upload is aborted if the object's
    # generation number does not match your precondition. For a destination
    # object that does not yet exist, set the if_generation_match precondition to 0.
    # If the destination object already exists in your bucket, set instead a
    # generation-match precondition using its generation number.
    generation_match_precondition = 0

    blob.upload_from_filename(source_file_name, if_generation_match=generation_match_precondition)

    print(
        f"File {source_file_name} uploaded to {destination_blob_name}."
    )

# df = pd.read_excel(NAME_FILE)
# df.to_csv("/tmp/converted.csv", index=False)
# upload_blob(BUCKET_NAME, "/tmp/converted.csv" , DEST_BLOB_NAME)

## Consumir a base armazenada no bucket via colab e Realizar ETL ou ELT com pandas e/ou pyspark

In [ ]:
def download_blob_into_memory(bucket_name, blob_name):
    """Downloads a blob into memory."""
    # The ID of your GCS bucket
    # bucket_name = "your-bucket-name"

    # The ID of your GCS object
    # blob_name = "storage-object-name"

    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)

    # Construct a client side representation of a blob.
    # Note `Bucket.blob` differs from `Bucket.get_blob` as it doesn't retrieve
    # any content from Google Cloud Storage. As we don't need additional data,
    # using `Bucket.blob` is preferred here.
    blob = bucket.blob(blob_name)
    contents = blob.download_as_bytes()

    print(
        "Downloaded storage object {} from bucket {} as the following bytes object: {}.".format(
            blob_name, bucket_name, contents.decode("utf-8")
        )
    )
    return contents

data = download_blob_into_memory(BUCKET_NAME, DEST_BLOB_NAME)

df = pd.read_csv(io.BytesIO(data))

In [7]:
df.columns

Index(['XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data',
       'Balanço Patrimonial - PETROBRAS', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60'],
      dtype='object')

In [8]:
df.head()

,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",Balanço Patrimonial - PETROBRAS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,31/03/2009,30/06/2009,30/09/2009,31/12/2009,31/03/2010,30/06/2010,30/09/2010,31/12/2010,31/03/2011,30/06/2011,...,31/12/2021,31/03/2022,30/06/2022,30/09/2022,31/12/2022,31/03/2023,30/06/2023,30/09/2023,31/12/2023,31/03/2024
1,Ativo Total,305265344.512,333789528.064,345607274.496,365998080,382029856.768,507697037.312,519970029.568,544945274.88,554583457.792,...,972950994.944,998662012.928,1004753977.344,947574013.952,976708960.256,978576998.4,990459002.88,1025495990.272,1050887979.008,1067292033.024
2,Ativo Circulante,57621536.768,75719057.408,76674015.232,74459103.232,71980236.8,111415033.856,106685161.472,120036376.576,119493476.352,...,168247001.088,199511998.464,224784990.208,159327010.816,163051995.136,157193994.24,136816001.024,147311001.6,157079011.328,165964005.376
3,Caixa e Equivalentes de Caixa,10072162.304,30088286.208,28795713.536,26951325.696,24209866.752,47291932.672,30323259.392,43344818.176,34672615.424,...,58410000.384,81601003.52,85310996.48,23650000.896,41722998.784,52276998.144,49882001.408,60642000.896,61612998.656,57689001.984
4,Aplicações Financeiras,0,0,0,0,0,0,26017296.384,20015771.648,24969263.104,...,3630000.128,5967000.064,14956999.68,13038000.128,14469999.616,14629000.192,11102999.552,6504999.936,13649999.872,24071999.488

In [9]:
df = df.transpose()
# df.to_csv("/tmp/transpose.csv", index=False)
# upload_blob(BUCKET_NAME, "/tmp/transpose.csv" , 'clean_data/transpose.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",31/03/2009,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
Balanço Patrimonial - PETROBRAS,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
Unnamed: 2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
Unnamed: 3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
Unnamed: 4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data to Unnamed: 60
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       61 non-null     object
 1   1       61 non-null     object
 2   2       61 non-null     object
 3   3       61 non-null     object
 4   4       61 non-null     object
 5   5       61 non-null     object
 6   6       61 non-null     object
 7   7       61 non-null     object
 8   8       61 non-null     object
 9   9       61 non-null     object
 10  10      61 non-null     object
 11  11      61 non-null     object
 12  12      61 non-null     object
 13  13      61 non-null     object
 14  14      61 non-null     object
 15  15      61 non-null     object
 16  16      61 non-null     object
 17  17      61 non-null     object
 18  18      61 non-null     object
 19  19      61 non-null     object
 20  20      61 non-null     object
 21  21      61 non-null     object
 22  22      61 non-null     object
 23  23      61 non-null     object
 24  24      61 non-null     object
 25  25      61 non-null     object
 26  26      61 non-null     object
 27  27      61 non-null     object
 28  28      61 non-null     object
 29  29      61 non-null     object
 30  30      61 non-null     object
 31  31      61 non-null     object
 32  32      61 non-null     object
 33  33      61 non-null     object
 34  34      61 non-null     object
 35  35      61 non-null     object
 36  36      61 non-null     object
 37  37      61 non-null     object
 38  38      61 non-null     object
 39  39      61 non-null     object
 40  40      61 non-null     object
 41  41      61 non-null     object
 42  42      61 non-null     object
 43  43      61 non-null     object
 44  44      61 non-null     object
 45  45      61 non-null     object
 46  46      61 non-null     object
 47  47      61 non-null     object
 48  48      61 non-null     object
 49  49      61 non-null     object
 50  50      61 non-null     object
 51  51      61 non-null     object
 52  52      61 non-null     object
 53  53      61 non-null     object
 54  54      61 non-null     object
 55  55      61 non-null     object
dtypes: object(56)
memory usage: 29.2+ KB

In [11]:
df.columns

RangeIndex(start=0, stop=56, step=1)

In [12]:
index = [ x for x in range(len(df))]
len(index)

61

In [13]:
df.index = index
df

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,31/03/2009,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
1,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,31/03/2023,978576998.4,157193994.24,52276998.144,14629000.192,23497000.96,40483000.32,0,6102000.128,0,...,402083980.288,205431996.416,3102000.128,0,166717997.056,0,0,0,26831998.976,0
57,30/06/2023,990459002.88,136816001.024,49882001.408,11102999.552,21041000.448,39240998.912,0,6352999.936,0,...,370682983.552,205431996.416,3102000.128,0,135016988.672,0,0,0,27132000.256,0
58,30/09/2023,1025495990.272,147311001.6,60642000.896,6504999.936,25501999.104,39509999.616,0,5965000.192,0,...,386006988.544,205431996.416,2131000.064,0,146422005.76,0,0,0,32021999.616,0
59,31/12/2023,1050887979.008,157079011.328,61612998.656,13649999.872,29702000.64,37184000,0,5703000.064,0,...,380441005.824,205431996.416,-538000,0,159171002.368,0,0,0,16376000.512,0
60,31/03/2024,1067292033.024,165964005.376,57689001.984,24071999.488,25184000,40848998.4,0,7701000.192,0,...,407635978.24,205431996.416,-1684999.936,0,182872997.888,0,0,0,21016000.512,0

In [14]:
columns = df.iloc[0].to_list()
df.columns = columns
df.rename(columns={df.columns[0]: "Data"}, inplace=True)
df

,Data,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
0,31/03/2009,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
1,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,31/03/2023,978576998.4,157193994.24,52276998.144,14629000.192,23497000.96,40483000.32,0,6102000.128,0,...,402083980.288,205431996.416,3102000.128,0,166717997.056,0,0,0,26831998.976,0
57,30/06/2023,990459002.88,136816001.024,49882001.408,11102999.552,21041000.448,39240998.912,0,6352999.936,0,...,370682983.552,205431996.416,3102000.128,0,135016988.672,0,0,0,27132000.256,0
58,30/09/2023,1025495990.272,147311001.6,60642000.896,6504999.936,25501999.104,39509999.616,0,5965000.192,0,...,386006988.544,205431996.416,2131000.064,0,146422005.76,0,0,0,32021999.616,0
59,31/12/2023,1050887979.008,157079011.328,61612998.656,13649999.872,29702000.64,37184000,0,5703000.064,0,...,380441005.824,205431996.416,-538000,0,159171002.368,0,0,0,16376000.512,0
60,31/03/2024,1067292033.024,165964005.376,57689001.984,24071999.488,25184000,40848998.4,0,7701000.192,0,...,407635978.24,205431996.416,-1684999.936,0,182872997.888,0,0,0,21016000.512,0

In [15]:
df = df.drop(0, axis=0)

In [16]:
df.head()

,Data,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
1,30/06/2009,305265344.512,57621536.768,10072162.304,0,14555268.096,19674548.224,0,0,0,...,149847965.696,78966685.696,514856.992,9920,58865377.28,10918406.144,572716.032,0,0,0
2,30/09/2009,333789528.064,75719057.408,30088286.208,0,13643311.104,20635084.8,0,0,0,...,155391688.704,78966685.696,514856.992,9718,58866671.616,16466363.392,567398.976,0,0,0
3,31/12/2009,345607274.496,76674015.232,28795713.536,0,13984270.336,21424652.288,0,0,0,...,159464587.264,78966685.696,514856.992,350,79521013.76,0,461687.008,0,0,0
4,31/03/2010,365998080,74459103.232,26951325.696,0,16200354.816,20030609.408,0,0,0,...,170299080.704,78966685.696,514856.992,0,84879695.872,5971459.072,-33617,0,0,0
5,30/06/2010,382029856.768,71980236.8,24209866.752,0,15961581.568,19680464.896,0,0,0,...,176974135.296,85108547.584,0,0,79252692.992,12494328.832,118554,0,0,0

In [17]:
df.tail()

,Data,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber,Estoques,Ativos Biológicos,Tributos a Recuperar,Despesas Antecipadas,...,Patrimônio Líquido,Capital Social Realizado,Reservas de Capital,Reservas de Reavaliação,Reservas de Lucros,Lucros/Prejuízos Acumulados,Ajustes de Avaliação Patrimonial,Ajustes Acumulados de Conversão,Outros Resultados Abrangentes,Adiantamento para Futuro Aumento Capital
56,31/03/2023,978576998.4,157193994.24,52276998.144,14629000.192,23497000.96,40483000.32,0,6102000.128,0,...,402083980.288,205431996.416,3102000.128,0,166717997.056,0,0,0,26831998.976,0
57,30/06/2023,990459002.88,136816001.024,49882001.408,11102999.552,21041000.448,39240998.912,0,6352999.936,0,...,370682983.552,205431996.416,3102000.128,0,135016988.672,0,0,0,27132000.256,0
58,30/09/2023,1025495990.272,147311001.6,60642000.896,6504999.936,25501999.104,39509999.616,0,5965000.192,0,...,386006988.544,205431996.416,2131000.064,0,146422005.76,0,0,0,32021999.616,0
59,31/12/2023,1050887979.008,157079011.328,61612998.656,13649999.872,29702000.64,37184000,0,5703000.064,0,...,380441005.824,205431996.416,-538000,0,159171002.368,0,0,0,16376000.512,0
60,31/03/2024,1067292033.024,165964005.376,57689001.984,24071999.488,25184000,40848998.4,0,7701000.192,0,...,407635978.24,205431996.416,-1684999.936,0,182872997.888,0,0,0,21016000.512,0

In [18]:
df.shape

(60, 56)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 1 to 60
Data columns (total 56 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Data                                                          60 non-null     object
 1   Ativo Total                                                   60 non-null     object
 2   Ativo Circulante                                              60 non-null     object
 3   Caixa e Equivalentes de Caixa                                 60 non-null     object
 4   Aplicações Financeiras                                        60 non-null     object
 5   Contas a Receber                                              60 non-null     object
 6   Estoques                                                      60 non-null     object
 7   Ativos Biológicos                                             60 non-null     object
 8   Tributos a Recuperar                                          60 non-null     object
 9   Despesas Antecipadas                                          60 non-null     object
 10  Outros Ativos Circulantes                                     60 non-null     object
 11  Ativo Realizável a Longo Prazo                                60 non-null     object
 12  Aplicações Financeiras Avaliadas a Valor Justo                60 non-null     object
 13  Aplicações Financeiras Avaliadas ao Custo Amortizado          60 non-null     object
 14  Contas a Receber                                              60 non-null     object
 15  Estoques                                                      60 non-null     object
 16  Ativos Biológicos                                             60 non-null     object
 17  Tributos Diferidos                                            60 non-null     object
 18  Despesas Antecipadas                                          60 non-null     object
 19  Créditos com Partes Relacionadas                              60 non-null     object
 20  Outros Ativos Não Circulantes                                 60 non-null     object
 21  Investimentos                                                 60 non-null     object
 22  Imobilizado                                                   60 non-null     object
 23  Intangível                                                    60 non-null     object
 24  Diferido                                                      60 non-null     object
 25  Passivo Total                                                 60 non-null     object
 26  Passivo Circulante                                            60 non-null     object
 27  Obrigações Sociais e Trabalhistas                             60 non-null     object
 28  Fornecedores                                                  60 non-null     object
 29  Obrigações Fiscais                                            60 non-null     object
 30  Empréstimos e Financiamentos                                  60 non-null     object
 31  Passivos com Partes Relacionadas                              60 non-null     object
 32  Dividendos e JCP a Pagar                                      60 non-null     object
 33  Outros                                                        60 non-null     object
 34  Provisões                                                     60 non-null     object
 35  Passivos sobre Ativos Não-Correntes a Venda e Descontinuados  60 non-null     object
 36  Passivo Não Circulante                                        60 non-null     object
 37  Empréstimos e Financiamentos                                  60 non-null     object
 38  Passivos com Partes Relacionadas                              60 non-null     object
 39  Outros                                                        60 non-null     object
 40  Tributos Diferidos                                            60 non-null     object
 41  Adiantamento para Futuro Aumento Capital                      60 non-null     object
 42  Provisões                                                     60 non-null     object
 43  Passivos sobre Ativos Não-Correntes a Venda e Descontinuados  60 non-null     object
 44  Lucros e Receitas a Apropriar                                 60 non-null     object
 45  Participação dos Acionistas Não Controladores                 60 non-null     object
 46  Patrimônio Líquido                                            60 non-null     object
 47  Capital Social Realizado                                      60 non-null     object
 48  Reservas de Capital                                           60 non-null     object
 49  Reservas de Reavaliação                                       60 non-null     object
 50  Reservas de Lucros                                            60 non-null     object
 51  Lucros/Prejuízos Acumulados                                   60 non-null     object
 52  Ajustes de Avaliação Patrimonial                              60 non-null     object
 53  Ajustes Acumulados de Conversão                               60 non-null     object
 54  Outros Resultados Abrangentes                                 60 non-null     object
 55  Adiantamento para Futuro Aumento Capital                      60 non-null     object
dtypes: object(56)
memory usage: 26.7+ KB

In [42]:
df = clean_column_names(df)
cols = df.columns
duplicated_cols = cols[cols.duplicated()]
df.drop(df[duplicated_cols], axis=1, inplace=True)
df.columns

Index(['data', 'ativo_total', 'ativo_circulante',
       'caixa_e_equivalentes_de_caixa', 'aplicacoes_financeiras',
       'tributos_a_recuperar', 'outros_ativos_circulantes',
       'ativo_realizavel_a_longo_prazo',
       'aplicacoes_financeiras_avaliadas_a_valor_justo',
       'aplicacoes_financeiras_avaliadas_ao_custo_amortizado',
       'creditos_com_partes_relacionadas', 'outros_ativos_nao_circulantes',
       'investimentos', 'imobilizado', 'intangivel', 'diferido',
       'passivo_total', 'passivo_circulante',
       'obrigacoes_sociais_e_trabalhistas', 'fornecedores',
       'obrigacoes_fiscais', 'dividendos_e_jcp_a_pagar',
       'passivo_nao_circulante', 'lucros_e_receitas_a_apropriar',
       'participacao_dos_acionistas_nao_controladores', 'patrimonio_liquido',
       'capital_social_realizado', 'reservas_de_capital',
       'reservas_de_reavaliacao', 'reservas_de_lucros',
       'lucros/prejuizos_acumulados', 'ajustes_de_avaliacao_patrimonial',
       'ajustes_acumulados_de_conversao', 'outros_resultados_abrangentes'],
      dtype='object')

In [45]:
# verificando colunas com valores nulos
df.isnull().sum()

data                                                    0
ativo_total                                             0
ativo_circulante                                        0
caixa_e_equivalentes_de_caixa                           0
aplicacoes_financeiras                                  0
tributos_a_recuperar                                    0
outros_ativos_circulantes                               0
ativo_realizavel_a_longo_prazo                          0
aplicacoes_financeiras_avaliadas_a_valor_justo          0
aplicacoes_financeiras_avaliadas_ao_custo_amortizado    0
creditos_com_partes_relacionadas                        0
outros_ativos_nao_circulantes                           0
investimentos                                           0
imobilizado                                             0
intangivel                                              0
diferido                                                0
passivo_total                                           0
passivo_circulante                                      0
obrigacoes_sociais_e_trabalhistas                       0
fornecedores                                            0
obrigacoes_fiscais                                      0
dividendos_e_jcp_a_pagar                                0
passivo_nao_circulante                                  0
lucros_e_receitas_a_apropriar                           0
participacao_dos_acionistas_nao_controladores           0
patrimonio_liquido                                      0
capital_social_realizado                                0
reservas_de_capital                                     0
reservas_de_reavaliacao                                 0
reservas_de_lucros                                      0
lucros/prejuizos_acumulados                             0
ajustes_de_avaliacao_patrimonial                        0
ajustes_acumulados_de_conversao                         0
outros_resultados_abrangentes                           0
dtype: int64

In [49]:
# verificar valores zerados
df.eq(0).sum()

data                                                    0
ativo_total                                             0
ativo_circulante                                        0
caixa_e_equivalentes_de_caixa                           0
aplicacoes_financeiras                                  0
tributos_a_recuperar                                    0
outros_ativos_circulantes                               0
ativo_realizavel_a_longo_prazo                          0
aplicacoes_financeiras_avaliadas_a_valor_justo          0
aplicacoes_financeiras_avaliadas_ao_custo_amortizado    0
creditos_com_partes_relacionadas                        0
outros_ativos_nao_circulantes                           0
investimentos                                           0
imobilizado                                             0
intangivel                                              0
diferido                                                0
passivo_total                                           0
passivo_circulante                                      0
obrigacoes_sociais_e_trabalhistas                       0
fornecedores                                            0
obrigacoes_fiscais                                      0
dividendos_e_jcp_a_pagar                                0
passivo_nao_circulante                                  0
lucros_e_receitas_a_apropriar                           0
participacao_dos_acionistas_nao_controladores           0
patrimonio_liquido                                      0
capital_social_realizado                                0
reservas_de_capital                                     0
reservas_de_reavaliacao                                 0
reservas_de_lucros                                      0
lucros/prejuizos_acumulados                             0
ajustes_de_avaliacao_patrimonial                        0
ajustes_acumulados_de_conversao                         0
outros_resultados_abrangentes                           0
dtype: int64

In [50]:
# eliminar colunas que todos os valores estão zerado
cols_to_drop = df.eq(0).all(axis=0)
cols_to_drop

data                                                    False
ativo_total                                             False
ativo_circulante                                        False
caixa_e_equivalentes_de_caixa                           False
aplicacoes_financeiras                                  False
tributos_a_recuperar                                    False
outros_ativos_circulantes                               False
ativo_realizavel_a_longo_prazo                          False
aplicacoes_financeiras_avaliadas_a_valor_justo          False
aplicacoes_financeiras_avaliadas_ao_custo_amortizado    False
creditos_com_partes_relacionadas                        False
outros_ativos_nao_circulantes                           False
investimentos                                           False
imobilizado                                             False
intangivel                                              False
diferido                                                False
passivo_total                                           False
passivo_circulante                                      False
obrigacoes_sociais_e_trabalhistas                       False
fornecedores                                            False
obrigacoes_fiscais                                      False
dividendos_e_jcp_a_pagar                                False
passivo_nao_circulante                                  False
lucros_e_receitas_a_apropriar                           False
participacao_dos_acionistas_nao_controladores           False
patrimonio_liquido                                      False
capital_social_realizado                                False
reservas_de_capital                                     False
reservas_de_reavaliacao                                 False
reservas_de_lucros                                      False
lucros/prejuizos_acumulados                             False
ajustes_de_avaliacao_patrimonial                        False
ajustes_acumulados_de_conversao                         False
outros_resultados_abrangentes                           False
dtype: bool

In [51]:
df.drop(df.columns[cols_to_drop], axis=1, inplace=True)

In [25]:
df.columns

Index(['Data', 'Ativo Total', 'Ativo Circulante',
       'Caixa e Equivalentes de Caixa', 'Aplicações Financeiras',
       'Contas a Receber', 'Estoques', 'Ativos Biológicos',
       'Tributos a Recuperar', 'Despesas Antecipadas',
       'Outros Ativos Circulantes', 'Ativo Realizável a Longo Prazo',
       'Aplicações Financeiras Avaliadas a Valor Justo',
       'Aplicações Financeiras Avaliadas ao Custo Amortizado',
       'Contas a Receber', 'Estoques', 'Ativos Biológicos',
       'Tributos Diferidos', 'Despesas Antecipadas',
       'Créditos com Partes Relacionadas', 'Outros Ativos Não Circulantes',
       'Investimentos', 'Imobilizado', 'Intangível', 'Diferido',
       'Passivo Total', 'Passivo Circulante',
       'Obrigações Sociais e Trabalhistas', 'Fornecedores',
       'Obrigações Fiscais', 'Empréstimos e Financiamentos',
       'Passivos com Partes Relacionadas', 'Dividendos e JCP a Pagar',
       'Outros', 'Provisões',
       'Passivos sobre Ativos Não-Correntes a Venda e Descontinuados',
       'Passivo Não Circulante', 'Empréstimos e Financiamentos',
       'Passivos com Partes Relacionadas', 'Outros', 'Tributos Diferidos',
       'Adiantamento para Futuro Aumento Capital', 'Provisões',
       'Passivos sobre Ativos Não-Correntes a Venda e Descontinuados',
       'Lucros e Receitas a Apropriar',
       'Participação dos Acionistas Não Controladores', 'Patrimônio Líquido',
       'Capital Social Realizado', 'Reservas de Capital',
       'Reservas de Reavaliação', 'Reservas de Lucros',
       'Lucros/Prejuízos Acumulados', 'Ajustes de Avaliação Patrimonial',
       'Ajustes Acumulados de Conversão', 'Outros Resultados Abrangentes',
       'Adiantamento para Futuro Aumento Capital'],
      dtype='object')

## Inserir os dados do DataFrame via colab no banco de dados MySQL.

In [54]:
HOST = '34.16.33.165'
DB = 'petrobras'
USER = 'soulcode'
PASSWORD = 'Soulcode@!12pass'

In [75]:
def connect_mysql(servidor, basededados, usuario, senha):
    try:
        conn = mysql.connector.connect(
            host=servidor,
            database=basededados,
            user=usuario,
            password=senha
        )
        if conn.is_connected():
            print("Conexão bem-sucedida ao banco de dados MySQL")
            return conn
    except Error as e:
        print(f"Erro ao conectar ao MySQL: {e}")
        return None
        
# Função para criar o banco de dados
def create_db(conexao, basededados):
    try:
        cursor = conexao.cursor()
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {basededados}")
        conexao.commit()
        print(f"Banco de dados {basededados} criado ou já existente.")
    except Error as e:
        print(f"Erro ao criar banco de dados: {e}")



def create_table(conexao,sql):
    try:
        cursor = conexao.cursor()
        cursor.execute(sql)
        conexao.commit()
        print("Tabela criada ou já existente.")
    except Error as e:
        print(f"Erro ao criar tabela: {e}")
        
def insert_data_df(df, conexao):
    cursor = conexao.cursor()
    columns = ', '.join(f'`{col}`' for col in df.columns)
    insert_query = f"INSERT INTO petro_data ({columns}) VALUES ({', '.join(['%s'] * len(df.columns))})"
    
    for _, row in df.iterrows():
        values = tuple(row)
        try:
            cursor.execute(insert_query, values)
        except Error as e:
            print(f"Erro ao inserir dados: {e}")
    conexao.commit()
    print("Dados inseridos com sucesso.")


# Mapeamento de tipos do Pandas para MySQL
def mapear_tipo_para_mysql(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_string_dtype(dtype):
        return 'VARCHAR(255)'  # Definir tamanho adequado
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    else:
        return 'TEXT'  # Padrão para outros tipos

# Gerar declaração de criação de tabela para MySQL
def gerar_sql_criacao_tabela(df, nome_tabela):
    colunas_sql = []
    for coluna in df.columns:
        tipo_mysql = mapear_tipo_para_mysql(df[coluna].dtype)
        colunas_sql.append(f"`{coluna}` {tipo_mysql}")

    colunas_sql_str = ",\n  ".join(colunas_sql)
    sql_criacao_tabela = f"CREATE TABLE IF NOT EXISTS `{nome_tabela}` (\n  {colunas_sql_str}\n);"
    return sql_criacao_tabela

# Exemplo de uso
nome_tabela = 'petro_data'
sql = gerar_sql_criacao_tabela(df, nome_tabela)
print(sql)

CREATE TABLE IF NOT EXISTS `petro_data` (
  `data` VARCHAR(255),
  `ativo_total` VARCHAR(255),
  `ativo_circulante` VARCHAR(255),
  `caixa_e_equivalentes_de_caixa` VARCHAR(255),
  `aplicacoes_financeiras` VARCHAR(255),
  `tributos_a_recuperar` VARCHAR(255),
  `outros_ativos_circulantes` VARCHAR(255),
  `ativo_realizavel_a_longo_prazo` VARCHAR(255),
  `aplicacoes_financeiras_avaliadas_a_valor_justo` VARCHAR(255),
  `aplicacoes_financeiras_avaliadas_ao_custo_amortizado` VARCHAR(255),
  `creditos_com_partes_relacionadas` VARCHAR(255),
  `outros_ativos_nao_circulantes` VARCHAR(255),
  `investimentos` VARCHAR(255),
  `imobilizado` VARCHAR(255),
  `intangivel` VARCHAR(255),
  `diferido` VARCHAR(255),
  `passivo_total` VARCHAR(255),
  `passivo_circulante` VARCHAR(255),
  `obrigacoes_sociais_e_trabalhistas` VARCHAR(255),
  `fornecedores` VARCHAR(255),
  `obrigacoes_fiscais` VARCHAR(255),
  `dividendos_e_jcp_a_pagar` VARCHAR(255),
  `passivo_nao_circulante` VARCHAR(255),
  `lucros_e_receitas_a_apropriar` VARCHAR(255),
  `participacao_dos_acionistas_nao_controladores` VARCHAR(255),
  `patrimonio_liquido` VARCHAR(255),
  `capital_social_realizado` VARCHAR(255),
  `reservas_de_capital` VARCHAR(255),
  `reservas_de_reavaliacao` VARCHAR(255),
  `reservas_de_lucros` VARCHAR(255),
  `lucros/prejuizos_acumulados` VARCHAR(255),
  `ajustes_de_avaliacao_patrimonial` VARCHAR(255),
  `ajustes_acumulados_de_conversao` VARCHAR(255),
  `outros_resultados_abrangentes` VARCHAR(255)
);

In [66]:
conexion = connect_mysql(HOST,DB,USER,PASSWORD)
conexion

Conexão bem-sucedida ao banco de dados MySQL

In [67]:
create_db(conexion,DB)

Banco de dados petrobras criado ou já existente.

In [68]:
create_table(conexion,sql)

Tabela criada ou já existente.

In [76]:
insert_data_df(df, conexion)

Dados inseridos com sucesso.

## Referencias

- https://cloud.google.com/python/docs/setup (environment)
-

In [ ]:
#TODO2: utilizar sqlalchemy(Encontrei problemas ao gerar conexao com a mmysql GCP -> aprender

Base = declarative_base()

def mapear_tipo_para_sqlalchemy(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return Integer
    elif pd.api.types.is_float_dtype(dtype):
        return Float
    elif pd.api.types.is_bool_dtype(dtype):
        return Boolean
    elif pd.api.types.is_string_dtype(dtype):
        return String(255)  # Definir tamanho adequado
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return DateTime
    else:
        return Text 



def gerar_classe_sqlalchemy(df, nome_classe):
    # Definir dinamicamente uma nova classe para o SQLAlchemy
    attrs = {
        '__tablename__': nome_classe.lower(),
        'id': Column(Integer, primary_key=True, autoincrement=True)
    }

    # Para cada coluna no DataFrame, mapear o tipo de dados
    for col in df.columns:
        dtype = df[col].dtype
        tipo_sqlalchemy = mapear_tipo_para_sqlalchemy(dtype)
        print(f"Coluna: {col}, Tipo SQLAlchemy: {tipo_sqlalchemy}")
        
        # Adicionar dinamicamente a coluna à classe
        attrs[col] = Column(tipo_sqlalchemy)pymysql

    # Criar uma classe SQLAlchemy dinamicamente
    return type(nome_classe, (Base,), attrs)