In [1]:
!pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2023.7.22)

In [44]:
import os
import io
import math
import requests
import time
import numpy as np
import pandas as pd
import mysql.connector

from mysql.connector import Error
from google.cloud import storage
from google.cloud import bigquery
from pyspark.sql import DataFrame, SparkSession
!pip install unidecode
from unidecode import unidecode
from sqlalchemy import create_engine
from urllib.parse import quote_plus



from scipy import stats

from sqlalchemy import Column, Integer, Float, String, Boolean, DateTime, Text
from sqlalchemy.orm import declarative_base

import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: unidecode in /opt/conda/lib/python3.11/site-packages (1.3.8)

In [3]:
# credentials_path = "/home/jovyan/code/.devcontainer/soulcode-434516-8f4db69ae452.json"
# credentials_path = "/home/jovyan/code/.devcontainer/soulcode-434516-8f4db69ae452.json"
credentials_path = "/home/jovyan/code/soulcode-434516-31276919e28c.json"


os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [4]:
def fetch_data(url, headers=None):
    try:
      response = requests.get(url, headers=headers)
      response.raise_for_status()
      return response.json()
    except requests.exceptions.HTTPError as e:
      print(f"HTTP error occurred: {e}")
      return None
    except requests.exceptions.ConnectionError as e:
      print(f"connexion error occurred: {e}")
      return None
    except requests.exceptions.Timeout as e:
      print(f"Request timed out: {e}")
      return None
    except requests.exceptions.RequestException as e:
      print(f"Error fetching data from {url}: {e}")
      return None

def fetch_data_with_retry(url, headers=None, max_retries=3, retry_delay=5):
    for _ in range(max_retries):
        data = fetch_data(url, headers)
        if data is not None:
            return data
        print(f"Retrying in {retry_delay} seconds...")
        time.sleep(retry_delay)
    print("Max retries reached. Unable to fetch data.")
    return None

In [5]:
project_id = 'soulcode-434516'
dataset_id = 'projeto_final'
location = 'US'
client = bigquery.Client(project=project_id)

def create_dataset_bigQuery(client, dataset_id, location='US'):
    """Cria um dataset no BigQuery.

    Args:
        client: Um objeto cliente do BigQuery.
        dataset_id: O ID do dataset a ser criado.
        location: A localização geográfica do dataset.

    Returns:
        Um objeto Dataset representando o dataset criado.

    Raises:
        Exception: Se ocorrer algum erro durante a criação do dataset.
    """

    dataset_ref = client.dataset(dataset_id)
    dataset = bigquery.Dataset(dataset_ref)
    dataset.location = location

    try:
        dataset = client.create_dataset(dataset)
        print(f"Dataset {dataset.dataset_id} criado com sucesso!")
        return dataset
    except Exception as e:
        raise


# auth.authenticate_user()

# Criar o Dataset
dataset = None
try:
    dataset = create_dataset_bigQuery(client, dataset_id, location)
except Exception as e:
    print(f"Erro ao criar o dataset: {e}")

Erro ao criar o dataset: 409 POST https://bigquery.googleapis.com/bigquery/v2/projects/soulcode-434516/datasets?prettyPrint=false: Already Exists: Dataset soulcode-434516:projeto_final

In [6]:
from google.cloud import bigquery

def load_df_to_bigquery(df, project_id, dataset_id, table_id):
  """Loads a Pandas DataFrame into a BigQuery table.

  Args:
    df: The Pandas DataFrame to load.
    project_id: Your Google Cloud project ID.
    dataset_id: The BigQuery dataset ID.
    table_id: The BigQuery table ID.
  """
  # Construct the full table ID
  table_ref = f"{project_id}.{dataset_id}.{table_id}"

  # Configure the load job to truncate the table
  job_config = bigquery.LoadJobConfig(
      write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE
  )

  # Create a BigQuery client
  client = bigquery.Client(project=project_id)

  # Load the DataFrame into BigQuery
  job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
  job.result()  # Wait for the job to complete

  print(f"DataFrame loaded to BigQuery table: {table_ref}")

In [7]:
url_login = 'https://api.projectcor.com/v1/auth/login'
content = {
  "email": "academico@soulcode.com",
  "password": "Admin@123"
}
response  = requests.post(url_login, json=content)
token = token = response.json()['token']['access_token']
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjYyODQ3LCJkYXRhIjp7InVzZXJfaGFzaCI6ImM4YWI5OGQ1ZTAzYWExYWQzMTRkMjBmNDAxNzU4MTgwIiwiaXNfY29udGFjdCI6ZmFsc2UsImVudiI6InByb2R1Y3Rpb24ifSwiaWF0IjoxNzI5NTM4NzAxLCJleHAiOjE3Mjk1NDIzMDEsImF1ZCI6IkNPUjpBUElTRVJWSUNFUyJ9.YoztZ3Sfl3yOyve4oNsC5qtGtZa098BxGMKpat014Tc'

# Clients

In [8]:
base_url = 'https://api.projectcor.com/v1'
headers = {
    'Authorization': f'Bearer {token}',
    'Content-Type': "application/json"
}
url = base_url + '/clients'

response = requests.get(url, headers=headers)
response.json()['data']

[]

In [9]:
# horas
base_url = "https://api.projectcor.com/v1"
endpoint = 'https://api.projectcor.com/v1/hours?filters={"dateStart":"2024-01-01","dateDeadline":"2024-01-01","clients":null,"projects":null,"users":null,"labels":null,"teams":null }&page=1&orderBy={"by":"start","order":"ASC"}'
page = 1
query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-19","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'


data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data['data'])
df_info = pd.DataFrame(data)
display(df_info)
# lastpage = df_info['last_page']

,total_hours,total_cost,data,total,perPage,page,lastPage
0,13185.256667,0,"{'id': 28125093, 'start': '2024-10-01 00:00:00...",3916,20,1,196
1,13185.256667,0,"{'id': 28125090, 'start': '2024-10-01 00:00:00...",3916,20,1,196
2,13185.256667,0,"{'id': 28114109, 'start': '2024-10-01 00:00:00...",3916,20,1,196
3,13185.256667,0,"{'id': 28111238, 'start': '2024-10-01 00:00:00...",3916,20,1,196
4,13185.256667,0,"{'id': 28091708, 'start': '2024-10-01 00:00:00...",3916,20,1,196
5,13185.256667,0,"{'id': 28089633, 'start': '2024-10-01 00:00:00...",3916,20,1,196
6,13185.256667,0,"{'id': 28089630, 'start': '2024-10-01 00:00:00...",3916,20,1,196
7,13185.256667,0,"{'id': 28078144, 'start': '2024-10-01 00:00:00...",3916,20,1,196
8,13185.256667,0,"{'id': 28078098, 'start': '2024-10-01 00:00:00...",3916,20,1,196
9,13185.256667,0,"{'id': 28076746, 'start': '2024-10-01 00:00:00...",3916,20,1,196
10,13185.256667,0,"{'id': 28058699, 'start': '2024-10-01 00:00:00...",3916,20,1,196
11,13185.256667,0,"{'id': 28058648, 'start': '2024-10-01 00:00:00...",3916,20,1,196
12,13185.256667,0,"{'id': 28037733, 'start': '2024-10-01 00:00:00...",3916,20,1,196
13,13185.256667,0,"{'id': 28024899, 'start': '2024-10-01 00:00:00...",3916,20,1,196
14,13185.256667,0,"{'id': 28024824, 'start': '2024-10-01 00:00:00...",3916,20,1,196
15,13185.256667,0,"{'id': 28018064, 'start': '2024-10-01 00:00:00...",3916,20,1,196
16,13185.256667,0,"{'id': 27978980, 'start': '2024-10-01 00:00:00...",3916,20,1,196
17,13185.256667,0,"{'id': 27978112, 'start': '2024-10-01 00:00:00...",3916,20,1,196
18,13185.256667,0,"{'id': 27965262, 'start': '2024-10-01 00:00:00...",3916,20,1,196
19,13185.256667,0,"{'id': 27965214, 'start': '2024-10-01 00:00:00...",3916,20,1,196

Endopoint /hours

In [10]:
all_data = []
page = 1
while page <= 196: #4078
    query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
    data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)

    if data is None or not data['data']:
        break

    all_data.extend(data['data'])
    page = page + 1
    print(page, end=', ')

df = pd.DataFrame(all_data)
df

2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189,

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,user,client,project,task,userPosition,billInput,rework_hour
0,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.350000,,0,52882,7828077,None,None,...,TASK,NaN,None,"{'id': 52882, 'first_name': 'MIGUEL', 'last_na...",None,None,"{'id': 7828077, 'title': 'ENTREGAS DE CALENDAR...",None,None,NaN
1,28125090,2024-10-01 00:00:00,2024-10-01 04:03:00,4.050000,,0,52882,7702929,None,None,...,TASK,NaN,None,"{'id': 52882, 'first_name': 'MIGUEL', 'last_na...",None,None,"{'id': 7702929, 'title': 'MKT DO SEU JEITO/CEN...",None,None,NaN
2,28114109,2024-10-01 00:00:00,2024-10-01 10:00:00,10.000000,,0,53930,6966131,None,None,...,TASK,NaN,None,"{'id': 53930, 'first_name': 'GUZERA', 'last_na...",None,None,"{'id': 6966131, 'title': 'iFood_INSTITUCIONAL_...",None,None,NaN
3,28111238,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,,0,52859,7938044,None,None,...,TASK,NaN,None,"{'id': 52859, 'first_name': 'MATHEUS', 'last_n...",None,None,"{'id': 7938044, 'title': 'PROMO OUTUBRO_MÍDIA_...",None,None,NaN
4,28091708,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,,0,63056,7780509,None,None,...,TASK,NaN,None,"{'id': 63056, 'first_name': 'BRUNA', 'last_nam...",None,None,"{'id': 7780509, 'title': 'KFC | ESTRATÉGIA 202...",None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3740,28052680,2024-10-17 14:45:11,2024-10-17 18:42:11,3.950000,,0,56814,6567786,None,None,...,TASK,NaN,None,"{'id': 56814, 'first_name': 'VICTOR', 'last_na...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
3741,28037979,2024-10-17 15:30:00,2024-10-17 16:30:00,1.000000,,0,59135,7301814,None,None,...,TASK,NaN,[CARE PLUS] OVERVIEW SEMANAL,"{'id': 59135, 'first_name': 'STEPHANYE', 'last...",None,None,"{'id': 7301814, 'title': 'CARE PLUS SAÚDE - co...",None,None,NaN
3742,28037971,2024-10-17 15:30:00,2024-10-17 16:30:00,1.000000,,0,57111,7301828,None,None,...,TASK,NaN,[CARE PLUS] OVERVIEW SEMANAL,"{'id': 57111, 'first_name': 'ELISA', 'last_nam...",None,None,"{'id': 7301828, 'title': 'CLINIC 2024 - RELATÓ...",None,None,NaN
3743,28037923,2024-10-17 17:00:00,2024-10-17 17:45:00,0.750000,,0,52852,6567786,None,None,...,TASK,NaN,"DAILY Diária | CP, FF, Whirlpool e Dasa","{'id': 52852, 'first_name': 'AYLA', 'last_name...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
3744,28061249,2024-10-17 18:42:54,2024-10-17 19:07:54,0.416667,,0,56814,6567786,None,None,...,TASK,NaN,None,"{'id': 56814, 'first_name': 'VICTOR', 'last_na...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN

In [11]:
# df_page_1 = pd.DataFrame(data)
# df_page_1

In [12]:
df.info()
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3745 entries, 0 to 3744
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  3745 non-null   int64
 1   start               3745 non-null   object
 2   stop                3745 non-null   object
 3   duration            3745 non-null   float64
 4   ?column?            3745 non-null   object
 5   cost                3745 non-null   int64
 6   user_id             3745 non-null   int64
 7   task_log_id         3745 non-null   int64
 8   project_id          0 non-null      object
 9   client_id           0 non-null      object
 10  created_at          3745 non-null   object
 11  status              3745 non-null   object
 12  type                3745 non-null   object
 13  task_log_rework_id  577 non-null    float64
 14  comments            426 non-null    object
 15  user                3745 non-null   object
 16  client              0 non-null      object
 17  project             0 non-null      object
 18  task                3745 non-null   object
 19  userPosition        0 non-null      object
 20  billInput           0 non-null      object
 21  rework_hour         577 non-null    object
dtypes: float64(2), int64(4), object(16)
memory usage: 643.8+ KB
Index(['id', 'start', 'stop', 'duration', '?column?', 'cost', 'user_id',
       'task_log_id', 'project_id', 'client_id', 'created_at', 'status',
       'type', 'task_log_rework_id', 'comments', 'user', 'client', 'project',
       'task', 'userPosition', 'billInput', 'rework_hour'],
      dtype='object')

In [13]:
display(df.head(5))

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,user,client,project,task,userPosition,billInput,rework_hour
0,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.35,,0,52882,7828077,None,None,...,TASK,NaN,None,"{'id': 52882, 'first_name': 'MIGUEL', 'last_na...",None,None,"{'id': 7828077, 'title': 'ENTREGAS DE CALENDAR...",None,None,NaN
1,28125090,2024-10-01 00:00:00,2024-10-01 04:03:00,4.05,,0,52882,7702929,None,None,...,TASK,NaN,None,"{'id': 52882, 'first_name': 'MIGUEL', 'last_na...",None,None,"{'id': 7702929, 'title': 'MKT DO SEU JEITO/CEN...",None,None,NaN
2,28114109,2024-10-01 00:00:00,2024-10-01 10:00:00,10.00,,0,53930,6966131,None,None,...,TASK,NaN,None,"{'id': 53930, 'first_name': 'GUZERA', 'last_na...",None,None,"{'id': 6966131, 'title': 'iFood_INSTITUCIONAL_...",None,None,NaN
3,28111238,2024-10-01 00:00:00,2024-10-01 08:00:00,8.00,,0,52859,7938044,None,None,...,TASK,NaN,None,"{'id': 52859, 'first_name': 'MATHEUS', 'last_n...",None,None,"{'id': 7938044, 'title': 'PROMO OUTUBRO_MÍDIA_...",None,None,NaN
4,28091708,2024-10-01 00:00:00,2024-10-01 08:00:00,8.00,,0,63056,7780509,None,None,...,TASK,NaN,None,"{'id': 63056, 'first_name': 'BRUNA', 'last_nam...",None,None,"{'id': 7780509, 'title': 'KFC | ESTRATÉGIA 202...",None,None,NaN

In [14]:
df.describe()

,id,duration,cost,user_id,task_log_id,task_log_rework_id
count,3.745000e+03,3745.000000,3745.0,3745.000000,3.745000e+03,577.000000
mean,2.791108e+07,3.392644,0.0,55596.285447,7.620682e+06,653800.149047
std,1.252626e+05,2.910937,0.0,4222.817438,4.262462e+05,18900.444471
min,2.733293e+07,0.000000,0.0,51197.000000,6.473104e+06,567248.000000
25%,2.782360e+07,1.000000,0.0,52778.000000,7.601979e+06,654559.000000
50%,2.792459e+07,2.000000,0.0,52894.000000,7.814440e+06,658721.000000
75%,2.801106e+07,5.000000,0.0,59136.000000,7.890666e+06,662519.000000
max,2.812904e+07,18.000000,0.0,64672.000000,7.957568e+06,667106.000000

In [15]:
df['rework_hour'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3745 entries, 0 to 3744
Series name: rework_hour
Non-Null Count  Dtype
--------------  -----
577 non-null    object
dtypes: object(1)
memory usage: 29.4+ KB

In [16]:
df['duration'].describe()

count    3745.000000
mean        3.392644
std         2.910937
min         0.000000
25%         1.000000
50%         2.000000
75%         5.000000
max        18.000000
Name: duration, dtype: float64

In [17]:
df.columns

Index(['id', 'start', 'stop', 'duration', '?column?', 'cost', 'user_id',
       'task_log_id', 'project_id', 'client_id', 'created_at', 'status',
       'type', 'task_log_rework_id', 'comments', 'user', 'client', 'project',
       'task', 'userPosition', 'billInput', 'rework_hour'],
      dtype='object')

In [18]:
columns_to_drop = ['?column?', 'cost','project_id', 'client_id','comments', 'client', 'project','userPosition', 'billInput']
df = df.drop(columns=columns_to_drop)

In [19]:
df

,id,start,stop,duration,user_id,task_log_id,created_at,status,type,task_log_rework_id,user,task,rework_hour
0,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.350000,52882,7828077,2024-10-21 17:31:05,pending,TASK,NaN,"{'id': 52882, 'first_name': 'MIGUEL', 'last_na...","{'id': 7828077, 'title': 'ENTREGAS DE CALENDAR...",NaN
1,28125090,2024-10-01 00:00:00,2024-10-01 04:03:00,4.050000,52882,7702929,2024-10-21 17:30:58,pending,TASK,NaN,"{'id': 52882, 'first_name': 'MIGUEL', 'last_na...","{'id': 7702929, 'title': 'MKT DO SEU JEITO/CEN...",NaN
2,28114109,2024-10-01 00:00:00,2024-10-01 10:00:00,10.000000,53930,6966131,2024-10-21 14:13:49,pending,TASK,NaN,"{'id': 53930, 'first_name': 'GUZERA', 'last_na...","{'id': 6966131, 'title': 'iFood_INSTITUCIONAL_...",NaN
3,28111238,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,52859,7938044,2024-10-21 13:13:06,pending,TASK,NaN,"{'id': 52859, 'first_name': 'MATHEUS', 'last_n...","{'id': 7938044, 'title': 'PROMO OUTUBRO_MÍDIA_...",NaN
4,28091708,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,63056,7780509,2024-10-18 20:40:47,pending,TASK,NaN,"{'id': 63056, 'first_name': 'BRUNA', 'last_nam...","{'id': 7780509, 'title': 'KFC | ESTRATÉGIA 202...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3740,28052680,2024-10-17 14:45:11,2024-10-17 18:42:11,3.950000,56814,6567786,2024-10-17 17:45:10,pending,TASK,NaN,"{'id': 56814, 'first_name': 'VICTOR', 'last_na...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
3741,28037979,2024-10-17 15:30:00,2024-10-17 16:30:00,1.000000,59135,7301814,2024-10-17 03:40:51,pending,TASK,NaN,"{'id': 59135, 'first_name': 'STEPHANYE', 'last...","{'id': 7301814, 'title': 'CARE PLUS SAÚDE - co...",NaN
3742,28037971,2024-10-17 15:30:00,2024-10-17 16:30:00,1.000000,57111,7301828,2024-10-17 03:40:51,pending,TASK,NaN,"{'id': 57111, 'first_name': 'ELISA', 'last_nam...","{'id': 7301828, 'title': 'CLINIC 2024 - RELATÓ...",NaN
3743,28037923,2024-10-17 17:00:00,2024-10-17 17:45:00,0.750000,52852,6567786,2024-10-17 03:40:51,pending,TASK,NaN,"{'id': 52852, 'first_name': 'AYLA', 'last_name...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
3744,28061249,2024-10-17 18:42:54,2024-10-17 19:07:54,0.416667,56814,6567786,2024-10-17 21:42:56,pending,TASK,NaN,"{'id': 56814, 'first_name': 'VICTOR', 'last_na...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN

In [20]:
df_hours = df.iloc[:,:10]
df_hours

,id,start,stop,duration,user_id,task_log_id,created_at,status,type,task_log_rework_id
0,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.350000,52882,7828077,2024-10-21 17:31:05,pending,TASK,NaN
1,28125090,2024-10-01 00:00:00,2024-10-01 04:03:00,4.050000,52882,7702929,2024-10-21 17:30:58,pending,TASK,NaN
2,28114109,2024-10-01 00:00:00,2024-10-01 10:00:00,10.000000,53930,6966131,2024-10-21 14:13:49,pending,TASK,NaN
3,28111238,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,52859,7938044,2024-10-21 13:13:06,pending,TASK,NaN
4,28091708,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,63056,7780509,2024-10-18 20:40:47,pending,TASK,NaN
...,...,...,...,...,...,...,...,...,...,...
3740,28052680,2024-10-17 14:45:11,2024-10-17 18:42:11,3.950000,56814,6567786,2024-10-17 17:45:10,pending,TASK,NaN
3741,28037979,2024-10-17 15:30:00,2024-10-17 16:30:00,1.000000,59135,7301814,2024-10-17 03:40:51,pending,TASK,NaN
3742,28037971,2024-10-17 15:30:00,2024-10-17 16:30:00,1.000000,57111,7301828,2024-10-17 03:40:51,pending,TASK,NaN
3743,28037923,2024-10-17 17:00:00,2024-10-17 17:45:00,0.750000,52852,6567786,2024-10-17 03:40:51,pending,TASK,NaN
3744,28061249,2024-10-17 18:42:54,2024-10-17 19:07:54,0.416667,56814,6567786,2024-10-17 21:42:56,pending,TASK,NaN

In [21]:
df_hours.rename(columns={'id': 'id_hours'}, inplace=True)
df_hours.columns

Index(['id_hours', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type', 'task_log_rework_id'],
      dtype='object')

In [22]:
load_df_to_bigquery(df_hours,project_id=project_id, dataset_id=dataset_id,table_id="hours")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.hours

In [23]:
df_users = df.iloc[:,10:11]
user_list = []
for index, row in df_users.iterrows():
    user_list.append(row['user'])
df_users = pd.DataFrame(user_list)
df_users

,id,first_name,last_name,picture,cuil,remaining_hours,timezone,gmt
0,52882,MIGUEL,SOUZA,https://user-images.projectcor.com/production/...,123452,100,America/Sao_Paulo,-03:00
1,52882,MIGUEL,SOUZA,https://user-images.projectcor.com/production/...,123452,100,America/Sao_Paulo,-03:00
2,53930,GUZERA,ALVES,https://user-images.projectcor.com/production/...,800410,100,America/Buenos_Aires,-03:00
3,52859,MATHEUS,ROCHA,https://user-images.projectcor.com/production/...,331101,100,America/Sao_Paulo,-03:00
4,63056,BRUNA,COELHO,https://user-images.projectcor.com/production/...,800432,100,America/Sao_Paulo,-03:00
...,...,...,...,...,...,...,...,...
3740,56814,VICTOR,GREGHI,https://user-images.projectcor.com/production/...,800421,100,America/Buenos_Aires,-03:00
3741,59135,STEPHANYE,CANADA,https://user-images.projectcor.com/production/...,800434,100,America/Buenos_Aires,-03:00
3742,57111,ELISA,LUSTOSA,https://user-images.projectcor.com/production/...,800427,100,America/Buenos_Aires,-03:00
3743,52852,AYLA,NASCIMENTO,https://user-images.projectcor.com/production/...,10964,100,America/Sao_Paulo,-03:00
3744,56814,VICTOR,GREGHI,https://user-images.projectcor.com/production/...,800421,100,America/Buenos_Aires,-03:00

In [24]:
df_users.rename(columns={'id': 'id_user'}, inplace=True)
df_users.columns

Index(['id_user', 'first_name', 'last_name', 'picture', 'cuil',
       'remaining_hours', 'timezone', 'gmt'],
      dtype='object')

In [25]:
load_df_to_bigquery(df_users,project_id=project_id, dataset_id=dataset_id,table_id="users")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.users

In [26]:
df_hours_user = pd.merge(df_hours, df_users, left_on='user_id', right_on='id_user')
display(df_hours_user)
load_df_to_bigquery(df_hours_user,project_id=project_id, dataset_id=dataset_id,table_id="users_hours")

,id_hours,start,stop,duration,user_id,task_log_id,created_at,status,type,task_log_rework_id,id_user,first_name,last_name,picture,cuil,remaining_hours,timezone,gmt
0,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.35,52882,7828077,2024-10-21 17:31:05,pending,TASK,NaN,52882,MIGUEL,SOUZA,https://user-images.projectcor.com/production/...,123452,100,America/Sao_Paulo,-03:00
1,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.35,52882,7828077,2024-10-21 17:31:05,pending,TASK,NaN,52882,MIGUEL,SOUZA,https://user-images.projectcor.com/production/...,123452,100,America/Sao_Paulo,-03:00
2,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.35,52882,7828077,2024-10-21 17:31:05,pending,TASK,NaN,52882,MIGUEL,SOUZA,https://user-images.projectcor.com/production/...,123452,100,America/Sao_Paulo,-03:00
3,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.35,52882,7828077,2024-10-21 17:31:05,pending,TASK,NaN,52882,MIGUEL,SOUZA,https://user-images.projectcor.com/production/...,123452,100,America/Sao_Paulo,-03:00
4,28125093,2024-10-01 00:00:00,2024-10-01 04:21:00,4.35,52882,7828077,2024-10-21 17:31:05,pending,TASK,NaN,52882,MIGUEL,SOUZA,https://user-images.projectcor.com/production/...,123452,100,America/Sao_Paulo,-03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164082,28045635,2024-10-17 00:00:00,2024-10-17 05:00:00,5.00,52999,7932531,2024-10-17 14:48:09,pending,TASK,NaN,52999,MARCELO,CORDEIRO,https://user-images.projectcor.com/production/...,360411-3,100,America/Buenos_Aires,-03:00
164083,28045635,2024-10-17 00:00:00,2024-10-17 05:00:00,5.00,52999,7932531,2024-10-17 14:48:09,pending,TASK,NaN,52999,MARCELO,CORDEIRO,https://user-images.projectcor.com/production/...,360411-3,100,America/Buenos_Aires,-03:00
164084,28045635,2024-10-17 00:00:00,2024-10-17 05:00:00,5.00,52999,7932531,2024-10-17 14:48:09,pending,TASK,NaN,52999,MARCELO,CORDEIRO,https://user-images.projectcor.com/production/...,360411-3,100,America/Buenos_Aires,-03:00
164085,28045635,2024-10-17 00:00:00,2024-10-17 05:00:00,5.00,52999,7932531,2024-10-17 14:48:09,pending,TASK,NaN,52999,MARCELO,CORDEIRO,https://user-images.projectcor.com/production/...,360411-3,100,America/Buenos_Aires,-03:00
164086,28045635,2024-10-17 00:00:00,2024-10-17 05:00:00,5.00,52999,7932531,2024-10-17 14:48:09,pending,TASK,NaN,52999,MARCELO,CORDEIRO,https://user-images.projectcor.com/production/...,360411-3,100,America/Buenos_Aires,-03:00

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.users_hours

In [27]:
df_tasks = df[['task']]

task_list = []
for index, row in df_tasks.iterrows():
    task_list.append(row['task'])


df_tasks = pd.DataFrame(task_list)
df_project = df_tasks[['project']]

# drop_columns_task = ['task_father', 'father', 'labels', 'reworks', 'lastReworks','project']
# df_tasks = df_tasks.drop(columns=drop_columns_task)
df_tasks

,id,title,project_id,task_father,status,father,project,labels,reworks,lastReworks
0,7828077,ENTREGAS DE CALENDARIO - DEZEMBRO | PLANEJAMENTO,433475,7817886.0,finalizada,"{'id': 7817886, 'title': 'ENTREGAS DE CALENDAR...","{'id': 433475, 'name': 'ENTREGAS DE CALENDÁRIO...",[],[],[]
1,7702929,MKT DO SEU JEITO/CENTRAL DE CRESCIMENTO | PLAN...,433420,7697996.0,en_diseno,"{'id': 7697996, 'title': 'MKT DO SEU JEITO/CEN...","{'id': 433420, 'name': 'CENTRAL DE CRESCIMENTO...",[],"[{'id': 294561920, 'eventlogstable_id': 770292...","[{'id': 658132, 'task_log_id': 7702929, 'user_..."
2,6966131,iFood_INSTITUCIONAL_Gestão da Conta,437599,NaN,en_proceso,None,"{'id': 437599, 'name': 'INSTITUCIONAL', 'clien...",[],[],[]
3,7938044,PROMO OUTUBRO_MÍDIA_planejamento_Estratégia de...,502689,7938037.0,finalizada,"{'id': 7938037, 'title': 'PROMO OUTUBRO_MÍDIA_...","{'id': 502689, 'name': 'PROMOÇÕES', 'client_id...",[],[],[]
4,7780509,KFC | ESTRATÉGIA 2025 | PLANEJAMENTO | APRE ES...,512286,7773911.0,finalizada,"{'id': 7773911, 'title': 'KFC | ESTRATÉGIA 2025'}","{'id': 512286, 'name': 'ESTRATÉGIA 2025', 'cli...",[],[],[]
...,...,...,...,...,...,...,...,...,...,...
3740,6567786,HORAS NÃO ALOCADAS EM CLIENTE,443452,NaN,en_proceso,None,"{'id': 443452, 'name': 'HORAS NÃO ALOCADAS EM ...",[],[],[]
3741,7301814,CARE PLUS SAÚDE - controle de pacing,433512,NaN,finalizada,None,"{'id': 433512, 'name': 'INSTITUCIONAL.', 'clie...",[],[],[]
3742,7301828,CLINIC 2024 - RELATÓRIO SEMANAL JUNHO,437624,NaN,finalizada,None,"{'id': 437624, 'name': 'CLINIC 2024', 'client_...",[],[],[]
3743,6567786,HORAS NÃO ALOCADAS EM CLIENTE,443452,NaN,en_proceso,None,"{'id': 443452, 'name': 'HORAS NÃO ALOCADAS EM ...",[],[],[]
3744,6567786,HORAS NÃO ALOCADAS EM CLIENTE,443452,NaN,en_proceso,None,"{'id': 443452, 'name': 'HORAS NÃO ALOCADAS EM ...",[],[],[]

In [28]:
df_tasks.rename(columns={'id': 'task_id'}, inplace=True)
df_tasks.columns

Index(['task_id', 'title', 'project_id', 'task_father', 'status', 'father',
       'project', 'labels', 'reworks', 'lastReworks'],
      dtype='object')

In [29]:
load_df_to_bigquery(df_tasks,project_id=project_id, dataset_id=dataset_id,table_id="task")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: father, project, labels, reworks, lastReworks.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.task

# Dataframe reworks e LastReworks

In [30]:
import ast

df_tasks['reworks'] = df_tasks['reworks'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_tasks['lastReworks'] = df_tasks['lastReworks'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
filtered_data = df_tasks[(df_tasks['reworks'].apply(lambda x: len(x) > 0)) | (df_tasks['lastReworks'].apply(lambda x: len(x) > 0))]
filtered_data[['reworks', 'lastReworks']]

,reworks,lastReworks
1,"[{'id': 294561920, 'eventlogstable_id': 770292...","[{'id': 658132, 'task_log_id': 7702929, 'user_..."
13,"[{'id': 294561920, 'eventlogstable_id': 770292...","[{'id': 658132, 'task_log_id': 7702929, 'user_..."
21,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."
30,"[{'id': 291865460, 'eventlogstable_id': 781870...","[{'id': 662071, 'task_log_id': 7818709, 'user_..."
38,"[{'id': 289250880, 'eventlogstable_id': 771105...","[{'id': 647214, 'task_log_id': 7711053, 'user_..."
...,...,...
3704,"[{'id': 297330541, 'eventlogstable_id': 790604...","[{'id': 666665, 'task_log_id': 7906048, 'user_..."
3707,"[{'id': 297119390, 'eventlogstable_id': 792041...","[{'id': 663603, 'task_log_id': 7920419, 'user_..."
3719,"[{'id': 294301832, 'eventlogstable_id': 783000...","[{'id': 665061, 'task_log_id': 7830008, 'user_..."
3721,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."
3737,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."

In [31]:
df_reworks = filtered_data[['reworks']]

reworks_list = []
for index, row in filtered_data.iterrows():
    for x in row['reworks']:
        field_change = x['field_change']
        del x['field_change']
        dict_concat = {**x, **field_change}
        reworks_list.append(dict_concat)

df_reworks = pd.DataFrame(reworks_list)
df_reworks

,id,eventlogstable_id,created_at,requested_by,description,isEdition
0,294561920,7702929,2024-10-03 12:45:56,client,...,False
1,294561920,7702929,2024-10-03 12:45:56,client,...,False
2,294835383,7479683,2024-10-03 21:19:29,client,<p>...</p>,False
3,291865460,7818709,2024-09-24 19:21:45,client,...,False
4,295382605,7818709,2024-10-07 13:23:48,client,...,False
...,...,...,...,...,...,...
2301,297119390,7920419,2024-10-11 17:52:04,internal,"<p>Oi_Biel,_tudo_bom?</p><p>&nbsp;</p><p>Apena...",False
2302,294301832,7830008,2024-10-02 17:25:13,client,"<p>Oi Chu, tudo bem?</p><p>&nbsp;</p><p>Segue ...",False
2303,297792130,7830008,2024-10-15 17:18:23,client,"<p>Oi Chu, tudo bem?</p><p>&nbsp;</p><p>Segue ...",False
2304,294835383,7479683,2024-10-03 21:19:29,client,<p>...</p>,False
2305,294835383,7479683,2024-10-03 21:19:29,client,<p>...</p>,False

In [32]:
load_df_to_bigquery(df_reworks,project_id=project_id, dataset_id=dataset_id,table_id="reworks")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.reworks

# Last Reworks

In [33]:
df_lastreworks = filtered_data[['lastReworks']]

lastreworks_list = []
for index, row in filtered_data.iterrows():
    for x in row['lastReworks']:
        lastreworks_list.append(x)
        
df_lastreworks = pd.DataFrame(lastreworks_list)
df_lastreworks

,id,task_log_id,user_id,contact_id,date,source,description,field_change,company_id,created_at,updated_at,deleted_at,reason,deadline,attachments
0,658132,7702929,51578,None,2024-10-03T00:00:00.000Z,client,"<p><span class=""mention user-mention-52882"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-03 12:45:56,2024-10-03 12:45:56,None,adjustment,2024-10-11T21:00:00.000Z,[]
1,658132,7702929,51578,None,2024-10-03T00:00:00.000Z,client,"<p><span class=""mention user-mention-52882"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-03 12:45:56,2024-10-03 12:45:56,None,adjustment,2024-10-11T21:00:00.000Z,[]
2,658721,7479683,52908,None,2024-10-03T00:00:00.000Z,client,"<p><span class=""mention user-mention-52938"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-03 21:19:29,2024-10-03 21:19:29,None,adjustment,2024-10-04T21:19:00.000Z,[]
3,662071,7818709,51578,None,2024-10-09T00:00:00.000Z,client,"<p><span class=""mention user-mention-53378"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-09 19:54:59,2024-10-09 19:54:59,None,adjustment,2024-10-09T21:00:00.000Z,[]
4,661625,7818709,51578,None,2024-10-09T00:00:00.000Z,client,"<p><span class=""mention user-mention-53378"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-09 14:04:11,2024-10-09 14:04:11,None,adjustment,2024-10-09T21:00:00.000Z,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2301,663603,7920419,63066,None,2024-10-11T00:00:00.000Z,internal,"<p>Oi_Biel,_tudo_bom?</p><p>&nbsp;</p><p>Apena...","{'requested_by': 'internal', 'description': '<...",3898,2024-10-11 17:52:03,2024-10-11 17:52:03,None,adjustment,2024-10-11T18:00:00.000Z,[]
2302,665061,7830008,62272,None,2024-10-15T00:00:00.000Z,client,"<p>Oi Chu, tudo bem?</p><p>&nbsp;</p><p>Segue ...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-15 17:18:23,2024-10-15 17:18:23,None,adjustment,2024-10-15T22:00:00.000Z,"[{'id': '8412085', 'url': 'https://cor.works/p..."
2303,657624,7830008,62272,None,2024-10-02T00:00:00.000Z,client,"<p>Oi Chu, tudo bem?</p><p>&nbsp;</p><p>Segue ...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-02 17:25:13,2024-10-02 17:25:13,None,adjustment,2024-10-03T22:00:00.000Z,"[{'id': '8327800', 'url': 'https://cor.works/p..."
2304,658721,7479683,52908,None,2024-10-03T00:00:00.000Z,client,"<p><span class=""mention user-mention-52938"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-03 21:19:29,2024-10-03 21:19:29,None,adjustment,2024-10-04T21:19:00.000Z,[]
2305,658721,7479683,52908,None,2024-10-03T00:00:00.000Z,client,"<p><span class=""mention user-mention-52938"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-03 21:19:29,2024-10-03 21:19:29,None,adjustment,2024-10-04T21:19:00.000Z,[]

In [34]:
load_df_to_bigquery(df_lastreworks,project_id=project_id, dataset_id=dataset_id,table_id="lastreworks")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: contact_id, field_change, deleted_at, attachments.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.lastreworks

In [35]:
df_project

                                                project
0     {'id': 433475, 'name': 'ENTREGAS DE CALENDÁRIO...
1     {'id': 433420, 'name': 'CENTRAL DE CRESCIMENTO...
2     {'id': 437599, 'name': 'INSTITUCIONAL', 'clien...
3     {'id': 502689, 'name': 'PROMOÇÕES', 'client_id...
4     {'id': 512286, 'name': 'ESTRATÉGIA 2025', 'cli...
...                                                 ...
3740  {'id': 443452, 'name': 'HORAS NÃO ALOCADAS EM ...
3741  {'id': 433512, 'name': 'INSTITUCIONAL.', 'clie...
3742  {'id': 437624, 'name': 'CLINIC 2024', 'client_...
3743  {'id': 443452, 'name': 'HORAS NÃO ALOCADAS EM ...
3744  {'id': 443452, 'name': 'HORAS NÃO ALOCADAS EM ...

[3745 rows x 1 columns]

In [36]:
project_list = []
for index, row in df_project.iterrows():
    project_list.append(row['project'])

df_project = pd.DataFrame(project_list)
df_client = df_project[['client']]
df_project = df_project.drop(columns=['client'])
df_project

          id                           name  client_id
0     433475         ENTREGAS DE CALENDÁRIO      58231
1     433420         CENTRAL DE CRESCIMENTO      58231
2     437599                  INSTITUCIONAL      58231
3     502689                      PROMOÇÕES      58231
4     512286                ESTRATÉGIA 2025      69244
...      ...                            ...        ...
3740  443452  HORAS NÃO ALOCADAS EM CLIENTE      58404
3741  433512                 INSTITUCIONAL.      58319
3742  437624                    CLINIC 2024      58406
3743  443452  HORAS NÃO ALOCADAS EM CLIENTE      58404
3744  443452  HORAS NÃO ALOCADAS EM CLIENTE      58404

[3745 rows x 3 columns]

In [37]:
df_project.columns

Index(['id', 'name', 'client_id'], dtype='object')

In [38]:
load_df_to_bigquery(df_project,project_id=project_id, dataset_id=dataset_id,table_id="project")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.project

In [39]:
client_list = []
for index, row in df_client.iterrows():
    client_list.append(row['client'])

df_client = pd.DataFrame(client_list)
df_client

         id             name  client_status_id
0     58231            IFOOD                 1
1     58231            IFOOD                 1
2     58231            IFOOD                 1
3     58231            IFOOD                 1
4     69244              KFC                 1
...     ...              ...               ...
3740  58404              DM9                 1
3741  58319        CARE PLUS                 1
3742  58406  CAREPLUS CLINIC                 1
3743  58404              DM9                 1
3744  58404              DM9                 1

[3745 rows x 3 columns]

In [40]:
load_df_to_bigquery(df_tasks,project_id=project_id, dataset_id=dataset_id,table_id="client")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: father, project, labels, reworks, lastReworks.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.client

In [41]:
df_client.isnull().sum()

id                  0
name                0
client_status_id    0
dtype: int64

In [42]:
df_merged = pd.concat([df_hours, df_users,df_tasks,df_project,df_client], axis=1)
df_merged.columns

Index(['id_hours', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type', 'task_log_rework_id', 'id_user',
       'first_name', 'last_name', 'picture', 'cuil', 'remaining_hours',
       'timezone', 'gmt', 'task_id', 'title', 'project_id', 'task_father',
       'status', 'father', 'project', 'labels', 'reworks', 'lastReworks', 'id',
       'name', 'client_id', 'id', 'name', 'client_status_id'],
      dtype='object')

In [43]:
HOST = '34.16.33.165'
DB = 'petrobras'
USER = 'soulcode'
PASSWORD = 'Soulcode@!12pass'