In [1]:
!pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2023.7.22)

In [2]:
import os
import io
import math
import requests
import time
import numpy as np
import pandas as pd
import mysql.connector

from mysql.connector import Error
from google.cloud import storage
from google.cloud import bigquery
from pyspark.sql import DataFrame, SparkSession
!pip install unidecode
from unidecode import unidecode
from sqlalchemy import create_engine
from urllib.parse import quote_plus



from scipy import stats

from sqlalchemy import Column, Integer, Float, String, Boolean, DateTime, Text
from sqlalchemy.orm import declarative_base

import matplotlib.pyplot as plt
import seaborn as sns
import datetime

Requirement already satisfied: unidecode in /opt/conda/lib/python3.11/site-packages (1.3.8)

In [3]:
# credentials_path = "/home/jovyan/code/.devcontainer/soulcode-434516-8f4db69ae452.json"
# credentials_path = "/home/jovyan/code/.devcontainer/soulcode-434516-8f4db69ae452.json"
credentials_path = "/home/jovyan/code/soulcode-434516-31276919e28c.json"


os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [4]:
def fetch_data(url, headers=None):
    try:
      response = requests.get(url, headers=headers)
      response.raise_for_status()
      return response.json()
    except requests.exceptions.HTTPError as e:
      print(f"HTTP error occurred: {e}")
      return None
    except requests.exceptions.ConnectionError as e:
      print(f"connexion error occurred: {e}")
      return None
    except requests.exceptions.Timeout as e:
      print(f"Request timed out: {e}")
      return None
    except requests.exceptions.RequestException as e:
      print(f"Error fetching data from {url}: {e}")
      return None

def fetch_data_with_retry(url, headers=None, max_retries=3, retry_delay=5):
    for _ in range(max_retries):
        data = fetch_data(url, headers)
        if data is not None:
            return data
        print(f"Retrying in {retry_delay} seconds...")
        time.sleep(retry_delay)
    print("Max retries reached. Unable to fetch data.")
    return None

In [5]:
project_id = 'soulcode-434516'
dataset_id = 'projeto_final'
location = 'US'
client = bigquery.Client(project=project_id)

def create_dataset_bigQuery(client, dataset_id, location='US'):
    """Cria um dataset no BigQuery.

    Args:
        client: Um objeto cliente do BigQuery.
        dataset_id: O ID do dataset a ser criado.
        location: A localização geográfica do dataset.

    Returns:
        Um objeto Dataset representando o dataset criado.

    Raises:
        Exception: Se ocorrer algum erro durante a criação do dataset.
    """

    dataset_ref = client.dataset(dataset_id)
    dataset = bigquery.Dataset(dataset_ref)
    dataset.location = location

    try:
        dataset = client.create_dataset(dataset)
        print(f"Dataset {dataset.dataset_id} criado com sucesso!")
        return dataset
    except Exception as e:
        raise


# auth.authenticate_user()

# Criar o Dataset
dataset = None
try:
    dataset = create_dataset_bigQuery(client, dataset_id, location)
except Exception as e:
    print(f"Erro ao criar o dataset: {e}")

Erro ao criar o dataset: 409 POST https://bigquery.googleapis.com/bigquery/v2/projects/soulcode-434516/datasets?prettyPrint=false: Already Exists: Dataset soulcode-434516:projeto_final

In [6]:
from google.cloud import bigquery

def load_df_to_bigquery(df, project_id, dataset_id, table_id):
  """Loads a Pandas DataFrame into a BigQuery table.

  Args:
    df: The Pandas DataFrame to load.
    project_id: Your Google Cloud project ID.
    dataset_id: The BigQuery dataset ID.
    table_id: The BigQuery table ID.
  """
  # Construct the full table ID
  table_ref = f"{project_id}.{dataset_id}.{table_id}"

  # Configure the load job to truncate the table
  job_config = bigquery.LoadJobConfig(
      write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE
  )

  # Create a BigQuery client
  client = bigquery.Client(project=project_id)

  # Load the DataFrame into BigQuery
  job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
  job.result()  # Wait for the job to complete

  print(f"DataFrame loaded to BigQuery table: {table_ref}")

# Endpoint Auth login

In [7]:
url_login = 'https://api.projectcor.com/v1/auth/login'
content = {
  "email": "academico@soulcode.com",
  "password": "Admin@123"
}
response  = requests.post(url_login, json=content)
token = token = response.json()['token']['access_token']
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjYyODQ3LCJkYXRhIjp7InVzZXJfaGFzaCI6ImM4YWI5OGQ1ZTAzYWExYWQzMTRkMjBmNDAxNzU4MTgwIiwiaXNfY29udGFjdCI6ZmFsc2UsImVudiI6InByb2R1Y3Rpb24ifSwiaWF0IjoxNzI5ODg2NTgxLCJleHAiOjE3Mjk4OTAxODEsImF1ZCI6IkNPUjpBUElTRVJWSUNFUyJ9.NB5eOSo-SMRYTKouBlNLSC38A0qHhYWjcU6B-XDe584'

# Clients

In [8]:
base_url = 'https://api.projectcor.com/v1'
headers = {
    'Authorization': f'Bearer {token}',
    'Content-Type': "application/json"
}
url = base_url + '/clients'

response = requests.get(url, headers=headers)
response.json()['data']

[]

In [9]:
# horas
base_url = "https://api.projectcor.com/v1"
endpoint = 'https://api.projectcor.com/v1/hours?filters={"dateStart":"2024-01-01","dateDeadline":"2024-10-22","clients":null,"projects":null,"users":null,"labels":null,"teams":null }&page=1&orderBy={"by":"start","order":"ASC"}'
page = 1
query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-10-03","dateDeadline":"2024-10-03","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'


data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data['data'])
df_info = pd.DataFrame(data)
display(int(df_info['lastPage'][0]))
# lastpage = df_info['last_page']

15

# Endopoint /hours

In [10]:
all_data = []
page = 1
while page <= 10: #4078
    query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
    data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)

    if data is None or not data['data']:
        break

    all_data.extend(data['data'])
    page = page + 1
    print(page, end=', ')

df = pd.DataFrame(all_data)
df

2, 3, 4, 5, 6, 7, 8, 9, 10, 11,

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,user,client,project,task,userPosition,billInput,rework_hour
0,28258389,2024-10-01 00:00:00,2024-10-01 06:00:00,6.000000,,0,57731,7856477,None,None,...,TASK,NaN,None,"{'id': 57731, 'first_name': 'BRUNA', 'last_nam...",None,None,"{'id': 7856477, 'title': 'BRASTEMP BLACK FRIDA...",None,None,NaN
1,28258382,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,,0,57731,7856576,None,None,...,TASK,NaN,None,"{'id': 57731, 'first_name': 'BRUNA', 'last_nam...",None,None,"{'id': 7856576, 'title': 'CONSUL MICROONDAS / ...",None,None,NaN
2,28255261,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,,0,52857,6542563,None,None,...,TASK,NaN,None,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...",None,None,"{'id': 6542563, 'title': 'ARC0002/2024 - CAMPA...",None,None,NaN
3,28255255,2024-10-01 00:00:00,2024-10-01 03:00:00,3.000000,,0,52857,6567106,None,None,...,TASK,NaN,None,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...",None,None,"{'id': 6567106, 'title': 'CAMPANHA INSTITUCION...",None,None,NaN
4,28255250,2024-10-01 00:00:00,2024-10-01 03:00:00,3.000000,,0,52857,6567786,None,None,...,TASK,NaN,None,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,27679178,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,,0,63066,7810773,None,None,...,TASK,655667.0,None,"{'id': 63066, 'first_name': 'AMANDA', 'last_na...",None,None,"{'id': 7810773, 'title': 'KFC | 2 POR 23,90 - ...",None,None,"{'requested_by': 'client', 'description': '<p>..."
196,27679174,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,,0,63066,7846082,None,None,...,TASK,NaN,None,"{'id': 63066, 'first_name': 'AMANDA', 'last_na...",None,None,"{'id': 7846082, 'title': 'KFC | 2 POR 23,90 - ...",None,None,NaN
197,27679164,2024-10-01 00:00:00,2024-10-01 01:09:00,1.150000,,0,63066,7837172,None,None,...,TASK,NaN,None,"{'id': 63066, 'first_name': 'AMANDA', 'last_na...",None,None,"{'id': 7837172, 'title': 'KFC | 2 POR 23,90 - ...",None,None,NaN
198,27679162,2024-10-01 00:00:00,2024-10-01 01:47:00,1.783333,,0,63066,7845611,None,None,...,TASK,NaN,None,"{'id': 63066, 'first_name': 'AMANDA', 'last_na...",None,None,"{'id': 7845611, 'title': 'KFC | 2 POR 23,90 | ...",None,None,NaN
199,27679130,2024-10-01 00:00:00,2024-10-01 01:00:00,1.000000,,0,59616,7770941,None,None,...,TASK,NaN,None,"{'id': 59616, 'first_name': 'CAMILA', 'last_na...",None,None,"{'id': 7770941, 'title': 'BRASTEMP BLACK FRIDA...",None,None,NaN

In [11]:
# load_df_to_bigquery(df,project_id=project_id, dataset_id=dataset_id,table_id="df")

In [12]:
# df_page_1 = pd.DataFrame(data)
# df_page_1

In [13]:
import datetime
import pandas as pd



start_year = 2024
start_month = 10  # Adjust this to your desired starting month (1-12)

today = datetime.date.today()
end_day = today.day
all_data = []

for day in range(1, end_day + 1):
    date = datetime.date(year=start_year, month=start_month, day=day)
    print(f'Dia da requisição:{date}')
    # Check if the current date is after the desired start month
    if date > today:
        # Stop iterating if the loop goes beyond today
        break
    
    formatted_date = date.strftime("%Y-%m-%d")
    query = f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"{formatted_date}","dateDeadline":"{formatted_date}","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page=1&orderBy={{"by":"start","order":"ASC"}}'
    data_info = fetch_data_with_retry(query, headers, max_retries=1, retry_delay=1)
    
    # last_page = int(data_info['lastPage'][0])
    page = 1
    while page< 99:
        
        query = f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"{formatted_date}","dateDeadline":"{formatted_date}","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
        data = fetch_data_with_retry(query, headers, max_retries=1, retry_delay=2)
        
        if data is None or not data['data']:
            break

        all_data.extend(data['data'])
        page = page + 1
    print(page, end='')

df_daily = pd.DataFrame(all_data)

    # Process the daily DataFrame as needed (e.g., save, append, etc.)
    # ...

# Combine or process all daily DataFrames as needed (optional)
# ...

Dia da requisição:2024-10-01
17Dia da requisição:2024-10-02
18Dia da requisição:2024-10-03
16Dia da requisição:2024-10-04
16Dia da requisição:2024-10-05
2Dia da requisição:2024-10-06
2Dia da requisição:2024-10-07
19Dia da requisição:2024-10-08
20Dia da requisição:2024-10-09
19Dia da requisição:2024-10-10
18Dia da requisição:2024-10-11
17Dia da requisição:2024-10-12
2Dia da requisição:2024-10-13
2Dia da requisição:2024-10-14
18Dia da requisição:2024-10-15
19Dia da requisição:2024-10-16
16Dia da requisição:2024-10-17
16Dia da requisição:2024-10-18
16Dia da requisição:2024-10-19
2Dia da requisição:2024-10-20
2Dia da requisição:2024-10-21
17Dia da requisição:2024-10-22
16Dia da requisição:2024-10-23
11Dia da requisição:2024-10-24
11Dia da requisição:2024-10-25
6

In [14]:
df.info()
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  200 non-null    int64
 1   start               200 non-null    object
 2   stop                200 non-null    object
 3   duration            200 non-null    float64
 4   ?column?            200 non-null    object
 5   cost                200 non-null    int64
 6   user_id             200 non-null    int64
 7   task_log_id         200 non-null    int64
 8   project_id          0 non-null      object
 9   client_id           0 non-null      object
 10  created_at          200 non-null    object
 11  status              200 non-null    object
 12  type                200 non-null    object
 13  task_log_rework_id  24 non-null     float64
 14  comments            13 non-null     object
 15  user                200 non-null    object
 16  client              0 non-null      object
 17  project             0 non-null      object
 18  task                200 non-null    object
 19  userPosition        0 non-null      object
 20  billInput           0 non-null      object
 21  rework_hour         24 non-null     object
dtypes: float64(2), int64(4), object(16)
memory usage: 34.5+ KB
Index(['id', 'start', 'stop', 'duration', '?column?', 'cost', 'user_id',
       'task_log_id', 'project_id', 'client_id', 'created_at', 'status',
       'type', 'task_log_rework_id', 'comments', 'user', 'client', 'project',
       'task', 'userPosition', 'billInput', 'rework_hour'],
      dtype='object')

In [15]:
display(df.head(5))

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,user,client,project,task,userPosition,billInput,rework_hour
0,28258389,2024-10-01 00:00:00,2024-10-01 06:00:00,6.0,,0,57731,7856477,None,None,...,TASK,NaN,None,"{'id': 57731, 'first_name': 'BRUNA', 'last_nam...",None,None,"{'id': 7856477, 'title': 'BRASTEMP BLACK FRIDA...",None,None,NaN
1,28258382,2024-10-01 00:00:00,2024-10-01 02:00:00,2.0,,0,57731,7856576,None,None,...,TASK,NaN,None,"{'id': 57731, 'first_name': 'BRUNA', 'last_nam...",None,None,"{'id': 7856576, 'title': 'CONSUL MICROONDAS / ...",None,None,NaN
2,28255261,2024-10-01 00:00:00,2024-10-01 02:00:00,2.0,,0,52857,6542563,None,None,...,TASK,NaN,None,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...",None,None,"{'id': 6542563, 'title': 'ARC0002/2024 - CAMPA...",None,None,NaN
3,28255255,2024-10-01 00:00:00,2024-10-01 03:00:00,3.0,,0,52857,6567106,None,None,...,TASK,NaN,None,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...",None,None,"{'id': 6567106, 'title': 'CAMPANHA INSTITUCION...",None,None,NaN
4,28255250,2024-10-01 00:00:00,2024-10-01 03:00:00,3.0,,0,52857,6567786,None,None,...,TASK,NaN,None,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN

In [16]:
df.describe()

,id,duration,cost,user_id,task_log_id,task_log_rework_id
count,2.000000e+02,200.000000,200.0,200.000000,2.000000e+02,24.000000
mean,2.784045e+07,4.315033,0.0,55597.840000,7.622244e+06,648107.875000
std,1.790905e+05,2.887914,0.0,4275.734298,3.979289e+05,18699.924925
min,2.767913e+07,0.166667,0.0,51198.000000,6.542563e+06,567248.000000
25%,2.769762e+07,2.000000,0.0,52781.500000,7.625074e+06,648667.500000
50%,2.778130e+07,4.000000,0.0,52882.000000,7.802770e+06,655026.000000
75%,2.795100e+07,8.000000,0.0,59776.500000,7.845209e+06,655945.250000
max,2.825839e+07,10.000000,0.0,64100.000000,7.961416e+06,656901.000000

In [17]:
df['rework_hour'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 200 entries, 0 to 199
Series name: rework_hour
Non-Null Count  Dtype
--------------  -----
24 non-null     object
dtypes: object(1)
memory usage: 1.7+ KB

In [18]:
df['duration'].describe()

count    200.000000
mean       4.315033
std        2.887914
min        0.166667
25%        2.000000
50%        4.000000
75%        8.000000
max       10.000000
Name: duration, dtype: float64

In [19]:
df.columns

Index(['id', 'start', 'stop', 'duration', '?column?', 'cost', 'user_id',
       'task_log_id', 'project_id', 'client_id', 'created_at', 'status',
       'type', 'task_log_rework_id', 'comments', 'user', 'client', 'project',
       'task', 'userPosition', 'billInput', 'rework_hour'],
      dtype='object')

In [20]:
columns_to_drop = ['?column?', 'cost','project_id', 'client_id','comments', 'client', 'project','userPosition', 'billInput']
df = df.drop(columns=columns_to_drop)

In [21]:
load_df_to_bigquery(df,project_id=project_id, dataset_id=dataset_id,table_id="df")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: user, task, rework_hour.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.df

In [22]:
df

,id,start,stop,duration,user_id,task_log_id,created_at,status,type,task_log_rework_id,user,task,rework_hour
0,28258389,2024-10-01 00:00:00,2024-10-01 06:00:00,6.000000,57731,7856477,2024-10-25 19:21:24,pending,TASK,NaN,"{'id': 57731, 'first_name': 'BRUNA', 'last_nam...","{'id': 7856477, 'title': 'BRASTEMP BLACK FRIDA...",NaN
1,28258382,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,57731,7856576,2024-10-25 19:21:12,pending,TASK,NaN,"{'id': 57731, 'first_name': 'BRUNA', 'last_nam...","{'id': 7856576, 'title': 'CONSUL MICROONDAS / ...",NaN
2,28255261,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,52857,6542563,2024-10-25 17:52:30,pending,TASK,NaN,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...","{'id': 6542563, 'title': 'ARC0002/2024 - CAMPA...",NaN
3,28255255,2024-10-01 00:00:00,2024-10-01 03:00:00,3.000000,52857,6567106,2024-10-25 17:52:03,pending,TASK,NaN,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...","{'id': 6567106, 'title': 'CAMPANHA INSTITUCION...",NaN
4,28255250,2024-10-01 00:00:00,2024-10-01 03:00:00,3.000000,52857,6567786,2024-10-25 17:51:57,pending,TASK,NaN,"{'id': 52857, 'first_name': 'LUCIA', 'last_nam...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,27679178,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,63066,7810773,2024-10-02 13:23:15,pending,TASK,655667.0,"{'id': 63066, 'first_name': 'AMANDA', 'last_na...","{'id': 7810773, 'title': 'KFC | 2 POR 23,90 - ...","{'requested_by': 'client', 'description': '<p>..."
196,27679174,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,63066,7846082,2024-10-02 13:23:03,pending,TASK,NaN,"{'id': 63066, 'first_name': 'AMANDA', 'last_na...","{'id': 7846082, 'title': 'KFC | 2 POR 23,90 - ...",NaN
197,27679164,2024-10-01 00:00:00,2024-10-01 01:09:00,1.150000,63066,7837172,2024-10-02 13:22:53,pending,TASK,NaN,"{'id': 63066, 'first_name': 'AMANDA', 'last_na...","{'id': 7837172, 'title': 'KFC | 2 POR 23,90 - ...",NaN
198,27679162,2024-10-01 00:00:00,2024-10-01 01:47:00,1.783333,63066,7845611,2024-10-02 13:22:48,pending,TASK,NaN,"{'id': 63066, 'first_name': 'AMANDA', 'last_na...","{'id': 7845611, 'title': 'KFC | 2 POR 23,90 | ...",NaN
199,27679130,2024-10-01 00:00:00,2024-10-01 01:00:00,1.000000,59616,7770941,2024-10-02 13:21:28,pending,TASK,NaN,"{'id': 59616, 'first_name': 'CAMILA', 'last_na...","{'id': 7770941, 'title': 'BRASTEMP BLACK FRIDA...",NaN

## Dataframe Hours

In [23]:
df_hours = df.iloc[:,:10]
df_hours

,id,start,stop,duration,user_id,task_log_id,created_at,status,type,task_log_rework_id
0,28258389,2024-10-01 00:00:00,2024-10-01 06:00:00,6.000000,57731,7856477,2024-10-25 19:21:24,pending,TASK,NaN
1,28258382,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,57731,7856576,2024-10-25 19:21:12,pending,TASK,NaN
2,28255261,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,52857,6542563,2024-10-25 17:52:30,pending,TASK,NaN
3,28255255,2024-10-01 00:00:00,2024-10-01 03:00:00,3.000000,52857,6567106,2024-10-25 17:52:03,pending,TASK,NaN
4,28255250,2024-10-01 00:00:00,2024-10-01 03:00:00,3.000000,52857,6567786,2024-10-25 17:51:57,pending,TASK,NaN
...,...,...,...,...,...,...,...,...,...,...
195,27679178,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,63066,7810773,2024-10-02 13:23:15,pending,TASK,655667.0
196,27679174,2024-10-01 00:00:00,2024-10-01 02:00:00,2.000000,63066,7846082,2024-10-02 13:23:03,pending,TASK,NaN
197,27679164,2024-10-01 00:00:00,2024-10-01 01:09:00,1.150000,63066,7837172,2024-10-02 13:22:53,pending,TASK,NaN
198,27679162,2024-10-01 00:00:00,2024-10-01 01:47:00,1.783333,63066,7845611,2024-10-02 13:22:48,pending,TASK,NaN
199,27679130,2024-10-01 00:00:00,2024-10-01 01:00:00,1.000000,59616,7770941,2024-10-02 13:21:28,pending,TASK,NaN

In [24]:
df_hours.rename(columns={'id': 'id_hours'}, inplace=True)
df_hours.columns

Index(['id_hours', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type', 'task_log_rework_id'],
      dtype='object')

In [25]:
df_hours.isnull().sum()

id_hours                0
start                   0
stop                    0
duration                0
user_id                 0
task_log_id             0
created_at              0
status                  0
type                    0
task_log_rework_id    176
dtype: int64

In [26]:
load_df_to_bigquery(df_hours,project_id=project_id, dataset_id=dataset_id,table_id="hours")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.hours

## Dataframe Users

In [27]:
df_users = df[['user']]
user_list = []
for index, row in df_users.iterrows():
    user_list.append(row['user'])
df_users = pd.DataFrame(user_list)
df_users

,id,first_name,last_name,picture,cuil,remaining_hours,timezone,gmt
0,57731,BRUNA,RAÍSSA,https://user-images.projectcor.com/production/...,900502,100,America/Buenos_Aires,-03:00
1,57731,BRUNA,RAÍSSA,https://user-images.projectcor.com/production/...,900502,100,America/Buenos_Aires,-03:00
2,52857,LUCIA,CUCCI,https://user-images.projectcor.com/production/...,800316,100,America/Sao_Paulo,-03:00
3,52857,LUCIA,CUCCI,https://user-images.projectcor.com/production/...,800316,100,America/Sao_Paulo,-03:00
4,52857,LUCIA,CUCCI,https://user-images.projectcor.com/production/...,800316,100,America/Sao_Paulo,-03:00
...,...,...,...,...,...,...,...,...
195,63066,AMANDA,SPADONI,https://user-images.projectcor.com/production/...,800435,100,America/Sao_Paulo,-03:00
196,63066,AMANDA,SPADONI,https://user-images.projectcor.com/production/...,800435,100,America/Sao_Paulo,-03:00
197,63066,AMANDA,SPADONI,https://user-images.projectcor.com/production/...,800435,100,America/Sao_Paulo,-03:00
198,63066,AMANDA,SPADONI,https://user-images.projectcor.com/production/...,800435,100,America/Sao_Paulo,-03:00
199,59616,CAMILA,COELHO,https://user-images.projectcor.com/production/...,800429,100,America/Buenos_Aires,-03:00

In [28]:
df_users.rename(columns={'id': 'id_user'}, inplace=True)
df_users.columns

Index(['id_user', 'first_name', 'last_name', 'picture', 'cuil',
       'remaining_hours', 'timezone', 'gmt'],
      dtype='object')

In [29]:
print(df_users.isnull().sum())

id_user            0
first_name         0
last_name          0
picture            0
cuil               0
remaining_hours    0
timezone           0
gmt                0
dtype: int64

In [30]:
load_df_to_bigquery(df_users,project_id=project_id, dataset_id=dataset_id,table_id="users")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.users

In [31]:
# df_hours_user = pd.merge(df_hours, df_users, left_on='user_id', right_on='id_user')
# display(df_hours_user)
# load_df_to_bigquery(df_hours_user,project_id=project_id, dataset_id=dataset_id,table_id="users_hours")

## Dataframe Task

In [32]:
df_tasks = df[['task']]

task_list = []
for index, row in df_tasks.iterrows():
    task_list.append(row['task'])


df_tasks = pd.DataFrame(task_list)
df_project = df_tasks[['project']]

# drop_columns_task = ['task_father', 'father', 'labels', 'reworks', 'lastReworks','project']
# df_tasks = df_tasks.drop(columns=drop_columns_task)
df_tasks

,id,title,project_id,task_father,status,father,project,labels,reworks,lastReworks
0,7856477,BRASTEMP BLACK FRIDAY / MÍDIA,506051,NaN,en_proceso,None,"{'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...",[],[],[]
1,7856576,CONSUL MICROONDAS / MÍDIA - planejamento,503452,7856574.0,finalizada,"{'id': 7856574, 'title': 'CONSUL MICROONDAS / ...","{'id': 503452, 'name': 'MICROONDAS', 'client_i...",[],[],[]
2,6542563,ARC0002/2024 - CAMPANHA ALÔ ALÔ | Mídia,433455,NaN,finalizada,None,"{'id': 433455, 'name': 'INSTITUCIONAL', 'clien...",[],[],[]
3,6567106,CAMPANHA INSTITUCIONAL 2024 | MÍDIA,438579,6551169.0,en_proceso,"{'id': 6551169, 'title': 'CFO0001/2024 - CAMPA...","{'id': 438579, 'name': 'CAMPANHA 2024', 'clien...",[],[],[]
4,6567786,HORAS NÃO ALOCADAS EM CLIENTE,443452,NaN,en_proceso,None,"{'id': 443452, 'name': 'HORAS NÃO ALOCADAS EM ...",[],[],[]
...,...,...,...,...,...,...,...,...,...,...
195,7810773,"KFC | 2 POR 23,90 - OUT | CRIAÇÃO | KV",509683,7810761.0,finalizada,"{'id': 7810761, 'title': 'KFC | 2 POR 23,90 | ...","{'id': 509683, 'name': 'CAMPANHA 2 POR 23,90',...",[],"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
196,7846082,"KFC | 2 POR 23,90 - OUT | AMPLIFICAÇÃO | MÍDIA",509683,7837219.0,en_proceso,"{'id': 7837219, 'title': 'KFC | 2 POR 23,90 - ...","{'id': 509683, 'name': 'CAMPANHA 2 POR 23,90',...",[],[],[]
197,7837172,"KFC | 2 POR 23,90 - OUT | MÍDIA | PM ATUALIZADO",509683,7810761.0,finalizada,"{'id': 7810761, 'title': 'KFC | 2 POR 23,90 | ...","{'id': 509683, 'name': 'CAMPANHA 2 POR 23,90',...",[],[],[]
198,7845611,"KFC | 2 POR 23,90 | MÍDIA | JOAO PIMENTA | Dar...",509683,NaN,finalizada,None,"{'id': 509683, 'name': 'CAMPANHA 2 POR 23,90',...",[],[],[]
199,7770941,BRASTEMP BLACK FRIDAY / VEM QUE TEM,506051,NaN,finalizada,None,"{'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...",[],[],[]

In [33]:
df_tasks.rename(columns={'id': 'task_id'}, inplace=True)
df_tasks.columns

Index(['task_id', 'title', 'project_id', 'task_father', 'status', 'father',
       'project', 'labels', 'reworks', 'lastReworks'],
      dtype='object')

In [34]:
print(df_tasks.isnull().sum())

task_id         0
title           0
project_id      0
task_father    94
status          0
father         94
project         0
labels          0
reworks         0
lastReworks     0
dtype: int64

In [35]:
load_df_to_bigquery(df_tasks,project_id=project_id, dataset_id=dataset_id,table_id="task")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: father, project, labels, reworks, lastReworks.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.task

## Dataframe reworks

In [36]:
import ast

df_tasks['reworks'] = df_tasks['reworks'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_tasks['lastReworks'] = df_tasks['lastReworks'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
filtered_data = df_tasks[(df_tasks['reworks'].apply(lambda x: len(x) > 0)) | (df_tasks['lastReworks'].apply(lambda x: len(x) > 0))]
filtered_data[['reworks', 'lastReworks']]

,reworks,lastReworks
12,"[{'id': 295019917, 'eventlogstable_id': 774672...","[{'id': 661484, 'task_log_id': 7746723, 'user_..."
13,"[{'id': 283796740, 'eventlogstable_id': 763941...","[{'id': 635852, 'task_log_id': 7639415, 'user_..."
14,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."
17,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
18,"[{'id': 297119390, 'eventlogstable_id': 792041...","[{'id': 663603, 'task_log_id': 7920419, 'user_..."
20,"[{'id': 287076382, 'eventlogstable_id': 753649...","[{'id': 656006, 'task_log_id': 7536495, 'user_..."
21,"[{'id': 293860185, 'eventlogstable_id': 783361...","[{'id': 656668, 'task_log_id': 7833619, 'user_..."
22,"[{'id': 291865460, 'eventlogstable_id': 781870...","[{'id': 662071, 'task_log_id': 7818709, 'user_..."
23,"[{'id': 295101743, 'eventlogstable_id': 786356...","[{'id': 659236, 'task_log_id': 7863568, 'user_..."
26,"[{'id': 294561920, 'eventlogstable_id': 770292...","[{'id': 658132, 'task_log_id': 7702929, 'user_..."
38,"[{'id': 294561920, 'eventlogstable_id': 770292...","[{'id': 658132, 'task_log_id': 7702929, 'user_..."
46,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."
62,"[{'id': 289250880, 'eventlogstable_id': 771105...","[{'id': 647214, 'task_log_id': 7711053, 'user_..."
79,"[{'id': 292677952, 'eventlogstable_id': 767243...","[{'id': 667702, 'task_log_id': 7672430, 'user_..."
83,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
85,"[{'id': 293961172, 'eventlogstable_id': 785169...","[{'id': 656901, 'task_log_id': 7851694, 'user_..."
87,"[{'id': 291704062, 'eventlogstable_id': 781812...","[{'id': 652317, 'task_log_id': 7818121, 'user_..."
95,"[{'id': 293033261, 'eventlogstable_id': 781748...","[{'id': 655211, 'task_log_id': 7817486, 'user_..."
100,"[{'id': 293860185, 'eventlogstable_id': 783361...","[{'id': 656668, 'task_log_id': 7833619, 'user_..."
101,"[{'id': 292677952, 'eventlogstable_id': 767243...","[{'id': 667702, 'task_log_id': 7672430, 'user_..."
102,"[{'id': 296109568, 'eventlogstable_id': 789153...","[{'id': 661367, 'task_log_id': 7891538, 'user_..."
109,"[{'id': 295382994, 'eventlogstable_id': 784363...","[{'id': 659772, 'task_log_id': 7843632, 'user_..."
110,"[{'id': 299220258, 'eventlogstable_id': 784123...","[{'id': 672233, 'task_log_id': 7841230, 'user_..."
113,"[{'id': 295217568, 'eventlogstable_id': 777730...","[{'id': 659465, 'task_log_id': 7777305, 'user_..."
118,"[{'id': 295382994, 'eventlogstable_id': 784363...","[{'id': 659772, 'task_log_id': 7843632, 'user_..."
128,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."
132,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
133,"[{'id': 292708045, 'eventlogstable_id': 778018...","[{'id': 663651, 'task_log_id': 7780186, 'user_..."
134,"[{'id': 294301832, 'eventlogstable_id': 783000...","[{'id': 668802, 'task_log_id': 7830008, 'user_..."
143,"[{'id': 282541525, 'eventlogstable_id': 766288...","[{'id': 633280, 'task_log_id': 7662882, 'user_..."
150,"[{'id': 280967844, 'eventlogstable_id': 760926...","[{'id': 638838, 'task_log_id': 7609265, 'user_..."
158,"[{'id': 242497205, 'eventlogstable_id': 656719...","[{'id': 567248, 'task_log_id': 6567193, 'user_..."
163,"[{'id': 288410979, 'eventlogstable_id': 771749...","[{'id': 670604, 'task_log_id': 7717492, 'user_..."
164,"[{'id': 293791449, 'eventlogstable_id': 777386...","[{'id': 656532, 'task_log_id': 7773869, 'user_..."
172,"[{'id': 293961172, 'eventlogstable_id': 785169...","[{'id': 656901, 'task_log_id': 7851694, 'user_..."
178,"[{'id': 291433461, 'eventlogstable_id': 776200...","[{'id': 655925, 'task_log_id': 7762007, 'user_..."
180,"[{'id': 298597277, 'eventlogstable_id': 781750...","[{'id': 666881, 'task_log_id': 7817506, 'user_..."
185,"[{'id': 290227996, 'eventlogstable_id': 778095...","[{'id': 649152, 'task_log_id': 7780952, 'user_..."
187,"[{'id': 280967844, 'eventlogstable_id': 760926...","[{'id': 638838, 'task_log_id': 7609265, 'user_..."
194,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
195,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."

In [37]:
df_reworks = filtered_data[['reworks']]

reworks_list = []
for index, row in filtered_data.iterrows():
    for x in row['reworks']:
        field_change = x['field_change']
        del x['field_change']
        dict_concat = {**x, **field_change}
        reworks_list.append(dict_concat)

df_reworks = pd.DataFrame(reworks_list)
df_reworks

,id,eventlogstable_id,created_at,requested_by,description,isEdition
0,295019917,7746723,2024-10-04 14:57:21,client,<p>Olá!<br>Tudo bem?<br><br>Cliente nos pediu ...,False
1,295239581,7746723,2024-10-04 21:49:38,client,"<p>Além desse, vamos precisar orçar com a Thin...",False
2,296157428,7746723,2024-10-09 00:10:07,internal,<p>Olá!<br>Tudo bem?<br><br>Vamos pensar no ev...,False
3,283796740,7639415,2024-08-27 15:06:55,internal,...,NaN
4,294835383,7479683,2024-10-03 21:19:29,client,<p>...</p>,False
...,...,...,...,...,...,...
90,293317838,7810773,2024-09-30 15:07:00,client,...,False
91,294603146,7810773,2024-10-03 14:23:38,client,"<p>Bom dia time,</p><p>Tudo bom?</p><p><br>Seg...",False
92,292207183,7810773,2024-09-25 17:37:56,client,"<p>Oie time,&nbsp;</p><p>&nbsp;Replicando a me...",False
93,293317838,7810773,2024-09-30 15:07:00,client,...,False
94,294603146,7810773,2024-10-03 14:23:38,client,"<p>Bom dia time,</p><p>Tudo bom?</p><p><br>Seg...",False

In [38]:
load_df_to_bigquery(df_reworks,project_id=project_id, dataset_id=dataset_id,table_id="reworks")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.reworks

## Dataframe Last Reworks

In [39]:
df_lastreworks = filtered_data[['lastReworks']]

lastreworks_list = []
for index, row in filtered_data.iterrows():
    for x in row['lastReworks']:
        lastreworks_list.append(x)
        
df_lastreworks = pd.DataFrame(lastreworks_list)
df_lastreworks

,id,task_log_id,user_id,contact_id,date,source,description,field_change,company_id,created_at,updated_at,deleted_at,reason,deadline,attachments
0,661484,7746723,52752,None,2024-10-09T00:00:00.000Z,internal,<p>Olá!<br>Tudo bem?<br><br>Vamos pensar no ev...,"{'requested_by': 'internal', 'description': '<...",3898,2024-10-09 00:10:07,2024-10-09 00:10:07,None,additional,2024-10-11T21:04:00.000Z,[]
1,659517,7746723,52752,None,2024-10-04T00:00:00.000Z,client,"<p>Além desse, vamos precisar orçar com a Thin...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-04 21:49:38,2024-10-04 21:49:38,None,additional,2024-10-07T13:44:00.000Z,[]
2,659051,7746723,52752,None,2024-10-04T00:00:00.000Z,client,<p>Olá!<br>Tudo bem?<br><br>Cliente nos pediu ...,"{'requested_by': 'client', 'description': '<p>...",3898,2024-10-04 14:57:21,2024-10-04 14:57:21,None,adjustment,2024-10-08T19:56:00.000Z,[]
3,635852,7639415,52752,None,2024-08-27T00:00:00.000Z,internal,<p>Olá!<br>Tudo bem ?<br><br>Precisamos levant...,"{'reason': 'additional', 'deadline': '2024-08-...",3898,2024-08-27 15:06:55,2024-08-27 15:06:55,None,additional,2024-08-29T09:59:00.000Z,None
4,658721,7479683,52908,None,2024-10-03T00:00:00.000Z,client,"<p><span class=""mention user-mention-52938"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-03 21:19:29,2024-10-03 21:19:29,None,adjustment,2024-10-04T21:19:00.000Z,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,655667,7810773,63066,None,2024-09-30T00:00:00.000Z,client,"<p><span class=""mention user-mention-52805"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-09-30 15:07:00,2024-09-30 15:07:00,None,redefinition,2024-09-30T18:00:00.000Z,[]
91,653470,7810773,63066,None,2024-09-25T00:00:00.000Z,client,"<p>Oie time,&nbsp;</p><p>&nbsp;Replicando a me...","{'requested_by': 'client', 'description': '<p>...",3898,2024-09-25 17:37:56,2024-09-25 17:37:56,None,adjustment,2024-09-25T21:00:00.000Z,[]
92,658197,7810773,63066,None,2024-10-03T00:00:00.000Z,client,"<p>Bom dia time,</p><p>Tudo bom?</p><p><br>Seg...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-03 14:23:38,2024-10-03 14:23:38,None,adjustment,2024-10-03T18:00:00.000Z,[]
93,655667,7810773,63066,None,2024-09-30T00:00:00.000Z,client,"<p><span class=""mention user-mention-52805"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-09-30 15:07:00,2024-09-30 15:07:00,None,redefinition,2024-09-30T18:00:00.000Z,[]
94,653470,7810773,63066,None,2024-09-25T00:00:00.000Z,client,"<p>Oie time,&nbsp;</p><p>&nbsp;Replicando a me...","{'requested_by': 'client', 'description': '<p>...",3898,2024-09-25 17:37:56,2024-09-25 17:37:56,None,adjustment,2024-09-25T21:00:00.000Z,[]

In [40]:
load_df_to_bigquery(df_lastreworks,project_id=project_id, dataset_id=dataset_id,table_id="lastreworks")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: contact_id, field_change, deleted_at, attachments.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.lastreworks

## Dataframe Project

In [41]:
df_project

                                               project
0    {'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...
1    {'id': 503452, 'name': 'MICROONDAS', 'client_i...
2    {'id': 433455, 'name': 'INSTITUCIONAL', 'clien...
3    {'id': 438579, 'name': 'CAMPANHA 2024', 'clien...
4    {'id': 443452, 'name': 'HORAS NÃO ALOCADAS EM ...
..                                                 ...
195  {'id': 509683, 'name': 'CAMPANHA 2 POR 23,90',...
196  {'id': 509683, 'name': 'CAMPANHA 2 POR 23,90',...
197  {'id': 509683, 'name': 'CAMPANHA 2 POR 23,90',...
198  {'id': 509683, 'name': 'CAMPANHA 2 POR 23,90',...
199  {'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...

[200 rows x 1 columns]

In [42]:
project_list = []
for index, row in df_project.iterrows():
    project_list.append(row['project'])

df_project = pd.DataFrame(project_list)
df_client = df_project[['client']]

df_project = df_project.drop(columns=['client'])
df_project

         id                           name  client_id
0    506051     BLACK FRIDAY BRASTEMP 2024      58364
1    503452                     MICROONDAS      58364
2    433455                  INSTITUCIONAL      58208
3    438579                  CAMPANHA 2024      58350
4    443452  HORAS NÃO ALOCADAS EM CLIENTE      58404
..      ...                            ...        ...
195  509683           CAMPANHA 2 POR 23,90      69244
196  509683           CAMPANHA 2 POR 23,90      69244
197  509683           CAMPANHA 2 POR 23,90      69244
198  509683           CAMPANHA 2 POR 23,90      69244
199  506051     BLACK FRIDAY BRASTEMP 2024      58364

[200 rows x 3 columns]

In [43]:

df_project.rename(columns={'id': 'project_id'}, inplace=True)

In [44]:
df_project.columns

Index(['project_id', 'name', 'client_id'], dtype='object')

In [45]:
df_project.isnull().sum()

project_id    0
name          0
client_id     0
dtype: int64

In [46]:
df_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   project_id  200 non-null    int64
 1   name        200 non-null    object
 2   client_id   200 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.8+ KB

In [47]:
load_df_to_bigquery(df_project,project_id=project_id, dataset_id=dataset_id,table_id="project")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.project

## Dataframe Client

In [48]:
client_list = []
for index, row in df_client.iterrows():
    client_list.append(row['client'])

df_client = pd.DataFrame(client_list)
df_client

        id                     name  client_status_id
0    58364                WHIRLPOOL                 1
1    58364                WHIRLPOOL                 1
2    58208     ARCELORMITTAL BRASIL                 1
3    58350  CATARINA FASHION OUTLET                 1
4    58404                      DM9                 1
..     ...                      ...               ...
195  69244                      KFC                 1
196  69244                      KFC                 1
197  69244                      KFC                 1
198  69244                      KFC                 1
199  58364                WHIRLPOOL                 1

[200 rows x 3 columns]

In [49]:
df_client.isnull().sum()

id                  0
name                0
client_status_id    0
dtype: int64

In [50]:
df_client.rename(columns={'id': 'client_id', 'name':'nama_client'}, inplace=True)
df_client.columns

Index(['client_id', 'nama_client', 'client_status_id'], dtype='object')

In [51]:
load_df_to_bigquery(df_client,project_id=project_id, dataset_id=dataset_id,table_id="client")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.client

In [52]:
df_client.isnull().sum()

client_id           0
nama_client         0
client_status_id    0
dtype: int64

In [53]:
users = df_users.copy()  # Replace with your data loading method
hours = df_hours.copy()
task = df_tasks.copy()
project = df_project.copy()
client = df_client.copy()

users_hours_merge_key = "id_user"  # Assuming users.id_user is the same as hours.user_id
hours_task_merge_key = "task_log_id"  # Assuming hours.task_log_id is the same as task.task_id
task_project_merge_key = "project_id"
project_client_merge_key = "client_id"

joined_data = pd.merge(users, hours, left_on='id_user', right_on='user_id')
joined_data = pd.merge(joined_data, task, left_on='task_log_id', right_on='task_id')
joined_data = pd.merge(joined_data, project, left_on='project_id', right_on='project_id')
joined_data = pd.merge(joined_data, project, left_on='client_id', right_on='client_id')





# selected_columns = {
#     "id_user": "users_id_user",
#     "first_name": "users_first_name",
#     "last_name": "users_last_name",
#     "id_hours": "hours_id_hours",
#     "start": "hours_start",
#     "stop": "hours_stop",
#     "duration": "hours_duration",
#     "task_id": "task_task_id",
#     "title": "task_title",
#     "project_id": "project_project_id",
#     "name_x": "project_name",
#     "client_id": "client_client_id",
#     "name_y": "client_name",  }


# joined_data.rename(columns=selected_columns, inplace=True)

joined_data

,id_user,first_name,last_name,picture,cuil,remaining_hours,timezone,gmt,id_hours,start,...,status_y,father,project,labels,reworks,lastReworks,name_x,client_id,project_id_y,name_y
0,57731,BRUNA,RAÍSSA,https://user-images.projectcor.com/production/...,900502,100,America/Buenos_Aires,-03:00,28258389,2024-10-01 00:00:00,...,en_proceso,None,"{'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...",[],[],[],BLACK FRIDAY BRASTEMP 2024,58364,506051,BLACK FRIDAY BRASTEMP 2024
1,57731,BRUNA,RAÍSSA,https://user-images.projectcor.com/production/...,900502,100,America/Buenos_Aires,-03:00,28258389,2024-10-01 00:00:00,...,en_proceso,None,"{'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...",[],[],[],BLACK FRIDAY BRASTEMP 2024,58364,503452,MICROONDAS
2,57731,BRUNA,RAÍSSA,https://user-images.projectcor.com/production/...,900502,100,America/Buenos_Aires,-03:00,28258389,2024-10-01 00:00:00,...,en_proceso,None,"{'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...",[],[],[],BLACK FRIDAY BRASTEMP 2024,58364,483640,NOVA LINHA REFRIS
3,57731,BRUNA,RAÍSSA,https://user-images.projectcor.com/production/...,900502,100,America/Buenos_Aires,-03:00,28258389,2024-10-01 00:00:00,...,en_proceso,None,"{'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...",[],[],[],BLACK FRIDAY BRASTEMP 2024,58364,462310,PORTAS
4,57731,BRUNA,RAÍSSA,https://user-images.projectcor.com/production/...,900502,100,America/Buenos_Aires,-03:00,28258389,2024-10-01 00:00:00,...,en_proceso,None,"{'id': 506051, 'name': 'BLACK FRIDAY BRASTEMP ...",[],[],[],BLACK FRIDAY BRASTEMP 2024,58364,505173,MOVIMENTO CONSUL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383415,52904,LEONARDO,TARDELLI,https://user-images.projectcor.com/production/...,900480,100,America/Sao_Paulo,-03:00,27715362,2024-10-01 00:00:00,...,finalizada,"{'id': 7698464, 'title': 'CON0002/2024 - CAMPA...","{'id': 438580, 'name': 'CAMPANHA 2024', 'clien...",[],"[{'id': 292708045, 'eventlogstable_id': 778018...","[{'id': 663651, 'task_log_id': 7780186, 'user_...",CAMPANHA 2024,58333,438580,CAMPANHA 2024
383416,52743,SABRINA,PAGOTTO,https://user-images.projectcor.com/production/...,900443,100,America/Sao_Paulo,-03:00,27693656,2024-10-01 00:00:00,...,finalizada,"{'id': 7734863, 'title': 'OCUPACIONAL - REVIST...","{'id': 437623, 'name': 'OCUPACIONAL 2024', 'cl...",[],"[{'id': 293791449, 'eventlogstable_id': 777386...","[{'id': 656532, 'task_log_id': 7773869, 'user_...",OCUPACIONAL 2024,58358,437623,OCUPACIONAL 2024
383417,52743,SABRINA,PAGOTTO,https://user-images.projectcor.com/production/...,900443,100,America/Sao_Paulo,-03:00,27693656,2024-10-01 00:00:00,...,finalizada,"{'id': 7734863, 'title': 'OCUPACIONAL - REVIST...","{'id': 437623, 'name': 'OCUPACIONAL 2024', 'cl...",[],"[{'id': 293791449, 'eventlogstable_id': 777386...","[{'id': 656532, 'task_log_id': 7773869, 'user_...",OCUPACIONAL 2024,58358,437623,OCUPACIONAL 2024
383418,52743,SABRINA,PAGOTTO,https://user-images.projectcor.com/production/...,900443,100,America/Sao_Paulo,-03:00,27693656,2024-10-01 00:00:00,...,finalizada,"{'id': 7734863, 'title': 'OCUPACIONAL - REVIST...","{'id': 437623, 'name': 'OCUPACIONAL 2024', 'cl...",[],"[{'id': 293791449, 'eventlogstable_id': 777386...","[{'id': 656532, 'task_log_id': 7773869, 'user_...",OCUPACIONAL 2024,58358,437623,OCUPACIONAL 2024
383419,52815,SARA,DESSOU,https://user-images.projectcor.com/production/...,900434,100,America/Sao_Paulo,-03:00,27680591,2024-10-01 00:00:00,...,finalizada,"{'id': 7637976, 'title': 'OUTUBRO ROSA 2024_CR...","{'id': 508746, 'name': 'OUTUBRO ROSA 2024', 'c...",[],"[{'id': 290227996, 'eventlogstable_id': 778095...","[{'id': 649152, 'task_log_id': 7780952, 'user_...",OUTUBRO ROSA 2024,58416,508746,OUTUBRO ROSA 2024

In [54]:
df_merged = pd.concat([df_hours, df_users,df_tasks,df_project,df_client], axis=1)
df_merged.columns

Index(['id_hours', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type', 'task_log_rework_id', 'id_user',
       'first_name', 'last_name', 'picture', 'cuil', 'remaining_hours',
       'timezone', 'gmt', 'task_id', 'title', 'project_id', 'task_father',
       'status', 'father', 'project', 'labels', 'reworks', 'lastReworks',
       'project_id', 'name', 'client_id', 'client_id', 'nama_client',
       'client_status_id'],
      dtype='object')

# Endpoint Contacts

In [55]:
end_contacts = 'https://api.projectcor.com/v1/contacts'

In [56]:
data_contacts = []
page = 1

query =  f'https://api.projectcor.com/v1/contacts?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)


df = pd.DataFrame(data)
df

HTTP error occurred: 403 Client Error: Forbidden for url: https://api.projectcor.com/v1/contacts?filters=%7B%22dateStart%22:%222024-10-01%22,%22dateDeadline%22:%222024-10-17%22,%22clients%22:null,%22projects%22:null,%22users%22:null,%22labels%22:null,%22teams%22:null%7D&page=1&orderBy=%7B%22by%22:%22start%22,%22order%22:%22ASC%22%7D
Retrying in 3 seconds...
HTTP error occurred: 403 Client Error: Forbidden for url: https://api.projectcor.com/v1/contacts?filters=%7B%22dateStart%22:%222024-10-01%22,%22dateDeadline%22:%222024-10-17%22,%22clients%22:null,%22projects%22:null,%22users%22:null,%22labels%22:null,%22teams%22:null%7D&page=1&orderBy=%7B%22by%22:%22start%22,%22order%22:%22ASC%22%7D
Retrying in 3 seconds...
HTTP error occurred: 403 Client Error: Forbidden for url: https://api.projectcor.com/v1/contacts?filters=%7B%22dateStart%22:%222024-10-01%22,%22dateDeadline%22:%222024-10-17%22,%22clients%22:null,%22projects%22:null,%22users%22:null,%22labels%22:null,%22teams%22:null%7D&page=1&orderBy=%7B%22by%22:%22start%22,%22order%22:%22ASC%22%7D
Retrying in 3 seconds...
Max retries reached. Unable to fetch data.

Empty DataFrame
Columns: []
Index: []

# Endpoint Clients

In [57]:
end_clients = 'https://api.projectcor.com/v1/clients'

In [58]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_clients, headers=headers, max_retries=3, retry_delay=3)


df = pd.DataFrame(data)
df

Empty DataFrame
Columns: [total, perPage, page, lastPage, data]
Index: []

# Endpoint Projects

In [59]:
end_projects = 'https://api.projectcor.com/v1/projects'

In [60]:
data_contacts = []
page = 1
query = f'https://api.projectcor.com/v1/projects?filters={{"dateStart": "2024-10-01", "dateEnd": "2024-10-17", "client_id": null, "team_id": null, "status": ["finished", "in_process", "suspended"], "user_id": null, "health": [1, 2, 3, 4], "brand_id": null, "archived": [1, 2], "product_id": null}}&page={page}&orderBy={{"by": "start", "order": "ASC"}}'
data = fetch_data_with_retry(end_projects, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

# Endpoint Brands

In [ ]:
end_brands = 'https://api.projectcor.com/v1/brands'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_brands, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint Products

In [ ]:
end_products = 'https://api.projectcor.com/v1/products'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_products, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint tasks

In [ ]:
end_task = 'https://api.projectcor.com/v1/tasks?page=1&perPage=20'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_task, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint User

In [ ]:
end_user = 'https://api.projectcor.com/v1/users/'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_user, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint Transactions

In [ ]:
end_transactions = 'https://api.projectcor.com/v1/transactions/total'

In [ ]:
data = fetch_data_with_retry(end_transactions, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)