In [1]:
!pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2023.7.22)

In [2]:
import os
import io
import math
import requests
import time
import numpy as np
import pandas as pd
import mysql.connector

from mysql.connector import Error
from google.cloud import storage
from google.cloud import bigquery
from pyspark.sql import DataFrame, SparkSession
!pip install unidecode
from unidecode import unidecode
from sqlalchemy import create_engine
from urllib.parse import quote_plus



from scipy import stats

from sqlalchemy import Column, Integer, Float, String, Boolean, DateTime, Text
from sqlalchemy.orm import declarative_base

import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: unidecode in /opt/conda/lib/python3.11/site-packages (1.3.8)

In [3]:
# credentials_path = "/home/jovyan/code/.devcontainer/soulcode-434516-8f4db69ae452.json"
# credentials_path = "/home/jovyan/code/.devcontainer/soulcode-434516-8f4db69ae452.json"
credentials_path = "/home/jovyan/code/soulcode-434516-31276919e28c.json"


os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [4]:
def fetch_data(url, headers=None):
    try:
      response = requests.get(url, headers=headers)
      response.raise_for_status()
      return response.json()
    except requests.exceptions.HTTPError as e:
      print(f"HTTP error occurred: {e}")
      return None
    except requests.exceptions.ConnectionError as e:
      print(f"connexion error occurred: {e}")
      return None
    except requests.exceptions.Timeout as e:
      print(f"Request timed out: {e}")
      return None
    except requests.exceptions.RequestException as e:
      print(f"Error fetching data from {url}: {e}")
      return None

def fetch_data_with_retry(url, headers=None, max_retries=3, retry_delay=5):
    for _ in range(max_retries):
        data = fetch_data(url, headers)
        if data is not None:
            return data
        print(f"Retrying in {retry_delay} seconds...")
        time.sleep(retry_delay)
    print("Max retries reached. Unable to fetch data.")
    return None

In [5]:
project_id = 'soulcode-434516'
dataset_id = 'projeto_final'
location = 'US'
client = bigquery.Client(project=project_id)

def create_dataset_bigQuery(client, dataset_id, location='US'):
    """Cria um dataset no BigQuery.

    Args:
        client: Um objeto cliente do BigQuery.
        dataset_id: O ID do dataset a ser criado.
        location: A localização geográfica do dataset.

    Returns:
        Um objeto Dataset representando o dataset criado.

    Raises:
        Exception: Se ocorrer algum erro durante a criação do dataset.
    """

    dataset_ref = client.dataset(dataset_id)
    dataset = bigquery.Dataset(dataset_ref)
    dataset.location = location

    try:
        dataset = client.create_dataset(dataset)
        print(f"Dataset {dataset.dataset_id} criado com sucesso!")
        return dataset
    except Exception as e:
        raise


# auth.authenticate_user()

# Criar o Dataset
dataset = None
try:
    dataset = create_dataset_bigQuery(client, dataset_id, location)
except Exception as e:
    print(f"Erro ao criar o dataset: {e}")

Erro ao criar o dataset: 409 POST https://bigquery.googleapis.com/bigquery/v2/projects/soulcode-434516/datasets?prettyPrint=false: Already Exists: Dataset soulcode-434516:projeto_final

In [6]:
from google.cloud import bigquery

def load_df_to_bigquery(df, project_id, dataset_id, table_id):
  """Loads a Pandas DataFrame into a BigQuery table.

  Args:
    df: The Pandas DataFrame to load.
    project_id: Your Google Cloud project ID.
    dataset_id: The BigQuery dataset ID.
    table_id: The BigQuery table ID.
  """
  # Construct the full table ID
  table_ref = f"{project_id}.{dataset_id}.{table_id}"

  # Configure the load job to truncate the table
  job_config = bigquery.LoadJobConfig(
      write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE
  )

  # Create a BigQuery client
  client = bigquery.Client(project=project_id)

  # Load the DataFrame into BigQuery
  job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
  job.result()  # Wait for the job to complete

  print(f"DataFrame loaded to BigQuery table: {table_ref}")

# Endpoint Auth login

In [7]:
url_login = 'https://api.projectcor.com/v1/auth/login'
content = {
  "email": "academico@soulcode.com",
  "password": "Admin@123"
}
response  = requests.post(url_login, json=content)
token = token = response.json()['token']['access_token']
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjYyODQ3LCJkYXRhIjp7InVzZXJfaGFzaCI6ImM4YWI5OGQ1ZTAzYWExYWQzMTRkMjBmNDAxNzU4MTgwIiwiaXNfY29udGFjdCI6ZmFsc2UsImVudiI6InByb2R1Y3Rpb24ifSwiaWF0IjoxNzI5NjIxMDAwLCJleHAiOjE3Mjk2MjQ2MDAsImF1ZCI6IkNPUjpBUElTRVJWSUNFUyJ9.JkpZGXY1cwCgzxsc4j1lnbhOTmpJhE9rJE1ejDd5QHY'

# Clients

In [8]:
base_url = 'https://api.projectcor.com/v1'
headers = {
    'Authorization': f'Bearer {token}',
    'Content-Type': "application/json"
}
url = base_url + '/clients'

response = requests.get(url, headers=headers)
response.json()['data']

[]

In [9]:
# horas
base_url = "https://api.projectcor.com/v1"
endpoint = 'https://api.projectcor.com/v1/hours?filters={"dateStart":"2024-01-01","dateDeadline":"2024-10-22","clients":null,"projects":null,"users":null,"labels":null,"teams":null }&page=1&orderBy={"by":"start","order":"ASC"}'
page = 1
query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-19","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'


data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data['data'])
df_info = pd.DataFrame(data)
display(df_info)
# lastpage = df_info['last_page']

,total_hours,total_cost,data,total,perPage,page,lastPage
0,13781.113333,0,"{'id': 28142667, 'start': '2024-10-01 00:00:00...",4055,20,1,203
1,13781.113333,0,"{'id': 28136940, 'start': '2024-10-01 00:00:00...",4055,20,1,203
2,13781.113333,0,"{'id': 28136931, 'start': '2024-10-01 00:00:00...",4055,20,1,203
3,13781.113333,0,"{'id': 28136922, 'start': '2024-10-01 00:00:00...",4055,20,1,203
4,13781.113333,0,"{'id': 28132094, 'start': '2024-10-01 00:00:00...",4055,20,1,203
5,13781.113333,0,"{'id': 28125093, 'start': '2024-10-01 00:00:00...",4055,20,1,203
6,13781.113333,0,"{'id': 28125090, 'start': '2024-10-01 00:00:00...",4055,20,1,203
7,13781.113333,0,"{'id': 28114109, 'start': '2024-10-01 00:00:00...",4055,20,1,203
8,13781.113333,0,"{'id': 28111238, 'start': '2024-10-01 00:00:00...",4055,20,1,203
9,13781.113333,0,"{'id': 28091708, 'start': '2024-10-01 00:00:00...",4055,20,1,203
10,13781.113333,0,"{'id': 28089633, 'start': '2024-10-01 00:00:00...",4055,20,1,203
11,13781.113333,0,"{'id': 28089630, 'start': '2024-10-01 00:00:00...",4055,20,1,203
12,13781.113333,0,"{'id': 28078144, 'start': '2024-10-01 00:00:00...",4055,20,1,203
13,13781.113333,0,"{'id': 28078098, 'start': '2024-10-01 00:00:00...",4055,20,1,203
14,13781.113333,0,"{'id': 28076746, 'start': '2024-10-01 00:00:00...",4055,20,1,203
15,13781.113333,0,"{'id': 28058699, 'start': '2024-10-01 00:00:00...",4055,20,1,203
16,13781.113333,0,"{'id': 28058648, 'start': '2024-10-01 00:00:00...",4055,20,1,203
17,13781.113333,0,"{'id': 28037733, 'start': '2024-10-01 00:00:00...",4055,20,1,203
18,13781.113333,0,"{'id': 28024899, 'start': '2024-10-01 00:00:00...",4055,20,1,203
19,13781.113333,0,"{'id': 28024824, 'start': '2024-10-01 00:00:00...",4055,20,1,203

# Endopoint /hours

In [10]:
all_data = []
page = 1
while page <= 10: #4078
    query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
    data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)

    if data is None or not data['data']:
        break

    all_data.extend(data['data'])
    page = page + 1
    print(page, end=', ')

df = pd.DataFrame(all_data)
df

2, 3, 4, 5, 6, 7, 8, 9, 10, 11,

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,rework_hour,user,client,project,task,userPosition,billInput
0,28142667,2024-10-01 00:00:00,2024-10-01 03:50:00,3.833333,,0,52712,7536495,None,None,...,TASK,656006.0,None,"{'requested_by': 'client', 'description': '<p>...","{'id': 52712, 'first_name': 'LUIS', 'last_name...",None,None,"{'id': 7536495, 'title': 'INSTITUCIONAL | CRIA...",None,None
1,28136940,2024-10-01 00:00:00,2024-10-01 02:23:00,2.383333,,0,53378,7833619,None,None,...,TASK,656668.0,None,"{'requested_by': 'client', 'description': '<p>...","{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7833619, 'title': 'iFood Descomplica | ...",None,None
2,28136931,2024-10-01 00:00:00,2024-10-01 02:06:00,2.100000,,0,53378,7818709,None,None,...,TASK,NaN,None,NaN,"{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7818709, 'title': 'Capas Academia do De...",None,None
3,28136922,2024-10-01 00:00:00,2024-10-01 03:21:00,3.350000,,0,53378,7863568,None,None,...,TASK,NaN,None,NaN,"{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7863568, 'title': 'Arte WhatsApp | Rela...",None,None
4,28132094,2024-10-01 00:00:00,2024-10-01 09:00:00,9.000000,,0,52809,7768613,None,None,...,TASK,NaN,None,NaN,"{'id': 52809, 'first_name': 'VINICIUS', 'last_...",None,None,"{'id': 7768613, 'title': 'IFO0019/2024-GESTÃO ...",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,27678263,2024-10-01 00:00:00,2024-10-01 01:45:36,1.760000,,0,51578,7818121,None,None,...,TASK,652317.0,None,"{'requested_by': 'client', 'description': '<p>...","{'id': 51578, 'first_name': 'FELIPE', 'last_na...",None,None,"{'id': 7818121, 'title': 'REPORT ANUAL | CRIAç...",None,None
196,27678262,2024-10-01 00:00:00,2024-10-01 00:39:36,0.660000,,0,51578,7796227,None,None,...,TASK,NaN,None,NaN,"{'id': 51578, 'first_name': 'FELIPE', 'last_na...",None,None,"{'id': 7796227, 'title': 'RIR_REPORTS', 'proje...",None,None
197,27678212,2024-10-01 00:00:00,2024-10-01 04:00:00,4.000000,,0,52789,7339726,None,None,...,TASK,NaN,None,NaN,"{'id': 52789, 'first_name': 'MARIANA', 'last_n...",None,None,"{'id': 7339726, 'title': 'MENTORIA_CRIATIVOS',...",None,None
198,27678209,2024-10-01 00:00:00,2024-10-01 04:00:00,4.000000,,0,52789,7840901,None,None,...,TASK,NaN,None,NaN,"{'id': 52789, 'first_name': 'MARIANA', 'last_n...",None,None,"{'id': 7840901, 'title': '01/07 AON - QUEIJOS ...",None,None
199,27674749,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,,0,52779,7479683,None,None,...,TASK,NaN,None,NaN,"{'id': 52779, 'first_name': 'GABRIELA', 'last_...",None,None,"{'id': 7479683, 'title': 'GOSTOSO, SABOROSO / ...",None,None

In [11]:
# load_df_to_bigquery(df,project_id=project_id, dataset_id=dataset_id,table_id="df")

In [12]:
# df_page_1 = pd.DataFrame(data)
# df_page_1

In [13]:
df.info()
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  200 non-null    int64
 1   start               200 non-null    object
 2   stop                200 non-null    object
 3   duration            200 non-null    float64
 4   ?column?            200 non-null    object
 5   cost                200 non-null    int64
 6   user_id             200 non-null    int64
 7   task_log_id         200 non-null    int64
 8   project_id          0 non-null      object
 9   client_id           0 non-null      object
 10  created_at          200 non-null    object
 11  status              200 non-null    object
 12  type                200 non-null    object
 13  task_log_rework_id  23 non-null     float64
 14  comments            16 non-null     object
 15  rework_hour         23 non-null     object
 16  user                200 non-null    object
 17  client              0 non-null      object
 18  project             0 non-null      object
 19  task                200 non-null    object
 20  userPosition        0 non-null      object
 21  billInput           0 non-null      object
dtypes: float64(2), int64(4), object(16)
memory usage: 34.5+ KB
Index(['id', 'start', 'stop', 'duration', '?column?', 'cost', 'user_id',
       'task_log_id', 'project_id', 'client_id', 'created_at', 'status',
       'type', 'task_log_rework_id', 'comments', 'rework_hour', 'user',
       'client', 'project', 'task', 'userPosition', 'billInput'],
      dtype='object')

In [14]:
display(df.head(5))

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,rework_hour,user,client,project,task,userPosition,billInput
0,28142667,2024-10-01 00:00:00,2024-10-01 03:50:00,3.833333,,0,52712,7536495,None,None,...,TASK,656006.0,None,"{'requested_by': 'client', 'description': '<p>...","{'id': 52712, 'first_name': 'LUIS', 'last_name...",None,None,"{'id': 7536495, 'title': 'INSTITUCIONAL | CRIA...",None,None
1,28136940,2024-10-01 00:00:00,2024-10-01 02:23:00,2.383333,,0,53378,7833619,None,None,...,TASK,656668.0,None,"{'requested_by': 'client', 'description': '<p>...","{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7833619, 'title': 'iFood Descomplica | ...",None,None
2,28136931,2024-10-01 00:00:00,2024-10-01 02:06:00,2.100000,,0,53378,7818709,None,None,...,TASK,NaN,None,NaN,"{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7818709, 'title': 'Capas Academia do De...",None,None
3,28136922,2024-10-01 00:00:00,2024-10-01 03:21:00,3.350000,,0,53378,7863568,None,None,...,TASK,NaN,None,NaN,"{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7863568, 'title': 'Arte WhatsApp | Rela...",None,None
4,28132094,2024-10-01 00:00:00,2024-10-01 09:00:00,9.000000,,0,52809,7768613,None,None,...,TASK,NaN,None,NaN,"{'id': 52809, 'first_name': 'VINICIUS', 'last_...",None,None,"{'id': 7768613, 'title': 'IFO0019/2024-GESTÃO ...",None,None

In [15]:
df.describe()

,id,duration,cost,user_id,task_log_id,task_log_rework_id
count,2.000000e+02,200.000000,200.0,200.000000,2.000000e+02,23.000000
mean,2.778632e+07,4.303450,0.0,55620.110000,7.633905e+06,648495.086957
std,1.310669e+05,2.917189,0.0,4319.430998,3.750768e+05,18889.302949
min,2.767475e+07,0.166667,0.0,51198.000000,6.473194e+06,567248.000000
25%,2.769109e+07,1.760000,0.0,52774.750000,7.647024e+06,650734.500000
50%,2.772179e+07,4.000000,0.0,52880.000000,7.803288e+06,654841.000000
75%,2.783619e+07,8.000000,0.0,59616.000000,7.841239e+06,655965.500000
max,2.814267e+07,10.000000,0.0,64100.000000,7.947205e+06,656901.000000

In [16]:
df['rework_hour'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 200 entries, 0 to 199
Series name: rework_hour
Non-Null Count  Dtype
--------------  -----
23 non-null     object
dtypes: object(1)
memory usage: 1.7+ KB

In [17]:
df['duration'].describe()

count    200.000000
mean       4.303450
std        2.917189
min        0.166667
25%        1.760000
50%        4.000000
75%        8.000000
max       10.000000
Name: duration, dtype: float64

In [18]:
df.columns

Index(['id', 'start', 'stop', 'duration', '?column?', 'cost', 'user_id',
       'task_log_id', 'project_id', 'client_id', 'created_at', 'status',
       'type', 'task_log_rework_id', 'comments', 'rework_hour', 'user',
       'client', 'project', 'task', 'userPosition', 'billInput'],
      dtype='object')

In [19]:
columns_to_drop = ['?column?', 'cost','project_id', 'client_id','comments', 'client', 'project','userPosition', 'billInput']
df = df.drop(columns=columns_to_drop)

In [20]:
load_df_to_bigquery(df,project_id=project_id, dataset_id=dataset_id,table_id="df")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: rework_hour, user, task.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.df

In [21]:
df

,id,start,stop,duration,user_id,task_log_id,created_at,status,type,task_log_rework_id,rework_hour,user,task
0,28142667,2024-10-01 00:00:00,2024-10-01 03:50:00,3.833333,52712,7536495,2024-10-22 00:50:20,pending,TASK,656006.0,"{'requested_by': 'client', 'description': '<p>...","{'id': 52712, 'first_name': 'LUIS', 'last_name...","{'id': 7536495, 'title': 'INSTITUCIONAL | CRIA..."
1,28136940,2024-10-01 00:00:00,2024-10-01 02:23:00,2.383333,53378,7833619,2024-10-21 22:16:26,pending,TASK,656668.0,"{'requested_by': 'client', 'description': '<p>...","{'id': 53378, 'first_name': 'LUD', 'last_name'...","{'id': 7833619, 'title': 'iFood Descomplica | ..."
2,28136931,2024-10-01 00:00:00,2024-10-01 02:06:00,2.100000,53378,7818709,2024-10-21 22:16:21,pending,TASK,NaN,NaN,"{'id': 53378, 'first_name': 'LUD', 'last_name'...","{'id': 7818709, 'title': 'Capas Academia do De..."
3,28136922,2024-10-01 00:00:00,2024-10-01 03:21:00,3.350000,53378,7863568,2024-10-21 22:16:12,pending,TASK,NaN,NaN,"{'id': 53378, 'first_name': 'LUD', 'last_name'...","{'id': 7863568, 'title': 'Arte WhatsApp | Rela..."
4,28132094,2024-10-01 00:00:00,2024-10-01 09:00:00,9.000000,52809,7768613,2024-10-21 20:37:38,pending,TASK,NaN,NaN,"{'id': 52809, 'first_name': 'VINICIUS', 'last_...","{'id': 7768613, 'title': 'IFO0019/2024-GESTÃO ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,27678263,2024-10-01 00:00:00,2024-10-01 01:45:36,1.760000,51578,7818121,2024-10-02 12:40:35,pending,TASK,652317.0,"{'requested_by': 'client', 'description': '<p>...","{'id': 51578, 'first_name': 'FELIPE', 'last_na...","{'id': 7818121, 'title': 'REPORT ANUAL | CRIAç..."
196,27678262,2024-10-01 00:00:00,2024-10-01 00:39:36,0.660000,51578,7796227,2024-10-02 12:40:35,pending,TASK,NaN,NaN,"{'id': 51578, 'first_name': 'FELIPE', 'last_na...","{'id': 7796227, 'title': 'RIR_REPORTS', 'proje..."
197,27678212,2024-10-01 00:00:00,2024-10-01 04:00:00,4.000000,52789,7339726,2024-10-02 12:35:25,pending,TASK,NaN,NaN,"{'id': 52789, 'first_name': 'MARIANA', 'last_n...","{'id': 7339726, 'title': 'MENTORIA_CRIATIVOS',..."
198,27678209,2024-10-01 00:00:00,2024-10-01 04:00:00,4.000000,52789,7840901,2024-10-02 12:35:15,pending,TASK,NaN,NaN,"{'id': 52789, 'first_name': 'MARIANA', 'last_n...","{'id': 7840901, 'title': '01/07 AON - QUEIJOS ..."
199,27674749,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,52779,7479683,2024-10-02 04:20:37,pending,TASK,NaN,NaN,"{'id': 52779, 'first_name': 'GABRIELA', 'last_...","{'id': 7479683, 'title': 'GOSTOSO, SABOROSO / ..."

## Dataframe Hours

In [22]:
df_hours = df.iloc[:,:10]
df_hours

,id,start,stop,duration,user_id,task_log_id,created_at,status,type,task_log_rework_id
0,28142667,2024-10-01 00:00:00,2024-10-01 03:50:00,3.833333,52712,7536495,2024-10-22 00:50:20,pending,TASK,656006.0
1,28136940,2024-10-01 00:00:00,2024-10-01 02:23:00,2.383333,53378,7833619,2024-10-21 22:16:26,pending,TASK,656668.0
2,28136931,2024-10-01 00:00:00,2024-10-01 02:06:00,2.100000,53378,7818709,2024-10-21 22:16:21,pending,TASK,NaN
3,28136922,2024-10-01 00:00:00,2024-10-01 03:21:00,3.350000,53378,7863568,2024-10-21 22:16:12,pending,TASK,NaN
4,28132094,2024-10-01 00:00:00,2024-10-01 09:00:00,9.000000,52809,7768613,2024-10-21 20:37:38,pending,TASK,NaN
...,...,...,...,...,...,...,...,...,...,...
195,27678263,2024-10-01 00:00:00,2024-10-01 01:45:36,1.760000,51578,7818121,2024-10-02 12:40:35,pending,TASK,652317.0
196,27678262,2024-10-01 00:00:00,2024-10-01 00:39:36,0.660000,51578,7796227,2024-10-02 12:40:35,pending,TASK,NaN
197,27678212,2024-10-01 00:00:00,2024-10-01 04:00:00,4.000000,52789,7339726,2024-10-02 12:35:25,pending,TASK,NaN
198,27678209,2024-10-01 00:00:00,2024-10-01 04:00:00,4.000000,52789,7840901,2024-10-02 12:35:15,pending,TASK,NaN
199,27674749,2024-10-01 00:00:00,2024-10-01 08:00:00,8.000000,52779,7479683,2024-10-02 04:20:37,pending,TASK,NaN

In [23]:
df_hours.rename(columns={'id': 'id_hours'}, inplace=True)
df_hours.columns

Index(['id_hours', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type', 'task_log_rework_id'],
      dtype='object')

In [24]:
df_hours.isnull().sum()

id_hours                0
start                   0
stop                    0
duration                0
user_id                 0
task_log_id             0
created_at              0
status                  0
type                    0
task_log_rework_id    177
dtype: int64

In [25]:
load_df_to_bigquery(df_hours,project_id=project_id, dataset_id=dataset_id,table_id="hours")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.hours

## Dataframe Users

In [26]:
df_users = df[['user']]
user_list = []
for index, row in df_users.iterrows():
    user_list.append(row['user'])
df_users = pd.DataFrame(user_list)
df_users

,id,first_name,last_name,picture,cuil,remaining_hours,timezone,gmt
0,52712,LUIS,DE PAULA,https://user-images.projectcor.com/production/...,900488,-2805,America/Buenos_Aires,-03:00
1,53378,LUD,ARAUJO,https://user-images.projectcor.com/production/...,900492,100,America/Sao_Paulo,-03:00
2,53378,LUD,ARAUJO,https://user-images.projectcor.com/production/...,900492,100,America/Sao_Paulo,-03:00
3,53378,LUD,ARAUJO,https://user-images.projectcor.com/production/...,900492,100,America/Sao_Paulo,-03:00
4,52809,VINICIUS,CURI,https://user-images.projectcor.com/production/...,800398,100,America/Sao_Paulo,-03:00
...,...,...,...,...,...,...,...,...
195,51578,FELIPE,BRENTAN,https://user-images.projectcor.com/production/...,800390,100,America/Buenos_Aires,-03:00
196,51578,FELIPE,BRENTAN,https://user-images.projectcor.com/production/...,800390,100,America/Buenos_Aires,-03:00
197,52789,MARIANA,JULIANI,https://user-images.projectcor.com/production/...,101490F,84,America/Sao_Paulo,-03:00
198,52789,MARIANA,JULIANI,https://user-images.projectcor.com/production/...,101490F,84,America/Sao_Paulo,-03:00
199,52779,GABRIELA,CAMPAGNUCCI,https://user-images.projectcor.com/production/...,800376,100,America/Sao_Paulo,-03:00

In [27]:
df_users.rename(columns={'id': 'id_user'}, inplace=True)
df_users.columns

Index(['id_user', 'first_name', 'last_name', 'picture', 'cuil',
       'remaining_hours', 'timezone', 'gmt'],
      dtype='object')

In [28]:
print(df_users.isnull().sum())

id_user            0
first_name         0
last_name          0
picture            0
cuil               0
remaining_hours    0
timezone           0
gmt                0
dtype: int64

In [29]:
load_df_to_bigquery(df_users,project_id=project_id, dataset_id=dataset_id,table_id="users")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.users

In [30]:
# df_hours_user = pd.merge(df_hours, df_users, left_on='user_id', right_on='id_user')
# display(df_hours_user)
# load_df_to_bigquery(df_hours_user,project_id=project_id, dataset_id=dataset_id,table_id="users_hours")

## Dataframe Task

In [31]:
df_tasks = df[['task']]

task_list = []
for index, row in df_tasks.iterrows():
    task_list.append(row['task'])


df_tasks = pd.DataFrame(task_list)
df_project = df_tasks[['project']]

# drop_columns_task = ['task_father', 'father', 'labels', 'reworks', 'lastReworks','project']
# df_tasks = df_tasks.drop(columns=drop_columns_task)
df_tasks

,id,title,project_id,task_father,status,father,project,labels,reworks,lastReworks
0,7536495,INSTITUCIONAL | CRIAÇÃO | Peças Mídia,481817,7641360.0,finalizada,"{'id': 7641360, 'title': 'INSTITUCIONAL | CRIA...","{'id': 481817, 'name': 'INSTITUCIONAL 2024', '...",[],"[{'id': 287076382, 'eventlogstable_id': 753649...","[{'id': 656006, 'task_log_id': 7536495, 'user_..."
1,7833619,iFood Descomplica | 1 Ano l DA,433450,7828273.0,finalizada,"{'id': 7828273, 'title': 'iFood Descomplica | ...","{'id': 433450, 'name': 'JOB FAST B2B', 'client...",[],"[{'id': 293860185, 'eventlogstable_id': 783361...","[{'id': 656668, 'task_log_id': 7833619, 'user_..."
2,7818709,Capas Academia do Delivery | Criação,433450,7817476.0,en_diseno,"{'id': 7817476, 'title': ' Capas Academia do D...","{'id': 433450, 'name': 'JOB FAST B2B', 'client...",[],"[{'id': 291865460, 'eventlogstable_id': 781870...","[{'id': 662071, 'task_log_id': 7818709, 'user_..."
3,7863568,Arte WhatsApp | Relatorio para Restaurantes | ...,433450,7854724.0,finalizada,"{'id': 7854724, 'title': 'Arte WhatsApp - Rela...","{'id': 433450, 'name': 'JOB FAST B2B', 'client...",[],"[{'id': 295101743, 'eventlogstable_id': 786356...","[{'id': 659236, 'task_log_id': 7863568, 'user_..."
4,7768613,IFO0019/2024-GESTÃO e LIDERANÇA,469687,NaN,finalizada,None,"{'id': 469687, 'name': 'ROCK IN RIO', 'client_...",[],[],[]
...,...,...,...,...,...,...,...,...,...,...
195,7818121,REPORT ANUAL | CRIAçÃO,433503,7712282.0,finalizada,"{'id': 7712282, 'title': 'REPORT ANUAL_MB2_2024'}","{'id': 433503, 'name': 'REPORT ANUAL', 'client...",[],"[{'id': 291704062, 'eventlogstable_id': 781812...","[{'id': 652317, 'task_log_id': 7818121, 'user_..."
196,7796227,RIR_REPORTS,469687,7551196.0,finalizada,"{'id': 7551196, 'title': 'IFO0019/2024_ROCK IN...","{'id': 469687, 'name': 'ROCK IN RIO', 'client_...",[],[],[]
197,7339726,MENTORIA_CRIATIVOS,446263,NaN,finalizada,None,"{'id': 446263, 'name': 'DM9 AÇOES', 'client_id...",[],[],[]
198,7840901,01/07 AON - QUEIJOS MASTERCHEF - Criação,473481,7839997.0,finalizada,"{'id': 7839997, 'title': '01/10 AON - QUEIJOS ...","{'id': 473481, 'name': 'GOSTOSO SABOROSO', 'cl...",[],[],[]
199,7479683,"GOSTOSO, SABOROSO / DASH E ANÁLISE RESULTADOS",473481,NaN,en_proceso,None,"{'id': 473481, 'name': 'GOSTOSO SABOROSO', 'cl...",[],"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."

In [32]:
df_tasks.rename(columns={'id': 'task_id'}, inplace=True)
df_tasks.columns

Index(['task_id', 'title', 'project_id', 'task_father', 'status', 'father',
       'project', 'labels', 'reworks', 'lastReworks'],
      dtype='object')

In [33]:
print(df_tasks.isnull().sum())

task_id         0
title           0
project_id      0
task_father    94
status          0
father         94
project         0
labels          0
reworks         0
lastReworks     0
dtype: int64

In [34]:
load_df_to_bigquery(df_tasks,project_id=project_id, dataset_id=dataset_id,table_id="task")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: father, project, labels, reworks, lastReworks.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.task

## Dataframe reworks

In [35]:
import ast

df_tasks['reworks'] = df_tasks['reworks'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_tasks['lastReworks'] = df_tasks['lastReworks'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
filtered_data = df_tasks[(df_tasks['reworks'].apply(lambda x: len(x) > 0)) | (df_tasks['lastReworks'].apply(lambda x: len(x) > 0))]
filtered_data[['reworks', 'lastReworks']]

,reworks,lastReworks
0,"[{'id': 287076382, 'eventlogstable_id': 753649...","[{'id': 656006, 'task_log_id': 7536495, 'user_..."
1,"[{'id': 293860185, 'eventlogstable_id': 783361...","[{'id': 656668, 'task_log_id': 7833619, 'user_..."
2,"[{'id': 291865460, 'eventlogstable_id': 781870...","[{'id': 662071, 'task_log_id': 7818709, 'user_..."
3,"[{'id': 295101743, 'eventlogstable_id': 786356...","[{'id': 659236, 'task_log_id': 7863568, 'user_..."
6,"[{'id': 294561920, 'eventlogstable_id': 770292...","[{'id': 658132, 'task_log_id': 7702929, 'user_..."
18,"[{'id': 294561920, 'eventlogstable_id': 770292...","[{'id': 658132, 'task_log_id': 7702929, 'user_..."
26,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."
42,"[{'id': 289250880, 'eventlogstable_id': 771105...","[{'id': 647214, 'task_log_id': 7711053, 'user_..."
59,"[{'id': 292677952, 'eventlogstable_id': 767243...","[{'id': 667702, 'task_log_id': 7672430, 'user_..."
63,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
65,"[{'id': 293961172, 'eventlogstable_id': 785169...","[{'id': 656901, 'task_log_id': 7851694, 'user_..."
67,"[{'id': 291704062, 'eventlogstable_id': 781812...","[{'id': 652317, 'task_log_id': 7818121, 'user_..."
75,"[{'id': 293033261, 'eventlogstable_id': 781748...","[{'id': 655211, 'task_log_id': 7817486, 'user_..."
80,"[{'id': 293860185, 'eventlogstable_id': 783361...","[{'id': 656668, 'task_log_id': 7833619, 'user_..."
81,"[{'id': 292677952, 'eventlogstable_id': 767243...","[{'id': 667702, 'task_log_id': 7672430, 'user_..."
82,"[{'id': 296109568, 'eventlogstable_id': 789153...","[{'id': 661367, 'task_log_id': 7891538, 'user_..."
89,"[{'id': 295382994, 'eventlogstable_id': 784363...","[{'id': 659772, 'task_log_id': 7843632, 'user_..."
90,"[{'id': 299220258, 'eventlogstable_id': 784123...","[{'id': 668240, 'task_log_id': 7841230, 'user_..."
93,"[{'id': 295217568, 'eventlogstable_id': 777730...","[{'id': 659465, 'task_log_id': 7777305, 'user_..."
98,"[{'id': 295382994, 'eventlogstable_id': 784363...","[{'id': 659772, 'task_log_id': 7843632, 'user_..."
108,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."
112,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
113,"[{'id': 292708045, 'eventlogstable_id': 778018...","[{'id': 663651, 'task_log_id': 7780186, 'user_..."
114,"[{'id': 294301832, 'eventlogstable_id': 783000...","[{'id': 668802, 'task_log_id': 7830008, 'user_..."
123,"[{'id': 282541525, 'eventlogstable_id': 766288...","[{'id': 633280, 'task_log_id': 7662882, 'user_..."
130,"[{'id': 280967844, 'eventlogstable_id': 760926...","[{'id': 638838, 'task_log_id': 7609265, 'user_..."
138,"[{'id': 242497205, 'eventlogstable_id': 656719...","[{'id': 567248, 'task_log_id': 6567193, 'user_..."
143,"[{'id': 288410979, 'eventlogstable_id': 771749...","[{'id': 669333, 'task_log_id': 7717492, 'user_..."
144,"[{'id': 293791449, 'eventlogstable_id': 777386...","[{'id': 656532, 'task_log_id': 7773869, 'user_..."
152,"[{'id': 293961172, 'eventlogstable_id': 785169...","[{'id': 656901, 'task_log_id': 7851694, 'user_..."
158,"[{'id': 291433461, 'eventlogstable_id': 776200...","[{'id': 655925, 'task_log_id': 7762007, 'user_..."
160,"[{'id': 298597277, 'eventlogstable_id': 781750...","[{'id': 666881, 'task_log_id': 7817506, 'user_..."
165,"[{'id': 290227996, 'eventlogstable_id': 778095...","[{'id': 649152, 'task_log_id': 7780952, 'user_..."
167,"[{'id': 280967844, 'eventlogstable_id': 760926...","[{'id': 638838, 'task_log_id': 7609265, 'user_..."
174,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
175,"[{'id': 292207183, 'eventlogstable_id': 781077...","[{'id': 658197, 'task_log_id': 7810773, 'user_..."
182,"[{'id': 299435493, 'eventlogstable_id': 783565...","[{'id': 668749, 'task_log_id': 7835658, 'user_..."
183,"[{'id': 294423537, 'eventlogstable_id': 783527...","[{'id': 667408, 'task_log_id': 7835278, 'user_..."
191,"[{'id': 296239930, 'eventlogstable_id': 782809...","[{'id': 661620, 'task_log_id': 7828092, 'user_..."
192,"[{'id': 296242947, 'eventlogstable_id': 770293...","[{'id': 668847, 'task_log_id': 7702931, 'user_..."
195,"[{'id': 291704062, 'eventlogstable_id': 781812...","[{'id': 652317, 'task_log_id': 7818121, 'user_..."
199,"[{'id': 294835383, 'eventlogstable_id': 747968...","[{'id': 658721, 'task_log_id': 7479683, 'user_..."

In [36]:
df_reworks = filtered_data[['reworks']]

reworks_list = []
for index, row in filtered_data.iterrows():
    for x in row['reworks']:
        field_change = x['field_change']
        del x['field_change']
        dict_concat = {**x, **field_change}
        reworks_list.append(dict_concat)

df_reworks = pd.DataFrame(reworks_list)
df_reworks

,id,eventlogstable_id,created_at,requested_by,description,isEdition
0,287076382,7536495,2024-09-06 15:11:27,internal,...,False
1,287415966,7536495,2024-09-09 12:56:46,client,"<p>Oi pessoal, tudo bem?</p><p>&nbsp;</p><p>Se...",False
2,293503104,7536495,2024-09-30 19:57:20,client,<p>Oi...</p>,False
3,293860185,7833619,2024-10-01 16:11:23,client,<p>Colocar a frase de comemoração de 1 ano de ...,False
4,291865460,7818709,2024-09-24 19:21:45,client,...,False
...,...,...,...,...,...,...
89,296242947,7702931,2024-10-09 14:08:00,client,...,False
90,298885502,7702931,2024-10-18 15:05:30,client,<p>...</p>,False
91,299479123,7702931,2024-10-21 20:48:49,client,...,False
92,291704062,7818121,2024-09-24 14:23:50,client,...,False
93,294835383,7479683,2024-10-03 21:19:29,client,<p>...</p>,False

In [37]:
load_df_to_bigquery(df_reworks,project_id=project_id, dataset_id=dataset_id,table_id="reworks")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.reworks

## Dataframe Last Reworks

In [38]:
df_lastreworks = filtered_data[['lastReworks']]

lastreworks_list = []
for index, row in filtered_data.iterrows():
    for x in row['lastReworks']:
        lastreworks_list.append(x)
        
df_lastreworks = pd.DataFrame(lastreworks_list)
df_lastreworks

,id,task_log_id,user_id,contact_id,date,source,description,field_change,company_id,created_at,updated_at,deleted_at,reason,deadline,attachments
0,656006,7536495,62272,None,2024-09-30T00:00:00.000Z,client,"<p>Oi Lu, tudo bem?</p><p>&nbsp;</p><p>Agora p...","{'requested_by': 'client', 'description': '<p>...",3898,2024-09-30 19:57:20,2024-09-30 19:57:20,None,adjustment,2024-10-01T18:00:00.000Z,[]
1,643247,7536495,62272,None,2024-09-09T00:00:00.000Z,client,"<p>Oi pessoal, tudo bem?</p><p>&nbsp;</p><p>Se...","{'requested_by': 'client', 'description': '<p>...",3898,2024-09-09 12:56:46,2024-09-09 12:56:46,None,adjustment,2024-09-09T15:00:00.000Z,"[{'id': '8165989', 'url': 'https://cor.works/p..."
2,642629,7536495,62272,None,2024-09-06T00:00:00.000Z,internal,<p>Ajustes para o vídeo de Soulcode:</p><p>&nb...,"{'requested_by': 'internal', 'description': '<...",3898,2024-09-06 15:11:27,2024-09-06 15:11:27,None,adjustment,2024-09-06T18:00:00.000Z,[]
3,656668,7833619,51578,None,2024-10-01T00:00:00.000Z,client,<p>Colocar a frase de comemoração de 1 ano de ...,"{'requested_by': 'client', 'description': '<p>...",3898,2024-10-01 16:11:23,2024-10-01 16:11:23,None,adjustment,2024-10-01T21:00:00.000Z,[]
4,662071,7818709,51578,None,2024-10-09T00:00:00.000Z,client,"<p><span class=""mention user-mention-53378"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-09 19:54:59,2024-10-09 19:54:59,None,adjustment,2024-10-09T21:00:00.000Z,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,668847,7702931,51578,None,2024-10-21T00:00:00.000Z,client,"<p><span class=""mention user-mention-52794"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-21 20:48:49,2024-10-21 20:48:49,None,adjustment,2024-10-23T21:00:00.000Z,[]
90,667534,7702931,51578,None,2024-10-18T00:00:00.000Z,client,"<p><span class=""mention user-mention-53378"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-18 15:05:30,2024-10-18 15:05:30,None,adjustment,2024-10-21T21:00:00.000Z,[]
91,661628,7702931,51578,None,2024-10-09T00:00:00.000Z,client,"<p><span class=""mention user-mention-52784"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-09 14:08:00,2024-10-09 14:08:00,None,adjustment,2024-10-10T21:00:00.000Z,[]
92,652317,7818121,51578,None,2024-09-24T00:00:00.000Z,client,"<p><span class=""mention user-mention-52822"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-09-24 14:23:50,2024-09-24 14:23:50,None,adjustment,None,[]
93,658721,7479683,52908,None,2024-10-03T00:00:00.000Z,client,"<p><span class=""mention user-mention-52938"" id...","{'requested_by': 'client', 'description': '<p>...",3898,2024-10-03 21:19:29,2024-10-03 21:19:29,None,adjustment,2024-10-04T21:19:00.000Z,[]

In [39]:
load_df_to_bigquery(df_lastreworks,project_id=project_id, dataset_id=dataset_id,table_id="lastreworks")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: contact_id, field_change, deleted_at, attachments.
  warnings.warn(

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.lastreworks

## Dataframe Project

In [40]:
df_project

                                               project
0    {'id': 481817, 'name': 'INSTITUCIONAL 2024', '...
1    {'id': 433450, 'name': 'JOB FAST B2B', 'client...
2    {'id': 433450, 'name': 'JOB FAST B2B', 'client...
3    {'id': 433450, 'name': 'JOB FAST B2B', 'client...
4    {'id': 469687, 'name': 'ROCK IN RIO', 'client_...
..                                                 ...
195  {'id': 433503, 'name': 'REPORT ANUAL', 'client...
196  {'id': 469687, 'name': 'ROCK IN RIO', 'client_...
197  {'id': 446263, 'name': 'DM9 AÇOES', 'client_id...
198  {'id': 473481, 'name': 'GOSTOSO SABOROSO', 'cl...
199  {'id': 473481, 'name': 'GOSTOSO SABOROSO', 'cl...

[200 rows x 1 columns]

In [41]:
project_list = []
for index, row in df_project.iterrows():
    project_list.append(row['project'])

df_project = pd.DataFrame(project_list)
df_client = df_project[['client']]

df_project = df_project.drop(columns=['client'])
df_project

         id                name  client_id
0    481817  INSTITUCIONAL 2024      65780
1    433450        JOB FAST B2B      58231
2    433450        JOB FAST B2B      58231
3    433450        JOB FAST B2B      58231
4    469687         ROCK IN RIO      58231
..      ...                 ...        ...
195  433503        REPORT ANUAL      58231
196  469687         ROCK IN RIO      58231
197  446263           DM9 AÇOES      58404
198  473481    GOSTOSO SABOROSO      58275
199  473481    GOSTOSO SABOROSO      58275

[200 rows x 3 columns]

In [42]:

df_project.rename(columns={'id': 'project_id'}, inplace=True)

In [43]:
df_project.columns

Index(['project_id', 'name', 'client_id'], dtype='object')

In [44]:
df_project.isnull().sum()

project_id    0
name          0
client_id     0
dtype: int64

In [45]:
df_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   project_id  200 non-null    int64
 1   name        200 non-null    object
 2   client_id   200 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.8+ KB

In [46]:
load_df_to_bigquery(df_project,project_id=project_id, dataset_id=dataset_id,table_id="project")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.project

## Dataframe Client

In [47]:
client_list = []
for index, row in df_client.iterrows():
    client_list.append(row['client'])

df_client = pd.DataFrame(client_list)
df_client

        id                                        name  client_status_id
0    65780  SOUL CODE ACADEMY CAPACITACAO PROFISSIONAL                 1
1    58231                                       IFOOD                 1
2    58231                                       IFOOD                 1
3    58231                                       IFOOD                 1
4    58231                                       IFOOD                 1
..     ...                                         ...               ...
195  58231                                       IFOOD                 1
196  58231                                       IFOOD                 1
197  58404                                         DM9                 1
198  58275                        VIGOR ALIMENTOS S.A.                 1
199  58275                        VIGOR ALIMENTOS S.A.                 1

[200 rows x 3 columns]

In [48]:
df_client.isnull().sum()

id                  0
name                0
client_status_id    0
dtype: int64

In [49]:
df_client.rename(columns={'id': 'client_id', 'name':'nama_client'}, inplace=True)
df_client.columns

Index(['client_id', 'nama_client', 'client_status_id'], dtype='object')

In [50]:
load_df_to_bigquery(df_client,project_id=project_id, dataset_id=dataset_id,table_id="client")

DataFrame loaded to BigQuery table: soulcode-434516.projeto_final.client

In [51]:
df_client.isnull().sum()

client_id           0
nama_client         0
client_status_id    0
dtype: int64

In [62]:
users = df_users.copy()  # Replace with your data loading method
hours = df_hours.copy()
task = df_tasks.copy()
project = df_project.copy()
client = df_client.copy()

users_hours_merge_key = "id_user"  # Assuming users.id_user is the same as hours.user_id
hours_task_merge_key = "task_log_id"  # Assuming hours.task_log_id is the same as task.task_id
task_project_merge_key = "project_id"
project_client_merge_key = "client_id"

joined_data = pd.merge(users, hours, left_on='id_user', right_on='user_id')
joined_data = pd.merge(joined_data, task, left_on='task_log_id', right_on='task_id')
joined_data = pd.merge(joined_data, project, left_on='project_id', right_on='project_id')
joined_data = pd.merge(joined_data, project, left_on='client_id', right_on='client_id')





# selected_columns = {
#     "id_user": "users_id_user",
#     "first_name": "users_first_name",
#     "last_name": "users_last_name",
#     "id_hours": "hours_id_hours",
#     "start": "hours_start",
#     "stop": "hours_stop",
#     "duration": "hours_duration",
#     "task_id": "task_task_id",
#     "title": "task_title",
#     "project_id": "project_project_id",
#     "name_x": "project_name",
#     "client_id": "client_client_id",
#     "name_y": "client_name",  }


# joined_data.rename(columns=selected_columns, inplace=True)

joined_data

,id_user,first_name,last_name,picture,cuil,remaining_hours,timezone,gmt,id_hours,start,...,status_y,father,project,labels,reworks,lastReworks,name_x,client_id,project_id_y,name_y
0,52712,LUIS,DE PAULA,https://user-images.projectcor.com/production/...,900488,-2805,America/Buenos_Aires,-03:00,28142667,2024-10-01 00:00:00,...,finalizada,"{'id': 7641360, 'title': 'INSTITUCIONAL | CRIA...","{'id': 481817, 'name': 'INSTITUCIONAL 2024', '...",[],"[{'id': 287076382, 'eventlogstable_id': 753649...","[{'id': 656006, 'task_log_id': 7536495, 'user_...",INSTITUCIONAL 2024,65780,481817,INSTITUCIONAL 2024
1,52712,LUIS,DE PAULA,https://user-images.projectcor.com/production/...,900488,-2805,America/Buenos_Aires,-03:00,28142667,2024-10-01 00:00:00,...,finalizada,"{'id': 7641360, 'title': 'INSTITUCIONAL | CRIA...","{'id': 481817, 'name': 'INSTITUCIONAL 2024', '...",[],"[{'id': 287076382, 'eventlogstable_id': 753649...","[{'id': 656006, 'task_log_id': 7536495, 'user_...",INSTITUCIONAL 2024,65780,481817,INSTITUCIONAL 2024
2,52712,LUIS,DE PAULA,https://user-images.projectcor.com/production/...,900488,-2805,America/Buenos_Aires,-03:00,28142667,2024-10-01 00:00:00,...,finalizada,"{'id': 7641360, 'title': 'INSTITUCIONAL | CRIA...","{'id': 481817, 'name': 'INSTITUCIONAL 2024', '...",[],"[{'id': 287076382, 'eventlogstable_id': 753649...","[{'id': 656006, 'task_log_id': 7536495, 'user_...",INSTITUCIONAL 2024,65780,481817,INSTITUCIONAL 2024
3,52712,LUIS,DE PAULA,https://user-images.projectcor.com/production/...,900488,-2805,America/Buenos_Aires,-03:00,28142667,2024-10-01 00:00:00,...,finalizada,"{'id': 7641360, 'title': 'INSTITUCIONAL | CRIA...","{'id': 481817, 'name': 'INSTITUCIONAL 2024', '...",[],"[{'id': 287076382, 'eventlogstable_id': 753649...","[{'id': 656006, 'task_log_id': 7536495, 'user_...",INSTITUCIONAL 2024,65780,481817,INSTITUCIONAL 2024
4,52712,LUIS,DE PAULA,https://user-images.projectcor.com/production/...,900488,-2805,America/Buenos_Aires,-03:00,28142667,2024-10-01 00:00:00,...,finalizada,"{'id': 7641360, 'title': 'INSTITUCIONAL | CRIA...","{'id': 481817, 'name': 'INSTITUCIONAL 2024', '...",[],"[{'id': 287076382, 'eventlogstable_id': 753649...","[{'id': 656006, 'task_log_id': 7536495, 'user_...",INSTITUCIONAL 2024,65780,481817,INSTITUCIONAL 2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337660,52852,AYLA,NASCIMENTO,https://user-images.projectcor.com/production/...,10964,100,America/Sao_Paulo,-03:00,27695879,2024-10-01 00:00:00,...,finalizada,"{'id': 6567106, 'title': 'CAMPANHA INSTITUCION...","{'id': 438579, 'name': 'CAMPANHA 2024', 'clien...",[],"[{'id': 242497205, 'eventlogstable_id': 656719...","[{'id': 567248, 'task_log_id': 6567193, 'user_...",CAMPANHA 2024,58350,438579,CAMPANHA 2024
337661,52815,SARA,DESSOU,https://user-images.projectcor.com/production/...,900434,100,America/Sao_Paulo,-03:00,27680591,2024-10-01 00:00:00,...,finalizada,"{'id': 7637976, 'title': 'OUTUBRO ROSA 2024_CR...","{'id': 508746, 'name': 'OUTUBRO ROSA 2024', 'c...",[],"[{'id': 290227996, 'eventlogstable_id': 778095...","[{'id': 649152, 'task_log_id': 7780952, 'user_...",OUTUBRO ROSA 2024,58416,508746,OUTUBRO ROSA 2024
337662,52815,SARA,DESSOU,https://user-images.projectcor.com/production/...,900434,100,America/Sao_Paulo,-03:00,27680591,2024-10-01 00:00:00,...,finalizada,"{'id': 7637976, 'title': 'OUTUBRO ROSA 2024_CR...","{'id': 508746, 'name': 'OUTUBRO ROSA 2024', 'c...",[],"[{'id': 290227996, 'eventlogstable_id': 778095...","[{'id': 649152, 'task_log_id': 7780952, 'user_...",OUTUBRO ROSA 2024,58416,487240,CAMPANHA DELBONI
337663,52827,MARINA,RIBEIRO,https://user-images.projectcor.com/production/...,800331,100,America/Sao_Paulo,-03:00,27679074,2024-10-01 00:00:00,...,finalizada,"{'id': 7398348, 'title': 'DELBONI_INSTITUCIONA...","{'id': 487240, 'name': 'CAMPANHA DELBONI', 'cl...",[],"[{'id': 294423537, 'eventlogstable_id': 783527...","[{'id': 667408, 'task_log_id': 7835278, 'user_...",CAMPANHA DELBONI,58416,508746,OUTUBRO ROSA 2024
337664,52827,MARINA,RIBEIRO,https://user-images.projectcor.com/production/...,800331,100,America/Sao_Paulo,-03:00,27679074,2024-10-01 00:00:00,...,finalizada,"{'id': 7398348, 'title': 'DELBONI_INSTITUCIONA...","{'id': 487240, 'name': 'CAMPANHA DELBONI', 'cl...",[],"[{'id': 294423537, 'eventlogstable_id': 783527...","[{'id': 667408, 'task_log_id': 7835278, 'user_...",CAMPANHA DELBONI,58416,487240,CAMPANHA DELBONI

In [53]:
df_merged = pd.concat([df_hours, df_users,df_tasks,df_project,df_client], axis=1)
df_merged.columns

Index(['id_hours', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type', 'task_log_rework_id', 'id_user',
       'first_name', 'last_name', 'picture', 'cuil', 'remaining_hours',
       'timezone', 'gmt', 'task_id', 'title', 'project_id', 'task_father',
       'status', 'father', 'project', 'labels', 'reworks', 'lastReworks',
       'project_id', 'name', 'client_id', 'client_id', 'nama_client',
       'client_status_id'],
      dtype='object')

# Endpoint Contacts

In [54]:
end_contacts = 'https://api.projectcor.com/v1/contacts'

In [55]:
data_contacts = []
page = 1

query =  f'https://api.projectcor.com/v1/contacts?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)


df = pd.DataFrame(data)
df

HTTP error occurred: 403 Client Error: Forbidden for url: https://api.projectcor.com/v1/contacts?filters=%7B%22dateStart%22:%222024-10-01%22,%22dateDeadline%22:%222024-10-17%22,%22clients%22:null,%22projects%22:null,%22users%22:null,%22labels%22:null,%22teams%22:null%7D&page=1&orderBy=%7B%22by%22:%22start%22,%22order%22:%22ASC%22%7D
Retrying in 3 seconds...
HTTP error occurred: 403 Client Error: Forbidden for url: https://api.projectcor.com/v1/contacts?filters=%7B%22dateStart%22:%222024-10-01%22,%22dateDeadline%22:%222024-10-17%22,%22clients%22:null,%22projects%22:null,%22users%22:null,%22labels%22:null,%22teams%22:null%7D&page=1&orderBy=%7B%22by%22:%22start%22,%22order%22:%22ASC%22%7D
Retrying in 3 seconds...
HTTP error occurred: 403 Client Error: Forbidden for url: https://api.projectcor.com/v1/contacts?filters=%7B%22dateStart%22:%222024-10-01%22,%22dateDeadline%22:%222024-10-17%22,%22clients%22:null,%22projects%22:null,%22users%22:null,%22labels%22:null,%22teams%22:null%7D&page=1&orderBy=%7B%22by%22:%22start%22,%22order%22:%22ASC%22%7D
Retrying in 3 seconds...
Max retries reached. Unable to fetch data.

Empty DataFrame
Columns: []
Index: []

# Endpoint Clients

In [56]:
end_clients = 'https://api.projectcor.com/v1/clients'

In [57]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_clients, headers=headers, max_retries=3, retry_delay=3)


df = pd.DataFrame(data)
df

Empty DataFrame
Columns: [total, perPage, page, lastPage, data]
Index: []

# Endpoint Projects

In [58]:
end_projects = 'https://api.projectcor.com/v1/projects'

In [ ]:
data_contacts = []
page = 1
query = f'https://api.projectcor.com/v1/projects?filters={{"dateStart": "2024-10-01", "dateEnd": "2024-10-17", "client_id": null, "team_id": null, "status": ["finished", "in_process", "suspended"], "user_id": null, "health": [1, 2, 3, 4], "brand_id": null, "archived": [1, 2], "product_id": null}}&page={page}&orderBy={{"by": "start", "order": "ASC"}}'
data = fetch_data_with_retry(end_projects, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint Brands

In [ ]:
end_brands = 'https://api.projectcor.com/v1/brands'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_brands, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint Products

In [ ]:
end_products = 'https://api.projectcor.com/v1/products'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_products, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint tasks

In [ ]:
end_task = 'https://api.projectcor.com/v1/tasks?page=1&perPage=20'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_task, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint User

In [ ]:
end_user = 'https://api.projectcor.com/v1/users/'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_user, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint Transactions

In [ ]:
end_transactions = 'https://api.projectcor.com/v1/transactions/total'

In [ ]:
data = fetch_data_with_retry(end_transactions, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)