In [1]:
!pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2023.7.22)

In [2]:
import os
import io
import math
import requests
import time
import numpy as np
import pandas as pd
import mysql.connector

from mysql.connector import Error
from google.cloud import storage
from google.cloud import bigquery
from pyspark.sql import DataFrame, SparkSession
from unidecode import unidecode
from sqlalchemy import create_engine
from urllib.parse import quote_plus



from scipy import stats

from sqlalchemy import Column, Integer, Float, String, Boolean, DateTime, Text
from sqlalchemy.orm import declarative_base

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
credentials_path = "/home/jovyan/code/.devcontainer/soulcode-iam-key.json"
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [4]:
def fetch_data(url, headers=None):
    try:
      response = requests.get(url, headers=headers)
      response.raise_for_status()
      return response.json()
    except requests.exceptions.HTTPError as e:
      print(f"HTTP error occurred: {e}")
      return None
    except requests.exceptions.ConnectionError as e:
      print(f"connexion error occurred: {e}")
      return None
    except requests.exceptions.Timeout as e:
      print(f"Request timed out: {e}")
      return None
    except requests.exceptions.RequestException as e:
      print(f"Error fetching data from {url}: {e}")
      return None

def fetch_data_with_retry(url, headers=None, max_retries=3, retry_delay=5):
    for _ in range(max_retries):
        data = fetch_data(url, headers)
        if data is not None:
            return data
        print(f"Retrying in {retry_delay} seconds...")
        time.sleep(retry_delay)
    print("Max retries reached. Unable to fetch data.")
    return None

In [5]:
project_id = 'soulcode-434516'
dataset_id = 'projeto_final'
location = 'US'
client = bigquery.Client(project=project_id)

def create_dataset_bigQuery(client, dataset_id, location='US'):
    """Cria um dataset no BigQuery.

    Args:
        client: Um objeto cliente do BigQuery.
        dataset_id: O ID do dataset a ser criado.
        location: A localização geográfica do dataset.

    Returns:
        Um objeto Dataset representando o dataset criado.

    Raises:
        Exception: Se ocorrer algum erro durante a criação do dataset.
    """

    dataset_ref = client.dataset(dataset_id)
    dataset = bigquery.Dataset(dataset_ref)
    dataset.location = location

    try:
        dataset = client.create_dataset(dataset)
        print(f"Dataset {dataset.dataset_id} criado com sucesso!")
        return dataset
    except Exception as e:
        raise


# auth.authenticate_user()

# Criar o Dataset
dataset = None
try:
    dataset = create_dataset_bigQuery(client, dataset_id, location)
except Exception as e:
    print(f"Erro ao criar o dataset: {e}")

Erro ao criar o dataset: 409 POST https://bigquery.googleapis.com/bigquery/v2/projects/soulcode-434516/datasets?prettyPrint=false: Already Exists: Dataset soulcode-434516:projeto_final

In [6]:
from google.cloud import bigquery

def load_df_to_bigquery(df, project_id, dataset_id, table_id):
  """Loads a Pandas DataFrame into a BigQuery table.

  Args:
    df: The Pandas DataFrame to load.
    project_id: Your Google Cloud project ID.
    dataset_id: The BigQuery dataset ID.
    table_id: The BigQuery table ID.
  """
  # Construct the full table ID
  table_locadora_id = f"{project_id}.{dataset_id}.{table_id}"

  # Configure the load job to truncate the table
  job_config = bigquery.LoadJobConfig(
      write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE
  )

  # Create a BigQuery client
  client = bigquery.Client(project=project_id)

  # Load the DataFrame into BigQuery
  job = client.load_table_from_dataframe(df, table_locadora_id, job_config=job_config)
  job.result()  # Wait for the job to complete

  print(f"DataFrame loaded to BigQuery table: {table_locadora_id}")

In [7]:
url_login = 'https://api.projectcor.com/v1/auth/login'
content = {
  "email": "academico@soulcode.com",
  "password": "Admin@123"
}
response  = requests.post(url_login, json=content)
token = token = response.json()['token']['access_token']
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjYyODQ3LCJkYXRhIjp7InVzZXJfaGFzaCI6ImM4YWI5OGQ1ZTAzYWExYWQzMTRkMjBmNDAxNzU4MTgwIiwiaXNfY29udGFjdCI6ZmFsc2UsImVudiI6InByb2R1Y3Rpb24ifSwiaWF0IjoxNzI5MjU2NTQyLCJleHAiOjE3MjkyNjAxNDIsImF1ZCI6IkNPUjpBUElTRVJWSUNFUyJ9.9sxh4McZCePT8ibJcyvqy3Aqy-DWB-QK_0LcozcRHHU'

# Clients

In [8]:
base_url = 'https://api.projectcor.com/v1'
headers = {
    'Authorization': f'Bearer {token}',
    'Content-Type': "application/json"
}
url = base_url + '/clients'

response = requests.get(url, headers=headers)
response.json()['data']

[]

In [9]:
# horas
base_url = "https://api.projectcor.com/v1"
endpoint = 'https://api.projectcor.com/v1/hours?filters={"dateStart":"2024-01-01","dateDeadline":"2024-01-01","clients":null,"projects":null,"users":null,"labels":null,"teams":null }&page=1&orderBy={"by":"start","order":"ASC"}'
page = 1
query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-01-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'


data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data['data'])
df_info = pd.DataFrame(data)
display(df_info)
# lastpage = df_info['last_page']

,total_hours,total_cost,data,total,perPage,page,lastPage
0,306091.204444,0,"{'id': 27716411, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
1,306091.204444,0,"{'id': 26921260, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
2,306091.204444,0,"{'id': 26907712, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
3,306091.204444,0,"{'id': 26834362, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
4,306091.204444,0,"{'id': 26654944, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
5,306091.204444,0,"{'id': 26598825, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
6,306091.204444,0,"{'id': 25585476, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
7,306091.204444,0,"{'id': 25202987, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
8,306091.204444,0,"{'id': 24206507, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
9,306091.204444,0,"{'id': 22709174, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
10,306091.204444,0,"{'id': 22592228, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
11,306091.204444,0,"{'id': 22206116, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
12,306091.204444,0,"{'id': 22148699, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
13,306091.204444,0,"{'id': 22118065, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
14,306091.204444,0,"{'id': 22110693, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
15,306091.204444,0,"{'id': 22063096, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
16,306091.204444,0,"{'id': 22053328, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
17,306091.204444,0,"{'id': 22049643, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
18,306091.204444,0,"{'id': 22049421, 'start': '2024-01-01 00:00:00...",81585,20,1,4080
19,306091.204444,0,"{'id': 22048464, 'start': '2024-01-01 00:00:00...",81585,20,1,4080

In [10]:
all_data = []
page = 1
while page <= 10: #4078
    query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-01-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
    data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)

    if data is None or not data['data']:
        break

    all_data.extend(data['data'])
    page = page + 1
    print(page, end=', ')

df = pd.DataFrame(all_data)
df

2, 3, 4, 5, 6, 7, 8, 9, 10, 11,

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,user,client,project,task,userPosition,billInput,rework_hour
0,27716411,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,,0,52921,6567786,None,None,...,TASK,NaN,None,"{'id': 52921, 'first_name': 'LEANDRO', 'last_n...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
1,26921260,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,,0,52943,6567786,None,None,...,TASK,NaN,None,"{'id': 52943, 'first_name': 'JESSICA', 'last_n...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
2,26907712,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,,0,53077,6589398,None,None,...,TASK,NaN,None,"{'id': 53077, 'first_name': 'TAMIRES', 'last_n...",None,None,"{'id': 6589398, 'title': 'FERIADOS E EMENDAS',...",None,None,NaN
3,26834362,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,,0,52939,6567786,None,None,...,TASK,NaN,None,"{'id': 52939, 'first_name': 'GRAÇA', 'last_nam...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
4,26654944,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,,0,52683,6567786,None,None,...,TASK,NaN,None,"{'id': 52683, 'first_name': 'ANA CECILIA', 'la...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,21981144,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,,0,52906,6526485,None,None,...,TASK,NaN,None,"{'id': 52906, 'first_name': 'STHEFANY', 'last_...",None,None,"{'id': 6526485, 'title': 'MRV0381/2023_SETE SO...",None,None,NaN
196,21980714,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,,0,52793,6621789,None,None,...,TASK,NaN,None,"{'id': 52793, 'first_name': 'GUSTAVO', 'last_n...",None,None,"{'id': 6621789, 'title': 'MRV0379/2023_C7S PAR...",None,None,NaN
197,21980673,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,,0,52914,6544074,None,None,...,TASK,NaN,None,"{'id': 52914, 'first_name': 'CAROLINE', 'last_...",None,None,"{'id': 6544074, 'title': 'IFO0005/2024_iFood B...",None,None,NaN
198,21980401,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,,0,52780,6495380,None,None,...,TASK,NaN,None,"{'id': 52780, 'first_name': 'ANA', 'last_name'...",None,None,"{'id': 6495380, 'title': '[DM9] COM0001_2024_S...",None,None,NaN
199,21980053,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,,0,52774,6521027,None,None,...,TASK,NaN,None,"{'id': 52774, 'first_name': 'MATHEUS', 'last_n...",None,None,"{'id': 6521027, 'title': 'AON 2024_CRIAÇÃO REG...",None,None,NaN

In [20]:
df.info()
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           200 non-null    int64
 1   start        200 non-null    object
 2   stop         200 non-null    object
 3   duration     200 non-null    float64
 4   user_id      200 non-null    int64
 5   task_log_id  200 non-null    int64
 6   created_at   200 non-null    object
 7   status       200 non-null    object
 8   type         200 non-null    object
 9   user         200 non-null    object
 10  task         200 non-null    object
 11  rework_hour  13 non-null     object
dtypes: float64(1), int64(3), object(8)
memory usage: 18.9+ KB
Index(['id', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type', 'user', 'task', 'rework_hour'],
      dtype='object')

In [21]:
display(df.head(5))

,id,start,stop,duration,user_id,task_log_id,created_at,status,type,user,task,rework_hour
0,27716411,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52921,6567786,2024-10-03 14:53:47,pending,TASK,"{'id': 52921, 'first_name': 'LEANDRO', 'last_n...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
1,26921260,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52943,6567786,2024-09-02 18:01:50,pending,TASK,"{'id': 52943, 'first_name': 'JESSICA', 'last_n...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
2,26907712,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,53077,6589398,2024-09-02 14:04:38,pending,TASK,"{'id': 53077, 'first_name': 'TAMIRES', 'last_n...","{'id': 6589398, 'title': 'FERIADOS E EMENDAS',...",NaN
3,26834362,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52939,6567786,2024-08-29 18:33:17,pending,TASK,"{'id': 52939, 'first_name': 'GRAÇA', 'last_nam...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
4,26654944,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52683,6567786,2024-08-22 14:51:08,pending,TASK,"{'id': 52683, 'first_name': 'ANA CECILIA', 'la...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN

In [22]:
df['duration'].describe()

count    200.000000
mean       6.862500
std        2.445351
min        0.500000
25%        8.000000
50%        8.000000
75%        8.000000
max       12.000000
Name: duration, dtype: float64

In [27]:
df.columns

Index(['id', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type', 'user', 'task', 'rework_hour'],
      dtype='object')

In [ ]:
# columns_to_drop = ['?column?', 'cost','project_id', 'client_id','task_log_rework_id','comments', 'client', 'project','userPosition', 'billInput']
# df = df.drop(columns=columns_to_drop)

In [30]:
df

,id,start,stop,duration,user_id,task_log_id,created_at,status,type,user,task,rework_hour
0,27716411,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52921,6567786,2024-10-03 14:53:47,pending,TASK,"{'id': 52921, 'first_name': 'LEANDRO', 'last_n...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
1,26921260,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52943,6567786,2024-09-02 18:01:50,pending,TASK,"{'id': 52943, 'first_name': 'JESSICA', 'last_n...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
2,26907712,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,53077,6589398,2024-09-02 14:04:38,pending,TASK,"{'id': 53077, 'first_name': 'TAMIRES', 'last_n...","{'id': 6589398, 'title': 'FERIADOS E EMENDAS',...",NaN
3,26834362,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52939,6567786,2024-08-29 18:33:17,pending,TASK,"{'id': 52939, 'first_name': 'GRAÇA', 'last_nam...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
4,26654944,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52683,6567786,2024-08-22 14:51:08,pending,TASK,"{'id': 52683, 'first_name': 'ANA CECILIA', 'la...","{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
195,21981144,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52906,6526485,2024-01-31 21:26:33,pending,TASK,"{'id': 52906, 'first_name': 'STHEFANY', 'last_...","{'id': 6526485, 'title': 'MRV0381/2023_SETE SO...",NaN
196,21980714,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52793,6621789,2024-01-31 21:21:57,pending,TASK,"{'id': 52793, 'first_name': 'GUSTAVO', 'last_n...","{'id': 6621789, 'title': 'MRV0379/2023_C7S PAR...",NaN
197,21980673,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52914,6544074,2024-01-31 21:21:31,pending,TASK,"{'id': 52914, 'first_name': 'CAROLINE', 'last_...","{'id': 6544074, 'title': 'IFO0005/2024_iFood B...",NaN
198,21980401,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52780,6495380,2024-01-31 21:18:03,pending,TASK,"{'id': 52780, 'first_name': 'ANA', 'last_name'...","{'id': 6495380, 'title': '[DM9] COM0001_2024_S...",NaN
199,21980053,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52774,6521027,2024-01-31 21:14:27,pending,TASK,"{'id': 52774, 'first_name': 'MATHEUS', 'last_n...","{'id': 6521027, 'title': 'AON 2024_CRIAÇÃO REG...",NaN

In [31]:
df_hours = df.iloc[:,:9]
df_hours

,id,start,stop,duration,user_id,task_log_id,created_at,status,type
0,27716411,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52921,6567786,2024-10-03 14:53:47,pending,TASK
1,26921260,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52943,6567786,2024-09-02 18:01:50,pending,TASK
2,26907712,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,53077,6589398,2024-09-02 14:04:38,pending,TASK
3,26834362,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52939,6567786,2024-08-29 18:33:17,pending,TASK
4,26654944,2024-01-01 00:00:00,2024-01-01 08:00:00,8.0,52683,6567786,2024-08-22 14:51:08,pending,TASK
...,...,...,...,...,...,...,...,...,...
195,21981144,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52906,6526485,2024-01-31 21:26:33,pending,TASK
196,21980714,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52793,6621789,2024-01-31 21:21:57,pending,TASK
197,21980673,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52914,6544074,2024-01-31 21:21:31,pending,TASK
198,21980401,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52780,6495380,2024-01-31 21:18:03,pending,TASK
199,21980053,2024-01-02 00:00:00,2024-01-02 08:00:00,8.0,52774,6521027,2024-01-31 21:14:27,pending,TASK

In [18]:
df_hours.rename(columns={'id': 'id_hours'}, inplace=True)
df_hours.columns

Index(['id_hours', 'start', 'stop', 'duration', 'user_id', 'task_log_id',
       'created_at', 'status', 'type'],
      dtype='object')

In [19]:
load_df_to_bigquery(df_hours,project_id=project_id, dataset_id=dataset_id,table_id="hours")

Forbidden: 403 POST https://bigquery.googleapis.com/upload/bigquery/v2/projects/soulcode-434516/jobs?uploadType=multipart: Access Denied: Project soulcode-434516: User does not have bigquery.jobs.create permission in project soulcode-434516.

In [ ]:
df_users = df.iloc[:,9:10]
user_list = []
for index, row in df_users.iterrows():
    user_list.append(row['user'])
df_users = pd.DataFrame(user_list)
df_users

In [ ]:
df_users.rename(columns={'id': 'id_user'}, inplace=True)
df_users.columns

In [ ]:
load_df_to_bigquery(df_users,project_id=project_id, dataset_id=dataset_id,table_id="users")

In [ ]:
df_hours_user = pd.merge(df_hours, df_users, left_on='user_id', right_on='id_user')
display(df_hours_user)
load_df_to_bigquery(df_hours_user,project_id=project_id, dataset_id=dataset_id,table_id="users_hours")

In [ ]:
df_tasks = df.iloc[:,-1:]

task_list = []
for index, row in df_tasks.iterrows():
    task_list.append(row['task'])

df_tasks = pd.DataFrame(task_list)
df_project = df_tasks[['project']]

drop_columns_task = ['task_father', 'father', 'labels', 'reworks', 'lastReworks','project']
df_tasks = df_tasks.drop(columns=drop_columns_task)
df_tasks

In [ ]:
df_tasks.rename(columns={'id': 'task_id'}, inplace=True)
df_tasks.columns

In [ ]:
df_project

In [ ]:
project_list = []
for index, row in df_project.iterrows():
    project_list.append(row['project'])

df_project = pd.DataFrame(project_list)
df_client = df_project[['client']]
df_project = df_project.drop(columns=['client'])
df_project

In [ ]:
client_list = []
for index, row in df_client.iterrows():
    client_list.append(row['client'])

df_client = pd.DataFrame(client_list)
df_client

In [ ]:
df_client.isnull().sum()

In [ ]:
df_merged = pd.concat([df_hours, df_users,df_tasks,df_project,df_client], axis=1)
df_merged

In [ ]:
from google.cloud import bigquery
project_id = 'soulcode-434516'
dataset_id = 'projeto_final'
client = bigquery.Client()

def create_dataset_bigQuery(client, dataset_id, location="US"):
    """Cria um dataset no BigQuery.

    Args:
        client: Um objeto cliente do BigQuery.
        dataset_id: O ID do dataset a ser criado.
        location: A localização geográfica do dataset.

    Returns:
        Um objeto Dataset representando o dataset criado.

    Raises:
        Exception: Se ocorrer algum erro durante a criação do dataset.
    """

    dataset_ref = client.dataset(dataset_id)
    dataset = bigquery.Dataset(dataset_ref)
    dataset.location = location

    try:
        dataset = client.create_dataset(dataset)
        print(f"Dataset {dataset.dataset_id} criado com sucesso!")
        return dataset
    except Exception as e:
        raise

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
# Criar o Dataset
dataset = None
try:
    dataset = create_dataset_bigQuery(client, dataset_id)
except Exception as e:
    print(f"Erro ao criar o dataset: {e}")

Conexao Banco de Dados

In [ ]:
HOST = '34.16.33.165'
DB = 'petrobras'
USER = 'soulcode'
PASSWORD = 'Soulcode@!12pass'