In [1]:
!pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2024.8.30)

In [12]:
import os
import io
import math
import requests
import time
import numpy as np
import pandas as pd
import mysql.connector

from mysql.connector import Error
from google.cloud import storage
from google.cloud import bigquery
from pyspark.sql import DataFrame, SparkSession
from unidecode import unidecode
from sqlalchemy import create_engine
from urllib.parse import quote_plus



from scipy import stats

from sqlalchemy import Column, Integer, Float, String, Boolean, DateTime, Text
from sqlalchemy.orm import declarative_base

import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
credentials_path = "/home/jovyan/code/.devcontainer/soulcode-iam-key.json"
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [14]:
def fetch_data(url, headers=None):
    try:
      response = requests.get(url, headers=headers)
      response.raise_for_status()
      return response.json()
    except requests.exceptions.HTTPError as e:
      print(f"HTTP error occurred: {e}")
      return None
    except requests.exceptions.ConnectionError as e:
      print(f"connexion error occurred: {e}")
      return None
    except requests.exceptions.Timeout as e:
      print(f"Request timed out: {e}")
      return None
    except requests.exceptions.RequestException as e:
      print(f"Error fetching data from {url}: {e}")
      return None

def fetch_data_with_retry(url, headers=None, max_retries=3, retry_delay=5):
    for _ in range(max_retries):
        data = fetch_data(url, headers)
        if data is not None:
            return data
        print(f"Retrying in {retry_delay} seconds...")
        time.sleep(retry_delay)
    print("Max retries reached. Unable to fetch data.")
    return None

In [15]:
project_id = 'soulcode-434516'
dataset_id = 'projeto_final'
location = 'US'
client = bigquery.Client(project=project_id)

def create_dataset_bigQuery(client, dataset_id, location='US'):
    """Cria um dataset no BigQuery.

    Args:
        client: Um objeto cliente do BigQuery.
        dataset_id: O ID do dataset a ser criado.
        location: A localização geográfica do dataset.

    Returns:
        Um objeto Dataset representando o dataset criado.

    Raises:
        Exception: Se ocorrer algum erro durante a criação do dataset.
    """

    dataset_ref = client.dataset(dataset_id)
    dataset = bigquery.Dataset(dataset_ref)
    dataset.location = location

    try:
        dataset = client.create_dataset(dataset)
        print(f"Dataset {dataset.dataset_id} criado com sucesso!")
        return dataset
    except Exception as e:
        raise


# auth.authenticate_user()

# Criar o Dataset
dataset = None
try:
    dataset = create_dataset_bigQuery(client, dataset_id, location)
except Exception as e:
    print(f"Erro ao criar o dataset: {e}")

Erro ao criar o dataset: 409 POST https://bigquery.googleapis.com/bigquery/v2/projects/soulcode-434516/datasets?prettyPrint=false: Already Exists: Dataset soulcode-434516:projeto_final

In [16]:
from google.cloud import bigquery

def load_df_to_bigquery(df, project_id, dataset_id, table_id):
  """Loads a Pandas DataFrame into a BigQuery table.

  Args:
    df: The Pandas DataFrame to load.
    project_id: Your Google Cloud project ID.
    dataset_id: The BigQuery dataset ID.
    table_id: The BigQuery table ID.
  """
  # Construct the full table ID
  table_locadora_id = f"{project_id}.{dataset_id}.{table_id}"

  # Configure the load job to truncate the table
  job_config = bigquery.LoadJobConfig(
      write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE
  )

  # Create a BigQuery client
  client = bigquery.Client(project=project_id)

  # Load the DataFrame into BigQuery
  job = client.load_table_from_dataframe(df, table_locadora_id, job_config=job_config)
  job.result()  # Wait for the job to complete

  print(f"DataFrame loaded to BigQuery table: {table_locadora_id}")

In [17]:
url_login = 'https://api.projectcor.com/v1/auth/login'
content = {
  "email": "academico@soulcode.com",
  "password": "Admin@123"
}
response  = requests.post(url_login, json=content)
token = token = response.json()['token']['access_token']
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjYyODQ3LCJkYXRhIjp7InVzZXJfaGFzaCI6ImM4YWI5OGQ1ZTAzYWExYWQzMTRkMjBmNDAxNzU4MTgwIiwiaXNfY29udGFjdCI6ZmFsc2UsImVudiI6InByb2R1Y3Rpb24ifSwiaWF0IjoxNzI5MjQyNzY5LCJleHAiOjE3MjkyNDYzNjksImF1ZCI6IkNPUjpBUElTRVJWSUNFUyJ9.hPG6H-WilrWUFBH4euj9VzMgBhLFsnNab-so3QBVH84'

# Clients

In [18]:
base_url = 'https://api.projectcor.com/v1'
headers = {
    'Authorization': f'Bearer {token}',
    'Content-Type': "application/json"
}
url = base_url + '/clients'

response = requests.get(url, headers=headers)
response.json()['data']

[]

In [9]:
# horas
base_url = "https://api.projectcor.com/v1"
endpoint = 'https://api.projectcor.com/v1/hours?filters={"dateStart":"2024-01-01","dateDeadline":"2024-01-01","clients":null,"projects":null,"users":null,"labels":null,"teams":null }&page=1&orderBy={"by":"start","order":"ASC"}'
page = 1
query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-01-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'


data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data['data'])
df_info = pd.DataFrame(data)
display(df_info)
# lastpage = df_info['last_page']

,total_hours,total_cost,data,total,perPage,page,lastPage
0,306066.204444,0,"{'id': 27716411, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
1,306066.204444,0,"{'id': 26921260, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
2,306066.204444,0,"{'id': 26907712, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
3,306066.204444,0,"{'id': 26834362, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
4,306066.204444,0,"{'id': 26654944, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
5,306066.204444,0,"{'id': 26598825, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
6,306066.204444,0,"{'id': 25585476, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
7,306066.204444,0,"{'id': 25202987, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
8,306066.204444,0,"{'id': 24206507, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
9,306066.204444,0,"{'id': 22709174, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
10,306066.204444,0,"{'id': 22592228, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
11,306066.204444,0,"{'id': 22206116, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
12,306066.204444,0,"{'id': 22148699, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
13,306066.204444,0,"{'id': 22118065, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
14,306066.204444,0,"{'id': 22110693, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
15,306066.204444,0,"{'id': 22063096, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
16,306066.204444,0,"{'id': 22053328, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
17,306066.204444,0,"{'id': 22049643, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
18,306066.204444,0,"{'id': 22049421, 'start': '2024-01-01 00:00:00...",81580,20,1,4079
19,306066.204444,0,"{'id': 22048464, 'start': '2024-01-01 00:00:00...",81580,20,1,4079

In [19]:
all_data = []
page = 1
while page <= 1000: #4078
    query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-01-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
    data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)

    if data is None or not data['data']:
        break

    all_data.extend(data['data'])
    page = page + 1
    print(page, end=', ')

df = pd.DataFrame(all_data)
df

2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001,

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,user,client,project,task,userPosition,billInput,rework_hour
0,27716411,2024-01-01 00:00:00,2024-01-01 08:00:00,8.00,,0,52921,6567786,None,None,...,TASK,NaN,None,"{'id': 52921, 'first_name': 'LEANDRO', 'last_n...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
1,26921260,2024-01-01 00:00:00,2024-01-01 08:00:00,8.00,,0,52943,6567786,None,None,...,TASK,NaN,None,"{'id': 52943, 'first_name': 'JESSICA', 'last_n...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
2,26907712,2024-01-01 00:00:00,2024-01-01 08:00:00,8.00,,0,53077,6589398,None,None,...,TASK,NaN,None,"{'id': 53077, 'first_name': 'TAMIRES', 'last_n...",None,None,"{'id': 6589398, 'title': 'FERIADOS E EMENDAS',...",None,None,NaN
3,26834362,2024-01-01 00:00:00,2024-01-01 08:00:00,8.00,,0,52939,6567786,None,None,...,TASK,NaN,None,"{'id': 52939, 'first_name': 'GRAÇA', 'last_nam...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
4,26654944,2024-01-01 00:00:00,2024-01-01 08:00:00,8.00,,0,52683,6567786,None,None,...,TASK,NaN,None,"{'id': 52683, 'first_name': 'ANA CECILIA', 'la...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23145291,2024-03-04 00:00:00,2024-03-04 09:00:00,9.00,,0,52773,6528442,None,None,...,TASK,NaN,None,"{'id': 52773, 'first_name': 'VICTHORIA', 'last...",None,None,"{'id': 6528442, 'title': 'IF0008_2024_BBB_ Ges...",None,None,NaN
19996,23130152,2024-03-04 00:00:00,2024-03-04 08:00:00,8.00,,0,52757,6573801,None,None,...,TASK,NaN,None,"{'id': 52757, 'first_name': 'LONQUEM', 'last_n...",None,None,"{'id': 6573801, 'title': 'COMPENSAÇÃO DE HORAS...",None,None,NaN
19997,23110443,2024-03-04 00:00:00,2024-03-04 00:45:00,0.75,,0,53285,6767394,None,None,...,TASK,NaN,None,"{'id': 53285, 'first_name': 'PATRICIA', 'last_...",None,None,"{'id': 6767394, 'title': 'HITS_BI_ATUALIZAÇÃO ...",None,None,NaN
19998,23108040,2024-03-04 00:00:00,2024-03-04 08:00:00,8.00,,0,52904,6671777,None,None,...,TASK,521394.0,None,"{'id': 52904, 'first_name': 'LEONARDO', 'last_...",None,None,"{'id': 6671777, 'title': 'GUP0005/2024 - FILME...",None,None,"{'requested_by': 'client', 'description': '<p>..."
19999,23106645,2024-03-04 00:00:00,2024-03-04 08:00:00,8.00,,0,52794,6798009,None,None,...,TASK,NaN,None,"{'id': 52794, 'first_name': 'LUCAS', 'last_nam...",None,None,"{'id': 6798009, 'title': 'AJUSTES NO PLANO - M...",None,None,NaN

In [ ]:
df_page_1 = pd.DataFrame(data)
df_page_1

In [ ]:
df.info()
print(df.columns)

In [ ]:
display(df.head(5))

In [ ]:
df['duration'].describe()

In [ ]:
df.columns

In [ ]:
columns_to_drop = ['?column?', 'cost','project_id', 'client_id','task_log_rework_id','comments', 'client', 'project','userPosition', 'billInput']
df = df.drop(columns=columns_to_drop)

In [ ]:
df

In [ ]:
df_hours = df.iloc[:,:9]
df_hours

In [ ]:
df_hours.rename(columns={'id': 'id_hours'}, inplace=True)
df_hours.columns

In [ ]:
load_df_to_bigquery(df_hours,project_id=project_id, dataset_id=dataset_id,table_id="hours")

In [ ]:
df_users = df.iloc[:,9:10]
user_list = []
for index, row in df_users.iterrows():
    user_list.append(row['user'])
df_users = pd.DataFrame(user_list)
df_users

In [ ]:
df_users.rename(columns={'id': 'id_user'}, inplace=True)
df_users.columns

In [ ]:
load_df_to_bigquery(df_users,project_id=project_id, dataset_id=dataset_id,table_id="users")

In [ ]:
df_hours_user = pd.merge(df_hours, df_users, left_on='user_id', right_on='id_user')
display(df_hours_user)
load_df_to_bigquery(df_hours_user,project_id=project_id, dataset_id=dataset_id,table_id="users_hours")

In [ ]:
df_tasks = df.iloc[:,-1:]

task_list = []
for index, row in df_tasks.iterrows():
    task_list.append(row['task'])

df_tasks = pd.DataFrame(task_list)
df_project = df_tasks[['project']]

drop_columns_task = ['task_father', 'father', 'labels', 'reworks', 'lastReworks','project']
df_tasks = df_tasks.drop(columns=drop_columns_task)
df_tasks

In [ ]:
df_tasks.rename(columns={'id': 'task_id'}, inplace=True)
df_tasks.columns

In [ ]:
df_project

In [ ]:
project_list = []
for index, row in df_project.iterrows():
    project_list.append(row['project'])

df_project = pd.DataFrame(project_list)
df_client = df_project[['client']]
df_project = df_project.drop(columns=['client'])
df_project

In [ ]:
client_list = []
for index, row in df_client.iterrows():
    client_list.append(row['client'])

df_client = pd.DataFrame(client_list)
df_client

In [ ]:
df_client.isnull().sum()

In [ ]:
df_merged = pd.concat([df_hours, df_users,df_tasks,df_project,df_client], axis=1)
df_merged

In [ ]:
from google.cloud import bigquery
project_id = 'soulcode-434516'
dataset_id = 'projeto_final'
client = bigquery.Client()

def create_dataset_bigQuery(client, dataset_id, location="US"):
    """Cria um dataset no BigQuery.

    Args:
        client: Um objeto cliente do BigQuery.
        dataset_id: O ID do dataset a ser criado.
        location: A localização geográfica do dataset.

    Returns:
        Um objeto Dataset representando o dataset criado.

    Raises:
        Exception: Se ocorrer algum erro durante a criação do dataset.
    """

    dataset_ref = client.dataset(dataset_id)
    dataset = bigquery.Dataset(dataset_ref)
    dataset.location = location

    try:
        dataset = client.create_dataset(dataset)
        print(f"Dataset {dataset.dataset_id} criado com sucesso!")
        return dataset
    except Exception as e:
        raise

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
# Criar o Dataset
dataset = None
try:
    dataset = create_dataset_bigQuery(client, dataset_id)
except Exception as e:
    print(f"Erro ao criar o dataset: {e}")

Conexao Banco de Dados

In [ ]:
HOST = '34.16.33.165'
DB = 'petrobras'
USER = 'soulcode'
PASSWORD = 'Soulcode@!12pass'