In [1]:
!pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2024.8.30)

In [2]:
import os
import io
import math
import requests
import time
import numpy as np
import pandas as pd
import mysql.connector

from mysql.connector import Error
from google.cloud import storage
from google.cloud import bigquery
from pyspark.sql import DataFrame, SparkSession
!pip install unidecode
from unidecode import unidecode
from sqlalchemy import create_engine
from urllib.parse import quote_plus



from scipy import stats

from sqlalchemy import Column, Integer, Float, String, Boolean, DateTime, Text
from sqlalchemy.orm import declarative_base

import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: unidecode in /opt/conda/lib/python3.11/site-packages (1.3.8)

In [3]:
# credentials_path = "/home/jovyan/code/.devcontainer/soulcode-434516-8f4db69ae452.json"
credentials_path = "/home/jovyan/code/.devcontainer/soulcode-434516-8f4db69ae452.json"
# credentials_path = "/home/jovyan/code/soulcode-434516-31276919e28c.json"


os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [4]:
def fetch_data(url, headers=None):
    try:
      response = requests.get(url, headers=headers)
      response.raise_for_status()
      return response.json()
    except requests.exceptions.HTTPError as e:
      print(f"HTTP error occurred: {e}")
      return None
    except requests.exceptions.ConnectionError as e:
      print(f"connexion error occurred: {e}")
      return None
    except requests.exceptions.Timeout as e:
      print(f"Request timed out: {e}")
      return None
    except requests.exceptions.RequestException as e:
      print(f"Error fetching data from {url}: {e}")
      return None

def fetch_data_with_retry(url, headers=None, max_retries=3, retry_delay=5):
    for _ in range(max_retries):
        data = fetch_data(url, headers)
        if data is not None:
            return data
        print(f"Retrying in {retry_delay} seconds...")
        time.sleep(retry_delay)
    print("Max retries reached. Unable to fetch data.")
    return None

In [5]:
project_id = 'soulcode-434516'
dataset_id = 'projeto_final'
location = 'US'
client = bigquery.Client(project=project_id)

def create_dataset_bigQuery(client, dataset_id, location='US'):
    """Cria um dataset no BigQuery.

    Args:
        client: Um objeto cliente do BigQuery.
        dataset_id: O ID do dataset a ser criado.
        location: A localização geográfica do dataset.

    Returns:
        Um objeto Dataset representando o dataset criado.

    Raises:
        Exception: Se ocorrer algum erro durante a criação do dataset.
    """

    dataset_ref = client.dataset(dataset_id)
    dataset = bigquery.Dataset(dataset_ref)
    dataset.location = location

    try:
        dataset = client.create_dataset(dataset)
        print(f"Dataset {dataset.dataset_id} criado com sucesso!")
        return dataset
    except Exception as e:
        raise


# auth.authenticate_user()

# Criar o Dataset
dataset = None
try:
    dataset = create_dataset_bigQuery(client, dataset_id, location)
except Exception as e:
    print(f"Erro ao criar o dataset: {e}")

Erro ao criar o dataset: 409 POST https://bigquery.googleapis.com/bigquery/v2/projects/soulcode-434516/datasets?prettyPrint=false: Already Exists: Dataset soulcode-434516:projeto_final

In [6]:
from google.cloud import bigquery

def load_df_to_bigquery(df, project_id, dataset_id, table_id):
  """Loads a Pandas DataFrame into a BigQuery table.

  Args:
    df: The Pandas DataFrame to load.
    project_id: Your Google Cloud project ID.
    dataset_id: The BigQuery dataset ID.
    table_id: The BigQuery table ID.
  """
  # Construct the full table ID
  table_ref = f"{project_id}.{dataset_id}.{table_id}"

  # Configure the load job to truncate the table
  job_config = bigquery.LoadJobConfig(
      write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE
  )

  # Create a BigQuery client
  client = bigquery.Client(project=project_id)

  # Load the DataFrame into BigQuery
  job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
  job.result()  # Wait for the job to complete

  print(f"DataFrame loaded to BigQuery table: {table_ref}")

# Endpoint Auth login

In [7]:
url_login = 'https://api.projectcor.com/v1/auth/login'
content = {
  "email": "academico@soulcode.com",
  "password": "Admin@123"
}
response  = requests.post(url_login, json=content)
token = token = response.json()['token']['access_token']
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjYyODQ3LCJkYXRhIjp7InVzZXJfaGFzaCI6ImM4YWI5OGQ1ZTAzYWExYWQzMTRkMjBmNDAxNzU4MTgwIiwiaXNfY29udGFjdCI6ZmFsc2UsImVudiI6InByb2R1Y3Rpb24ifSwiaWF0IjoxNzI5NTY2NzYxLCJleHAiOjE3Mjk1NzAzNjEsImF1ZCI6IkNPUjpBUElTRVJWSUNFUyJ9.7eqfofXjxQ49h0B1vNfmZkcAVP_QQFNDSPwkjJhqEMQ'

# Clients

In [8]:
base_url = 'https://api.projectcor.com/v1'
headers = {
    'Authorization': f'Bearer {token}',
    'Content-Type': "application/json"
}
url = base_url + '/clients'

response = requests.get(url, headers=headers)
response.json()['data']

[]

In [9]:
# horas
base_url = "https://api.projectcor.com/v1"
endpoint = 'https://api.projectcor.com/v1/hours?filters={"dateStart":"2024-01-01","dateDeadline":"2024-10-22","clients":null,"projects":null,"users":null,"labels":null,"teams":null }&page=1&orderBy={"by":"start","order":"ASC"}'
page = 1
query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-19","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'


data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data['data'])
df_info = pd.DataFrame(data)
display(df_info)
# lastpage = df_info['last_page']

,total_hours,total_cost,data,total,perPage,page,lastPage
0,13343.256667,0,"{'id': 28142667, 'start': '2024-10-01 00:00:00...",3950,20,1,198
1,13343.256667,0,"{'id': 28136940, 'start': '2024-10-01 00:00:00...",3950,20,1,198
2,13343.256667,0,"{'id': 28136931, 'start': '2024-10-01 00:00:00...",3950,20,1,198
3,13343.256667,0,"{'id': 28136922, 'start': '2024-10-01 00:00:00...",3950,20,1,198
4,13343.256667,0,"{'id': 28132094, 'start': '2024-10-01 00:00:00...",3950,20,1,198
5,13343.256667,0,"{'id': 28125093, 'start': '2024-10-01 00:00:00...",3950,20,1,198
6,13343.256667,0,"{'id': 28125090, 'start': '2024-10-01 00:00:00...",3950,20,1,198
7,13343.256667,0,"{'id': 28114109, 'start': '2024-10-01 00:00:00...",3950,20,1,198
8,13343.256667,0,"{'id': 28111238, 'start': '2024-10-01 00:00:00...",3950,20,1,198
9,13343.256667,0,"{'id': 28091708, 'start': '2024-10-01 00:00:00...",3950,20,1,198
10,13343.256667,0,"{'id': 28089633, 'start': '2024-10-01 00:00:00...",3950,20,1,198
11,13343.256667,0,"{'id': 28089630, 'start': '2024-10-01 00:00:00...",3950,20,1,198
12,13343.256667,0,"{'id': 28078144, 'start': '2024-10-01 00:00:00...",3950,20,1,198
13,13343.256667,0,"{'id': 28078098, 'start': '2024-10-01 00:00:00...",3950,20,1,198
14,13343.256667,0,"{'id': 28076746, 'start': '2024-10-01 00:00:00...",3950,20,1,198
15,13343.256667,0,"{'id': 28058699, 'start': '2024-10-01 00:00:00...",3950,20,1,198
16,13343.256667,0,"{'id': 28058648, 'start': '2024-10-01 00:00:00...",3950,20,1,198
17,13343.256667,0,"{'id': 28037733, 'start': '2024-10-01 00:00:00...",3950,20,1,198
18,13343.256667,0,"{'id': 28024899, 'start': '2024-10-01 00:00:00...",3950,20,1,198
19,13343.256667,0,"{'id': 28024824, 'start': '2024-10-01 00:00:00...",3950,20,1,198

# Endopoint /hours

In [10]:
all_data = []
page = 1
while page <= 4078: #4078
    query =  f'https://api.projectcor.com/v1/hours?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
    data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)

    if data is None or not data['data']:
        break

    all_data.extend(data['data'])
    page = page + 1
    print(page, end=', ')

df = pd.DataFrame(all_data)
df

2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190,

,id,start,stop,duration,?column?,cost,user_id,task_log_id,project_id,client_id,...,type,task_log_rework_id,comments,rework_hour,user,client,project,task,userPosition,billInput
0,28142667,2024-10-01 00:00:00,2024-10-01 03:50:00,3.833333,,0,52712,7536495,None,None,...,TASK,656006.0,None,"{'requested_by': 'client', 'description': '<p>...","{'id': 52712, 'first_name': 'LUIS', 'last_name...",None,None,"{'id': 7536495, 'title': 'INSTITUCIONAL | CRIA...",None,None
1,28136940,2024-10-01 00:00:00,2024-10-01 02:23:00,2.383333,,0,53378,7833619,None,None,...,TASK,656668.0,None,"{'requested_by': 'client', 'description': '<p>...","{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7833619, 'title': 'iFood Descomplica | ...",None,None
2,28136931,2024-10-01 00:00:00,2024-10-01 02:06:00,2.100000,,0,53378,7818709,None,None,...,TASK,NaN,None,NaN,"{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7818709, 'title': 'Capas Academia do De...",None,None
3,28136922,2024-10-01 00:00:00,2024-10-01 03:21:00,3.350000,,0,53378,7863568,None,None,...,TASK,NaN,None,NaN,"{'id': 53378, 'first_name': 'LUD', 'last_name'...",None,None,"{'id': 7863568, 'title': 'Arte WhatsApp | Rela...",None,None
4,28132094,2024-10-01 00:00:00,2024-10-01 09:00:00,9.000000,,0,52809,7768613,None,None,...,TASK,NaN,None,NaN,"{'id': 52809, 'first_name': 'VINICIUS', 'last_...",None,None,"{'id': 7768613, 'title': 'IFO0019/2024-GESTÃO ...",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763,28052680,2024-10-17 14:45:11,2024-10-17 18:42:11,3.950000,,0,56814,6567786,None,None,...,TASK,NaN,None,NaN,"{'id': 56814, 'first_name': 'VICTOR', 'last_na...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None
3764,28037979,2024-10-17 15:30:00,2024-10-17 16:30:00,1.000000,,0,59135,7301814,None,None,...,TASK,NaN,[CARE PLUS] OVERVIEW SEMANAL,NaN,"{'id': 59135, 'first_name': 'STEPHANYE', 'last...",None,None,"{'id': 7301814, 'title': 'CARE PLUS SAÚDE - co...",None,None
3765,28037971,2024-10-17 15:30:00,2024-10-17 16:30:00,1.000000,,0,57111,7301828,None,None,...,TASK,NaN,[CARE PLUS] OVERVIEW SEMANAL,NaN,"{'id': 57111, 'first_name': 'ELISA', 'last_nam...",None,None,"{'id': 7301828, 'title': 'CLINIC 2024 - RELATÓ...",None,None
3766,28037923,2024-10-17 17:00:00,2024-10-17 17:45:00,0.750000,,0,52852,6567786,None,None,...,TASK,NaN,"DAILY Diária | CP, FF, Whirlpool e Dasa",NaN,"{'id': 52852, 'first_name': 'AYLA', 'last_name...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None
3767,28061249,2024-10-17 18:42:54,2024-10-17 19:07:54,0.416667,,0,56814,6567786,None,None,...,TASK,NaN,None,NaN,"{'id': 56814, 'first_name': 'VICTOR', 'last_na...",None,None,"{'id': 6567786, 'title': 'HORAS NÃO ALOCADAS E...",None,None

In [ ]:
df.drop

In [11]:
load_df_to_bigquery(df,project_id=project_id, dataset_id=dataset_id,table_id="df")

/opt/conda/lib/python3.11/site-packages/google/cloud/bigquery/_pandas_helpers.py:572: UserWarning: Pyarrow could not determine the type of columns: project_id, client_id, rework_hour, user, client, project, task, userPosition, billInput.
  warnings.warn(

BadRequest: 400 Error while reading data, error message: Field name '?column?' is not supported by the current character map. Please change your field name or use character map V2 to let the system modify the field names.; reason: invalid, message: Error while reading data, error message: Field name '?column?' is not supported by the current character map. Please change your field name or use character map V2 to let the system modify the field names.

In [ ]:
# df_page_1 = pd.DataFrame(data)
# df_page_1

In [ ]:
df.info()
print(df.columns)

In [ ]:
display(df.head(5))

In [ ]:
df.describe()

In [ ]:
df['rework_hour'].info()

In [ ]:
df['duration'].describe()

In [ ]:
df.columns

In [ ]:
columns_to_drop = ['?column?', 'cost','project_id', 'client_id','comments', 'client', 'project','userPosition', 'billInput']
df = df.drop(columns=columns_to_drop)

In [ ]:
df

## Dataframe Hours

In [ ]:
df_hours = df.iloc[:,:10]
df_hours

In [ ]:
df_hours.rename(columns={'id': 'id_hours'}, inplace=True)
df_hours.columns

In [ ]:
df_hours.isnull().sum()

In [ ]:
load_df_to_bigquery(df_hours,project_id=project_id, dataset_id=dataset_id,table_id="hours")

## Dataframe Users

In [ ]:
df_users = df[['user']]
user_list = []
for index, row in df_users.iterrows():
    user_list.append(row['user'])
df_users = pd.DataFrame(user_list)
df_users

In [ ]:
df_users.rename(columns={'id': 'id_user'}, inplace=True)
df_users.columns

In [ ]:
print(df_users.isnull().sum())

In [ ]:
load_df_to_bigquery(df_users,project_id=project_id, dataset_id=dataset_id,table_id="users")

In [ ]:
# df_hours_user = pd.merge(df_hours, df_users, left_on='user_id', right_on='id_user')
# display(df_hours_user)
# load_df_to_bigquery(df_hours_user,project_id=project_id, dataset_id=dataset_id,table_id="users_hours")

## Dataframe Task

In [ ]:
df_tasks = df[['task']]

task_list = []
for index, row in df_tasks.iterrows():
    task_list.append(row['task'])


df_tasks = pd.DataFrame(task_list)
df_project = df_tasks[['project']]

# drop_columns_task = ['task_father', 'father', 'labels', 'reworks', 'lastReworks','project']
# df_tasks = df_tasks.drop(columns=drop_columns_task)
df_tasks

In [ ]:
df_tasks.rename(columns={'id': 'task_id'}, inplace=True)
df_tasks.columns

In [ ]:
print(df_tasks.isnull().sum())

In [ ]:
load_df_to_bigquery(df_tasks,project_id=project_id, dataset_id=dataset_id,table_id="task")

## Dataframe reworks

In [ ]:
import ast

df_tasks['reworks'] = df_tasks['reworks'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_tasks['lastReworks'] = df_tasks['lastReworks'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
filtered_data = df_tasks[(df_tasks['reworks'].apply(lambda x: len(x) > 0)) | (df_tasks['lastReworks'].apply(lambda x: len(x) > 0))]
filtered_data[['reworks', 'lastReworks']]

In [ ]:
df_reworks = filtered_data[['reworks']]

reworks_list = []
for index, row in filtered_data.iterrows():
    for x in row['reworks']:
        field_change = x['field_change']
        del x['field_change']
        dict_concat = {**x, **field_change}
        reworks_list.append(dict_concat)

df_reworks = pd.DataFrame(reworks_list)
df_reworks

In [ ]:
load_df_to_bigquery(df_reworks,project_id=project_id, dataset_id=dataset_id,table_id="reworks")

## Dataframe Last Reworks

In [ ]:
df_lastreworks = filtered_data[['lastReworks']]

lastreworks_list = []
for index, row in filtered_data.iterrows():
    for x in row['lastReworks']:
        lastreworks_list.append(x)
        
df_lastreworks = pd.DataFrame(lastreworks_list)
df_lastreworks

In [ ]:
load_df_to_bigquery(df_lastreworks,project_id=project_id, dataset_id=dataset_id,table_id="lastreworks")

## Dataframe Project

In [ ]:
df_project

In [ ]:
project_list = []
for index, row in df_project.iterrows():
    project_list.append(row['project'])

df_project = pd.DataFrame(project_list)
df_client = df_project[['client']]

df_project = df_project.drop(columns=['client'])
df_project

In [ ]:

df_project.rename(columns={'id': 'project_id'}, inplace=True)

In [ ]:
df_project.columns

In [ ]:
df_project.isnull().sum()

In [ ]:
df_project.info()

In [ ]:
load_df_to_bigquery(df_project,project_id=project_id, dataset_id=dataset_id,table_id="project")

## Dataframe Client

In [ ]:
client_list = []
for index, row in df_client.iterrows():
    client_list.append(row['client'])

df_client = pd.DataFrame(client_list)
df_client

In [ ]:
df_client.isnull().sum()

In [ ]:
df_client.rename(columns={'id': 'client_id'}, inplace=True)
df_client.columns

In [ ]:
load_df_to_bigquery(df_client,project_id=project_id, dataset_id=dataset_id,table_id="client")

In [ ]:
df_client.isnull().sum()

In [ ]:
df_merged = pd.concat([df_hours, df_users,df_tasks,df_project,df_client], axis=1)
df_merged.columns

# Endpoint Contacts

In [ ]:
end_contacts = 'https://api.projectcor.com/v1/contacts'

In [ ]:
data_contacts = []
page = 1

query =  f'https://api.projectcor.com/v1/contacts?filters={{"dateStart":"2024-10-01","dateDeadline":"2024-10-17","clients":null,"projects":null,"users":null,"labels":null,"teams":null}}&page={page}&orderBy={{"by":"start","order":"ASC"}}'
data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)


df = pd.DataFrame(data)
df

# Endpoint Clients

In [ ]:
end_clients = 'https://api.projectcor.com/v1/clients'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_clients, headers=headers, max_retries=3, retry_delay=3)


df = pd.DataFrame(data)
df

# Endpoint Projects

In [ ]:
end_projects = 'https://api.projectcor.com/v1/projects'

In [ ]:
data_contacts = []
page = 1
query = f'https://api.projectcor.com/v1/projects?filters={{"dateStart": "2024-10-01", "dateEnd": "2024-10-17", "client_id": null, "team_id": null, "status": ["finished", "in_process", "suspended"], "user_id": null, "health": [1, 2, 3, 4], "brand_id": null, "archived": [1, 2], "product_id": null}}&page={page}&orderBy={{"by": "start", "order": "ASC"}}'
data = fetch_data_with_retry(query, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint Brands

In [ ]:
end_brands = 'https://api.projectcor.com/v1/brands'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_brands, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint Products

In [ ]:
end_products = 'https://api.projectcor.com/v1/products'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_products, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint tasks

In [ ]:
end_task = 'https://api.projectcor.com/v1/tasks?page=1&perPage=20'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_task, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint User

In [ ]:
end_user = 'https://api.projectcor.com/v1/users/'

In [ ]:
data_contacts = []
page = 1
data = fetch_data_with_retry(end_user, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)

# Endpoint Transactions

In [ ]:
end_transactions = 'https://api.projectcor.com/v1/transactions/total'

In [ ]:
data = fetch_data_with_retry(end_transactions, headers=headers, max_retries=3, retry_delay=3)
df = pd.DataFrame(data)
print(df)